[2018-03-14 22:39] stacywsmith commented on #340
Does a simple non-check mode task using `juniper_junos_facts` succeed for you?
Are you using virtualenv or is python installed in a location other than `/usr/bin/python`?
Are you installing the modules via some method other than `ansible-galaxy`?

The message that `remote module (junos_install_config) does not support check mode` is coming from Ansible. Since the only thing the module should have

[2018-03-14 22:48] itsgc commented on #340
Hello, i see. Thanks for your time anyway :) For future reference here are the answers to the questions asked above:
- we are using virtual-envs
- module is placed manually in ANSIBLE_ROOT/roles/Juniper.junos

I might try running the same setup in a docker container, removing venvs out of the equation and installing from galaxy to see if it changes anything.

Considering we are customers, i howeve

[2018-03-14 22:56] stacywsmith commented on #340
Just to be clear, I am no longer with Juniper. There are still Juniper people supporting these modules. I just suspect they are all sleeping at the moment. ;-)

If you are using virtualenv. Please take a look at ALL of the thread in #322. I suspect that may resolve your issue. You may also want to read all of the thread in #308. Hope that helps.

[2018-03-14 23:23] stacywsmith commented on #340
Bummer. I really expected that would fix the issue.

[2018-03-14 23:25] itsgc commented on #340
It was worth a try! i'll let this sit so that some more eyes get a chance to take a look 👍 thanks again!

[2018-03-15 05:49] vnitinv commented on #340
@itsgc we are looking into this. Will get back to you shortly.

[2018-03-15 13:42] achhabr1 commented on #339
That did not resolve the issue.

My module search path looks OK.

Sending out put after making python change.

(ac043s_automation_env) [ac043s@SDNAUTOS02 ucpe_configuration_template]$ ansible-playbook -i hosts porter_software_version_test.yml -vvvv
ansible-playbook 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/ac043s/.virtualenvs/ac043s_automation_env/

[2018-03-15 14:06] ric79 opened #341 "juniper_junos_command truncated"
Hello,
If I execute:
[code]

I get the configuration truncated (non all lines). Same result if I use `junos_cli` or if I use a `register` variable

At the moment I'm using:
[code]
There are 2500 lines of configuration. File size: 65KB

[code]

Riccardo

[2018-03-15 14:54] ric79 commented on #341
At the moment the only way is:
[code]

[2018-03-15 15:05] stacywsmith commented on #341
Why not just use the `juniper_junos_config` module to retrieve the configuration?

Something like:
[code]

Is there any error produced when you receive the truncated configuration with `juniper_junos_command`?

Also, remember that the default timeout value (the maximum number of seconds to wait for RPC responses from the Junos device) is 30 seconds. You can increase this with the `timeout` option.

[2018-03-15 15:22] stacywsmith commented on #339
Please share:
1) Your `/etc/ansible/ansible.cfg` file.
2) Your `/home/ac043s/software/ansible_development/ucpe_configuration_template/porter_software_version_test.yml` playbook file.
3) The output of ALL of the following:
  `ls -la /etc/ansible/roles`
  `ls -la /etc/ansible/roles/Juniper.junos`
  `ls -la /etc/ansible/roles/Juniper.junos/module_utils`
  `ls -la /usr/share/my_modules`
  `ls -la /usr

[2018-03-15 15:37] ric79 commented on #341
Thanks this is working. I can attach here the log for juniper_junos_command with -vvvvv. I can see the full configuration but then an error appears:
[code]

[2018-03-15 15:45] achhabr1 commented on #339
1. Your /etc/ansible/ansible.cfg file.

[ac043s@SDNAUTOS02 ucpe_configuration_template]$ view /etc/ansible/ansible.cfg
# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible

[2018-03-15 15:50] ric79 commented on #341
Yuppie I understood the problem.

When I run commit check:
[code]

In the ansible.log I see (just when the dest file ends)

<configuration-information>
**<configuration-output>**
## Last commit: 2018-03-15 11:18:06 CET by root
version 17.4R1.16;
system {
 ......
}
/* Role underlay-ebgp: bgp-spine-to-servicehub */
protocols {
**</configuration-output>**
<configuration-detail>
<indent>4</indent>
<co

[2018-03-15 15:57] itsgc commented on #340
Thanks @vnitinv ! happy to provide anything you need for context. Best

[2018-03-15 19:46] achhabr1 commented on #339
Hi Stacey

I was able to make this work via using my own ansible.cfg file, changing the default ansible-galaxy roles path directory to virtual environment one, then doing ansible-galaxy install for the Juniper.junos roles.

But I am currently working on a software upgrade script and saw following errors from Juniper.junos.software module.

TASK [Install Junos OS package] **************************

[2018-03-15 23:15] vnitinv commented on #341
@ric79 You should use juniper_junos_config for fetching config. Closing this issue for now. Do open if you still face any issue.

[2018-03-15 23:15] #341 closed

[2018-03-16 01:38] vnitinv commented on #339
@achhabr1 Closing the original issue, you can open a new one for install_os as this is a different topic altogether.

[2018-03-16 01:38] #339 closed

[2018-03-16 01:39] vnitinv commented on #339
@achhabr1  How did you install Juniper.junos galaxy module? It should not get installed at ..../lib/python2.7/site-packages/ansible/roles/ansible-junos-stdlib-2.0.2/module_utils/

[2018-03-16 05:50] vnitinv commented on #340
@itsgc I got the issue cornered. Would you like to test the fix?

add a line `supports_check_mode=True,`
after
https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/juniper_junos_config.py#L771
similar to
https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/juniper_junos_config.py#L893

[2018-03-16 13:01] stacywsmith commented on #340
Interesting. That's a good discovery Nitin! Of course that means you'll need to do the same for all of the other modules which support check mode.

[2018-03-16 20:44] achhabr1 commented on #339
I installed Juniper.junos module using "-p" argument. this way i was able to direct the module to my virtual environment directory.

[2018-03-16 23:41] vnitinv commented on #340
@stacywsmith we also need to look for other similar parameters which user can pass, say --diff.
Will check if the function import_juniper_junos_common can be modified to be very generic.

[2018-03-17 09:15] itsgc commented on #340
@vnitinv i was out of office yesterday but i'll give it a go today.Many many thanks! will let you know if this fixes it.

[2018-03-20 12:36] itsgc commented on #340
@vnitinv hello Nitin! I can confirm the fix works. when running `ansible-playbook -i inventory.file --ask-vault-pass --check --limit DEVICE` it works as expected.

It does:
1. connects to the device
2. load the change with load replace
3. performs a commit check
4. does _not_ performs an actual commit
5. fetches a diff back to the ansible host

This is the playbook task i have used to test:
`  - n

[2018-03-20 17:55] achhabr1 opened #342 "juniper_junos_software giving errors"
Hi I am trying to upgrade Junos using juniper_junos_software ansible module and getting following errors.

Would you be able to help?

TASK [Install Junos OS package] ******************************************************************************************************************************
task path: /home/ac043s/software/ansible_development/ucpe_configuration_template/porter_software_upgrade.y

[2018-03-20 18:23] stacywsmith commented on #342
What version of PyEZ do you have intalled?

Please provide the content of your `porter_software_upgrade.yml` playbook file.

Please provide the facts output for this device from the `juniper_junos_facts` module.

[2018-03-20 19:12] achhabr1 commented on #342
junos-eznc (2.1.7)

---
- name: JDM Software Upgrade
  hosts: 'fd:192:168:132::156:1'

  roles:
  - Juniper.junos

  connection: local
  gather_facts: no

  vars:
    ansible_python_interpreter: "/home/ac043s/.virtualenvs/ac043s_automation_env/bin/python"
    OS_version: 15.1X53-D470.5
    OS_package: jinstall-nfx-2-flex-15.1X53-D470.5.secure-domestic-signed.tgz
    pkg_dir: /opt/ucpe_software/jdm

[2018-03-20 19:15] achhabr1 commented on #342
(ac043s_automation_env) [ac043s@SDNAUTOS02 ucpe_configuration_template]$ ansible-playbook -i hosts porter_software_version_test.yml -u juniper -k
SSH password:

PLAY [Get Device Facts] **************************************************************************************************************************************

TASK [Checking NETCONF connectivity] ******************************************

[2018-03-20 19:20] stacywsmith commented on #342
@vnitinv The issue is [here](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/sw.py#L91-L92)

Suggest changing this:
[code]
to:
[code]

[2018-03-20 20:11] achhabr1 commented on #342
<fd:192:168:132::156:1> EXEC /bin/sh -c '/home/ac043s/.virtualenvs/ac043s_automation_env/bin/python /home/ac043s/.ansible/tmp/ansible-tmp-1521576330.87-204047292077343/juniper_junos_software.py; rm -rf "/home/ac043s/.ansible/tmp/ansible-tmp-1521576330.87-204047292077343/" > /dev/null 2>&1 && sleep 0'
The full traceback is:
  File "/tmp/ansible_nWmZu3/ansible_module_juniper_junos_software.py", line

[2018-03-20 21:16] achhabr1 commented on #342
I was able to move script forward and saw the OS file getting transferred.

I still get unable to install software error. Attaching log session out put

2018-03-20 17:09:23,380 - jnpr.ansible_module.juniper_junos_software - INFO - [fd:192:168:132::156:1] jinstall-nfx-2-flex-15.1X53-D470.5.secure-domestic-signed.tgz: 121716736 / 1217105706 (10%)
2018-03-20 17:09:26,753 - jnpr.ansible_module.juniper

[2018-03-22 23:05] itsgc commented on #340
Hello @vnitinv i had a look at the code and i have a better understanding now of why the variable at https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/juniper_junos_config.py#L893 wasn't enough.

Would a pull request to correct this for every module that should support check mode be welcome? I'd be happy to do it if so

[2018-03-23 14:35] AdamSmith-Mtl opened #343 "Problems with output in Ansible Tower 3.2.3"
## **Environment**
- Juniper.junos version 2.0.2
- Ansible Tower version 3.2.3
- Ansible versions 2.3.2 and 2.4.3.0

## **Problem**
When I run my playbook in Ansible Tower, as soon as the output reaches a task that includes a role that needs the `Juniper.junos` role, the output starts to have some long string prepended to every single subsequent line, even those that don't use the `Juniper.junos`

[2018-03-23 14:57] stacywsmith commented on #340
@vnitinv Please do test with other Ansible parameters which the user can pass to the module. I am hoping `supports_check_mode` is the only parameter that needs special treatment. I believe `supports_check_mode` is somewhat unique because Ansible checks the module's value for `supports_check_mode` and uses it to decide whether or not to actually execute the module. I believe that is why [the later

[2018-03-28 16:15] jnpr-bowen opened #344 "juniper_junos_software assumes that software image on Ansible host is 'uncorrupted' when checksums mismatch"
While it may be true that file corruption occurs more often on the Juniper device, that alone is not reason enough to assume that the Ansible host file is not the one corrupted, which is the assumption with the way the task is implemented now. Without a comparison to a 'master checksum value', if both images exist during the playbook run, a mismatch in the checksums should result in the task faili

[2018-03-28 16:48] stacywsmith commented on #344
The assumption is that the operator has verified the file on the Ansible host against a known good checksum value. You have to trust something as the authoritative source, and I see no difference in trusting the actual checksum of the file vs. trusting a value specified as a task attribute. Either could theoretically have been corrupted.

Because the copy is happening FROM the Ansible control mach

[2018-03-28 17:43] jnpr-bowen commented on #344
That assumption that the operator has verified the file on the Ansible host may be 'acceptable', but it needs to be clearly stated as such in the documentation.
In one sense, adding an MD5 signature to the playbook does not make it 'authoritative', it just allows for a 'majority' to be formed.
The difference, as implemented, is that the code assumes Ansible is authoritative and yet there is nothin

[2018-03-30 17:37] jhosee opened #346 "Minor typo in juniper_junos_config.py"
Sorry, don't mean to nitpick but "retrieve" is spelled incorrectly on line 430.  Just trying help keep the docs uniform :) !

[2018-03-30 17:40] jhosee opened #347 "Enumeration for dest_dir files"
Apologies for the rudimentary question, but is there a way to enumerate output files when the dest_dir option is set?  I'm looking to trying to do this either with a numbering scheme or date/timestamps.  Thanks,

[2018-03-30 17:55] stacywsmith commented on #347
No. You should use the `dest` option instead.

See the discussion[here](https://github.com/Juniper/ansible-junos-stdlib/issues/326#issuecomment-358448036)

Also see #329.

[2018-04-02 17:54] jhosee commented on #347
Thank you, Stacy!

[2018-04-02 17:54] #347 closed

[2018-04-05 20:45] dgarros opened #348 "Recent commit for Python 3 broke juniper_junos_table"
Hi there :)

Looks like a [recent commit](https://github.com/Juniper/ansible-junos-stdlib/commit/d8392c95202a576a696d4d963f1f06d8fe7e03b2#diff-44b3e9d060adc75666a0902bbba43cd3R38) from @rsmekala regarding adding support for python 3 broke (at least) the module `juniper_junos_table` for python 2.7

Lines 341 & 362
[code]
got replaced with
[code]
I reverted this change in my local branch and it fixe

[2018-04-09 06:29] networkpadawan opened #351 "junos vlan table not returned"
running ansible 2.5, junos modules 2.0.2 on "14.1X53-D40.8" switch i´m not able to get the output of the vlan list.

playbook:
[code]
result:
[code]

[2018-04-09 10:05] vnitinv commented on #351
@networkpadawan I would need you VLAN o/p from device to debug. Can you unicast me the xml data?

[2018-04-09 12:38] networkpadawan commented on #351
@vnitinv how can I get that info? I only get the output shown above.

[2018-04-12 14:31] mmoucka commented on #311
Before we have proper SSH support, I was able to workaround this using ncat.

See my playbook:
`- name: 'Open ssh tunnel'
  shell: 'ncat --sh-exec "ssh {{ node.console_server }} -p {{ node.console_port | int + 3000 }} -tt" -l 4444 --keep-open &'
  register: output
  changed_when: False

- name: 'Push minimal config'
  juniper_junos_config:
    format: 'text'
    provider:
      host: 'localhost'

[2018-04-13 00:05] fooelisa opened #352 "juniper_junos_software: lack of error on QFX when previous upgrade staged"
Hi,

I am upgrading QFX10002 devices though juniper_junos_software with the following scenario:
- the device has 15.1X53-D64.3 installed
- 15.1X53-D66.8 has been previously staged for upgrade (but no reboot has been issued)
- an ansible playbook tries to stage 17.3R2-S1.2 and reboot

The play reports that 17.3R2-S1.2 has been staged successfully. However upon reboot, the device comes back with ver

[2018-04-13 00:39] stacywsmith commented on #352
It's most likely an inconsistency in the RPC output from the QFX device. Please provide the XML output by executing the following command from the QFX CLI:
[code]

It would also be interesting to see the corresponding `| display xml` output from the MX.

[2018-04-13 01:27] fooelisa commented on #352
Yep, looks like it comes back as a success here also. Output below.

QFX:
[code]

MX:
[code]

[2018-04-13 01:34] stacywsmith commented on #352
That's what I was afraid of.
It's hard for the Ansible module to handle this "correctly" if the device explicitly says the command succeeded (i.e. `<package-result>0</package-result>`).
I'd suggest opening a case with JTAC to address the issue in Junos.

[2018-04-13 01:37] fooelisa commented on #352
Yep, makes sense, thanks for the pointer!

[2018-04-13 01:37] #352 closed

[2018-04-16 05:57] Nexus-Neraian opened #353 "ERROR! the handler 'juniper_junos_software' was not found."
# inventory
[code]
# playbook
[code]

# Error message
[code]

[2018-04-16 07:50] #353 closed

[2018-04-16 07:50] Nexus-Neraian commented on #353
Wrong Ansible version. Human mistake.

[2018-04-17 15:27] fooelisa opened #354 "logging changes between 1.4 and 2.0"
Hi, after an upgrade from 1.4 and 2.0 I've noticed some changes in the logging behavior. I am not sure about the feature to configure the log level though Ansible's verbosity. I'd like for the router log file to be more chatty than ansible and what the user has to see on the CLI. I can't depend on the user to always remember to attach the required number of v's and there doesn't seem to be a way o

[2018-04-17 15:44] stacywsmith commented on #354
In my opinion (remembering I no longer speak for Juniper) this is a reasonable and worthwhile request.

I believe this could be implemented fairly easily with:
1) Specify an additional logging-specific option, such as `level`, [here](https://github.com/Juniper/ansible-junos-stdlib/blob/master/module_utils/juniper_junos_common.py#L497-L501) and [here](https://github.com/Juniper/ansible-junos-stdlib

[2018-04-17 17:06] vnitinv commented on #354
These were some changes done in current github code https://github.com/Juniper/ansible-junos-stdlib/pull/337/files which is not present in galaxy.
@fooelisa from were did you install roles? So if you install from github and provide logfile option, all the roles related logs should go in that given logfile.

[2018-04-17 17:53] fooelisa commented on #354
Got the latest github running, not using galaxy. They go into the logfile alright, configuring the verbosity is the issue.

[2018-04-18 09:09] vnitinv commented on #351
on junos device, run below command and share (can unicast to jnpr-community-netdev@juniper.net)

`show vlans | display xml`

[2018-04-18 09:11] vnitinv commented on #348
fixed via https://github.com/Juniper/ansible-junos-stdlib/pull/345

[2018-04-18 09:11] #348 closed

[2018-04-18 09:12] vnitinv commented on #346
@jhosee how about a pull request from your side.

[2018-04-18 09:37] rsmekala commented on #354
@fooelisa Could you try the following command:

`export ANSIBLE_DEBUG=True`

This will set the logging level of both Ansible and Juniper.junos module to DEBUG level. The fix has been mentioned in [Ansible Docs](https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.html#enabling-networking-logging-and-how-to-read-the-logfile)

Let us know the result.

[2018-04-18 16:41] fooelisa commented on #354
That surely works, but this sets *all* of Ansible to DEBUG mode. That means the user gets 1000's of lines of convoluted output on the CLI, which is what I am trying to avoid. Unfortunately Ansible doesn't provide a way to set the level to INFO, which would a compromise I could live with.

[2018-04-18 21:27] networkpadawan commented on #351
I think it might have to do with ELS syntax, but not sure.

[2018-04-23 07:31] rsmekala commented on #351
@networkpadawan could you try using the following custom table/view in your vlan.yml .

vlan.yml
[code]

[2018-04-23 08:41] vnitinv commented on #351
@networkpadawan example of how you can use custom table/view

https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/juniper_junos_table.py#L155-L159

Closing this issue. Please do reopen if above table is of no help to you.

[2018-04-23 08:41] #351 closed

[2018-04-23 08:46] Nexus-Neraian opened #358 "[Errno 111] Connection refused during juniper_junos_software"
# The issue
Ran into
`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: socket.error: [Errno 111] Connection refused`
during juniper_junos_software.
# main.yaml
[code]
# roles/sn-Jupgrade/tasks/main.yml
[code]
# playbook execution
`ansible-playbook -i staging main.yaml -e "qty=1"`

# Entire output
[code]

# Other information
Model: acx2200
Junos: 15.1

[2018-04-23 14:51] AdamSmith-Mtl commented on #343
I am now using Juniper.junos version 1.4.3 and everything works as it should in Ansible Tower. The first version that shows the issue in Ansible Tower is version 2.0.0

[2018-04-23 16:06] stacywsmith commented on #358
This is not well documented...

When using SSH to connect to a device, the `juniper_junos_software` module (actually, the underlying PyEZ library) attempts to make an SCP connection to the device to copy over the software.

When using Telnet to connect to a device, it attempts to make an FTP connection to the device to copy over the software. In this case, that FTP connection to the device is fail

[2018-04-23 17:02] networkpadawan commented on #351
Hi, working ok, I can get the vlans now. but how can I point to the correct table if it´s a ELS device vs non-ELS device? is there some way to obtain that before running the playbook?

[2018-04-23 17:16] stacywsmith commented on #351
You can write your playbook to execute `juniper_junos_facts` and check the `switch_style` key. See [this doc](http://junos-pyez.readthedocs.io/en/2.1.7/jnpr.junos.facts.html) for info on the `switch_style` key.

You can then use Ansible's `when` conditional to execute the appropriate `juniper_junos_table` task depending on the device's support.

[2018-04-25 08:32] rsmekala commented on #354
@fooelisa In sync with @stacywsmith , we would like to implement something like:

[code]

The user can choose out of INFO/DEBUG logging level using this option. The default logging level will be set to WARNING.

The order of preference for setting the level would be:
1. Set level to DEBUG if ANSIBLE_DEBUG is True.
2. Set level based on number of v's passed to module.
3. Set level based on level op

[2018-04-25 09:48] vnitinv commented on #351
@networkpadawan @stacywsmith Is suggesting you write one more task using juniper_junos_facts before juniper_junos_table. juniper_junos_facts will give you device facts, use the facts registered here to decide things for juniper_junos_table using when option from Ansible. and switch_style is part of facts coming from juniper_junos_facts which will give details about ELS and Non-ELS.

hope that help

[2018-04-26 14:34] fooelisa commented on #354
Yep, that sounds great! Ty

[2018-04-26 21:06] farhadkam opened #360 ""module_stderr": "No handlers could be found for logger"
Can you please check this error and tell me how to fix this?
Thank you!
[code]

and my playbook:
[code]

But I am getting this error:
[code]
Thanks.

[2018-04-26 21:19] stacywsmith commented on #360
As requested over in the Google group, can you please add the output of `show version` from the target Junos device where you're seeing this error?

[2018-04-26 22:56] farhadkam commented on #360
Hi Stacy,

please check the show version below:
[code]

[2018-04-27 00:39] stacywsmith commented on #360
I suspect you might be hitting Juniper/py-junos-eznc#651

[2018-04-27 00:57] farhadkam commented on #360
Is there any work around to fix it?

[2018-04-27 06:33] farhadkam opened #362 "Not able to instal ansible-galaxy"
I am getting this error installing ansible-galaxy anyone can help me?
Thanks.
[code]

[2018-04-27 11:27] farhadkam commented on #362
I added these environmental variables and the problem was solved.

$ export LANG=en_US.UTF-8
$ export LC_ALL=en_US.UTF-8

[2018-04-27 11:28] farhadkam commented on #360
Update: I hve reinstalled everything but still getting the same error.

[2018-04-27 20:10] farhadkam commented on #360
Stacy,

Do you know if there is any way to fix this?

[2018-04-27 20:26] stacywsmith commented on #360
I submitted pull request #361 which should allow the `junos_get_facts` module to run without crashing in this case. Although you'll still end up with empty version-related facts until Juniper/py-junos-eznc#651 is also fixed.

[2018-04-30 21:22] ejmmanning opened #363 "junos_rpc task name throws error with latest galaxy"
I am getting the Fatal: error Duleing Junos RPC Models that are list in the day one book. How do I fix it

[2018-05-02 10:31] rsmekala commented on #363
@stacywsmith , This issue is regarding using old module task names after installing latest version of Juniper.junos role(v2.0.2). It works fine on using new module names.

Using older names:
[code]
The above code produces the following error message:
[code]

Using newer module names:
[code]
Result is OK.
[code]

To support the usage of older names, you had created symlinks to the respective files,

[2018-05-02 18:06] stacywsmith commented on #363
The names which begin with `_` are Ansible's method of indicating that a module is deprecated. The symlinks are Ansible's method of having the same module with two different names, but the same code.

You should NOT remove the `_`.

This problem is irrespective of the version of the `Juniper.junos` role and is really an Ansible issue. The `Juniper.junos` role existed before any Junos support in An

[2018-05-07 06:11] vnitinv commented on #363
@ejmmanning please follow the changes as suggested by @stacywsmith. Closing the issue. Do open if you still face the issue.

[2018-05-07 06:11] #363 closed

[2018-05-07 06:11] #362 closed

[2018-05-07 06:13] vnitinv commented on #360
Closing the issue, as the fix gone in PyEZ. Will be released in next version. For now can be installed from git.

[2018-05-07 06:13] #360 closed

[2018-05-07 06:43] farhadkam commented on #360
Hi Nitin,
Can you please advise what to do to fix this as per your earlier email?(what should I update and
Any links how to do it?)

Regards,
Farhad

On 7 May 2018, at 4:13 pm, Nitin Kr <notifications@github.com<mailto:notifications@github.com>> wrote:

[External Email]

Closing the issue, as the fix gone in PyEZ. Will be released in next version. For now can be installed from git.

—
You are rece

[2018-05-11 06:35] vnitinv commented on #354
Fixed via #359

[2018-05-11 06:35] #354 closed

[2018-05-14 03:35] funkypenguin commented on #311
That's a sexy workaround :) 👍

[2018-05-15 20:59] feene opened #368 "Juniper_Junos_Config - Retrieve is not flagging a change as "true""
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_config:

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

vMX 17.3

Summary
------

Config Retrieve is does not appear to be comparing the current local file to the newly retrieved config.
ok: [vmx2] => {
    "config_results": {
        "changed": false,
Its always false even when a file does not e

[2018-05-16 08:33] dagbdagb commented on #311
Kudos to @mmoucka for documenting this workaround. I have been looking for a solution for this since I started playing with ansible.
A proper fix probably belongs in ansible core, but I am not particular. I sincerely hope Juniper will push for it. Mmmkay, @stacywsmith ?

[2018-05-17 16:12] fooelisa opened #369 "juniper_junos_facts error in current master"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_facts

Juniper.Junos role and Python libraries version
[code]

OS / Environment
------
Experiencing the issue on various platforms and versions, eg. QFX10002, QFX10008, EX4300, EXEX4600, MX104, etc.

Summary
------
Get facts produces an error on the current master branch, but works fine in 2.0.2

Steps to reproduce
------
[code]

Ex

[2018-05-17 20:11] stacywsmith commented on #369
I believe this is due to #357. Juniper made a conscious decision to no longer support Ansible versions less than 2.3 with that commit.

[2018-05-21 11:01] rsmekala commented on #369
@fooelisa We plan to remove support for Ansible versions < 2.3.

Is there any specific reason, you plan to use Ansible 2.2 ??

[2018-05-21 12:48] stacywsmith commented on #369
@rsmekala Could you please update https://github.com/Juniper/ansible-junos-stdlib/#dependencies to reflect this change?

[2018-05-29 23:46] adolphsons opened #371 "junos_install_config giving name error in ansible 2.5"
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

[code]
Summary
------

Since upgrading from ansible 2.4 to 2.5.2, we are experiencing errors when running the junos_install_config module with a set file.

Steps to reproduce
------

[code]

Expected results

[code]
Actual results
------

[code]

[2018-05-30 00:55] stacywsmith commented on #371
Please upgrade to the latest (2.0.2) release of this role.

[2018-05-30 14:26] adolphsons commented on #371
Is there known bugs that would cause this?

[2018-06-02 07:36] a-v-popov commented on #334
Try to submit empty dict, i.e. {}

[2018-06-02 22:15] adolphsons opened #374 "Juniper.junos 2.0.2 Error"
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version
[code]

[code]

OS / Environment
------

[code]
Summary
------

[code]
Steps to reproduce
------

[code]

[code]
---
    - name: "Run show system license command and capture output"
      juniper_junos_command:
        host: "{{IP_Address}}"
        user: "{{username}}"
        passwd: "{{ passwd

[2018-06-05 09:59] rsmekala commented on #374
@stacywsmith The action plugin for `juniper_junos_command` references to `juniper_junos_common_action.py` via a symbolic link.

There is no variable named juniper_junos_common_action anywhere in the code. I don't quite understand why a NameError is generated.

Could you please help me resolve the issue ??

[2018-06-05 15:47] stacywsmith commented on #374
The role is not installed correctly. Most of the files in `<role_dir>/Juniper.junos/action_plugins/` should be soft links to `<role_dir>/Juniper.junos/action_plugins/juniper_junos_common_action.py`.

You really need to follow the [installation instructions](https://github.com/Juniper/ansible-junos-stdlib/#installation)

[2018-06-05 17:04] adolphsons commented on #374
Thank you stacywsmith for the directions. I did have it installed using the ansible-galaxy install Juniper.junos command but when I copied it over to a custom roles directory, I did not notice the symlinks. So I did a "cp -P <Juniper.junos directory>" and all is well.

[2018-06-05 17:04] #374 closed

[2018-06-06 17:45] fooelisa commented on #369
We have a lot of systems dependent on ansible (including IT services) so upgrading was not just bound to junos-stdlib's functionality. We did ultimately upgrade ansible to 2.5.4 and junos-stdlib to 2.1.0 just now and it all seems to work well! Thanks

[2018-06-06 17:45] #369 closed

[2018-06-07 10:17] ric79 opened #376 "Local Library"
Hello,
I'm using AnsibleTower and I cannot download the role fron ansible-galaxy (no gtw to internet)

I would add that library in my ansible project. I tried to copy https://github.com/Juniper/ansible-junos-stdlib/tree/2.1.0/library to the `library` folder of my project. This is not working.

Could you explain me if it is possible to use this role locally in the project?
R

[2018-06-07 11:21] ric79 commented on #376
I think that I should copy the project in role directory and manually pip install junos-eznc

Can you confirm?

[2018-06-15 15:33] wussap commented on #342
Hi, software copied but I'm getting similar error message

EXEC /bin/sh -c 'rm -f -r /home/username/.ansible/tmp/ansible-tmp-1529076500.15-91464863803852/ > /dev/null 2>&1 && sleep 0'
The full traceback is:
  File "/tmp/ansible_ps20oc/ansible_module_juniper_junos_software.py", line 375, in <module>
    from urllib.parse import urlparse

fatal: [HOSTNAME]: FAILED! => {
    "changed": true,
    "che

[2018-06-15 16:14] sergeysj commented on #342
The second problem - logfile is empty not able to check where the actual problem is

vars:
    credentials:
      host: "{{ inventory_hostname }}"
      username: "{{ tacacs_username }}"
      password: "{{ password }}"
    OS_version: 14.1X53-D47.3
    OS_package: jinstall-ex-4300-14.1X53-D47.3-domestic-signed.tgz
    pkg_dir: /apps/software/junos
    log_dir: /var/log/ansible
    netconf_port: 8

[2018-06-16 13:36] sergeysj opened #377 "Did not find expected response from reboot RPC"
TASK [Install Junos OS package] ***********************************************************************************
fatal: [HOSTNAME]: FAILED! => {"changed": true, "check_mode": false, "msg": "Package /apps/software/junos/jinstall-ex-4300-14.1X53-D47.3-domestic-signed.tgz successfully installed. Did not find expected response from reboot RPC."}
        to retry, use: --limit @/home/username/ansibl

[2018-06-18 16:58] RuiMeireles opened #378 "This module ignored the "ansible_host" option in ansible inventory files."
Issue Type
------

 - Bug Report

Module Name
------

All modules in ansible-junos-stdlib have this issue

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Junos version: 12.3X48-D35.7
Model: SRX550

Summary
------

I experienced a problem running all modules in ansible-junos.
I kept getting this error, even though the credentials were OK, and PyEZ was working when

[2018-06-19 12:03] ferfemar opened #379 "juniper_junos_table fails if subtable contains no elements"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_table

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

[code]
Summary
------

Using OP table with subtable (sorry, not the right term I am sure) in juniper_junos_table fails if the subtable contains no elements. Works OK in Junos Pyez outside Ansible.

In particular I am testing it on OP table to

[2018-06-21 10:55] mamathac opened #380 "juniper_junos_facts Support on QFX( WR Linux based hardware)"
Issue Type
------
 - Bug Report

Module Name

juniper_junos_facts

Juniper.Junos role and Python libraries version
(ANS_virtualenv) root@nms5-grpc-server1:/etc/ansible/ANS_virtualenv/pb# ansible --version
ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module locat

[2018-06-21 20:38] eregimbald opened #381 "juniper_junos_software - command is not valid on the mx40-t"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Freshly purchased MX40-T

Model: mx40-t
Junos: 15.1R6.7

Summary
------

Attempting to run a firmware upgrade to 15.7R7.8 gives me the error:
command is not valid on the mx40-t

Steps to reproduce
------

Using juniper_junos_software to send

[2018-06-21 20:39] eregimbald commented on #381
[code]

[2018-06-22 09:35] mamathac opened #382 "Juniper Junos Ping fails on WR Linux Based Hardware QFX5200"
Issue Type

Bug Report
Module Name

juniper_junos_ping

Juniper.Junos role and Python libraries version
(ANS_virtualenv) root@nms5-grpc-server1:/etc/ansible/ANS_virtualenv/pb# ansible --version
ansible 2.4.0.0
config file = /etc/ansible/ansible.cfg
configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/

[2018-06-22 11:16] mamathac opened #383 "Juniper Junos System - Reboot fails on WR Linux Based Hardware QFX5200"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_system

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
[code]

Summary
------
On a Linux based QFX5200, juniper_junos_system with reboot option fails.

Steps to reproduce
------
Run the YAML file to reboot QFX5200 on Linux Platform.

[code]

Expected results

[code]
Actual results
------

[code]

[2018-06-22 15:42] eregimbald commented on #381
Getting the same error on an SRX1500

` Error: RpcError(severity: error, bad_element: None, message: command is not valid on the srx1500)`

[2018-06-25 12:46] mamathac opened #384 "Need Package support for WR Linux Based Hardware QFX 5200"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

asn1crypto==0.23.0
bcrypt==3.1.4
cffi==1.11.2
cryptography==2.1.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
Jinja2==2.10
junos-eznc==2.1.8.dev1
lxml==4.1.1
MarkupSafe==1.0
ncclient==0.5.3
netaddr==0.7.19
paramiko==2.4.0
pyasn1==0.3.7
pycpar

[2018-07-01 18:05] mamathac opened #385 "No check for other RE in case of WR Linux Based Hardware QFX 5200"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

regress@imax-re0> show version
Model: qfx5200-32c-32q
Junos: 16.2I20180618103614_evo-builder
Junos Package: junos-linux-install-qfx-x86-64-16.2I20180618103614_evo-builder.iso
Yocto: 2.2.1
Linux Kernel: 4.8.24-WR2.2.1_standard

Summary
-----

[2018-07-03 12:12] dgsardina commented on #378
Same issue, in my case I do not have any DNS registry to the junos nodes neither in the /etc/hosts so I use `[junos]
fw ansible_host=10.10.10.1
`

[2018-07-03 17:49] fpcasares commented on #343
@AdamSmith-Mtl , when you use version 1.4.3 how are the modules named?

[2018-07-12 17:18] aristima commented on #378
I cannot comment the potential issue, but we are also using ansible_host option for example in cases where we need to access the equipment via management Ethernet instead of in-band SSH or vice versa. We have worked around this by specifying in the provider:

provider:
  host: "{{ ansible_host | default(inventory_hostname) }}"

This works perfectly at least for our needs.

[2018-07-25 11:32] julienlorent opened #386 "junos_config: compare integers in the waitfor statement"
Issue Type
------

 - Bug Report

Module Name
------
juniper_junos_config

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
Model: vmx
Junos: 18.1R1.9

Summary
------
Can't compare result string with integer

Steps to reproduce
------

[code]
And the vlans.yml
[code]

Expected result
[code]
Actual results
------

[code]

My workaround: using a combination of >= and

[2018-07-30 16:16] mtucker502 opened #387 "juniper_junos_config - RuntimeWarning: An unknown exception occure"
- Bug Report

Module Name
------

  juniper_junos_config

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

vSRX 15.1I20180327_2121_avelu

Summary
------
Using Ansible playbook using Juniper.junos modules v2.1.0 (specifically juniper_junos_config) and getting below error on a vSRX D130 image (15.1I20180327_2121_avelu) that we are using in lab at the moment.  We’ve b

[2018-08-02 23:01] trustinger commented on #377
I have this same problem on Ansible 2.4.2, using Juniper.junos 2.1.0.

[code]

[2018-08-03 00:16] sergeysj commented on #377
@trustinger you have more than 1 member in the virtual-chassis right ?

[2018-08-03 00:32] trustinger commented on #377
@sergeysj this is on an SRX550 and MX5. Seems to be related to the reboot because when I say “reboot: no” and insert another task below to do the reboot it works fine.

[2018-08-09 03:53] cjguerrero commented on #378
I am running into this same issue with an EX9208. Where did you specify the provider argument (i.e. in a vars file, playbook, etc)?

[2018-08-09 04:40] aristima commented on #378
I have the provider variable defined in group_vars. It used to be in the playbook but I then moved it to group_vars so that it is automatically used for all Juniper equipment, in our case 'all-routers'

[2018-08-14 11:51] vnitinv commented on #385
Fixed via https://github.com/Juniper/py-junos-eznc/pull/862

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-14 11:55] vnitinv commented on #383
Fixed via https://github.com/Juniper/py-junos-eznc/pull/862

same as #385

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-14 11:57] vnitinv commented on #382
Dependent on internal PR #1368770. Please flag the internal PR

[2018-08-14 11:59] vnitinv commented on #384
Fixed via https://github.com/Juniper/py-junos-eznc/pull/862

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-14 12:00] vnitinv commented on #380
Fixed via https://github.com/Juniper/py-junos-eznc/pull/862

to install code form github
pip install git+https://github.com/Juniper/py-junos-eznc.git
Please verify and close.

[2018-08-16 07:02] ydnath opened #389 "Move all sample IP addresses to 192.168.*.*"
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version
[code]

OS / Environment
------

Summary
------

Move all sample IP addresses to 192.168.*.*
Steps to reproduce
------

[code]

Expected results

[code]
Actual results
------

[code]

[2018-08-22 06:58] doellal opened #390 "juniper_junos_config TimeoutExpiredError after chaning IP"
Issue Type
 - Bug Report

Module Name
juniper_junos_config

Juniper.Junos role and Python libraries version
Juniper.junos 2.1.0
ansible 2.4.2.0

OS / Environment
JUNOS 15.1X49-D50.3

Summary
Hello,

I use the juniper_junos_config module to send a new configuration to a srx300. However, I get a TimeoutExpiredError after the configuration on the srx300 has been commited. I have serial access to the

[2018-08-28 06:55] mamathac commented on #382
As per Internal PR 1276657, Not modifying standard Linux output for ping reply. Changes to be made with respect to actual result for WR Linux.

[2018-08-28 06:55] #382 closed

[2018-08-28 07:05] panks21 opened #391 "Connect to Same host with different ports"
Issue Type
------

  - Feature Idea

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

[code]
Summary
------

[code]
Steps to reproduce
------

[code]

Expected results

[code]
Actual results
------

[code]

[2018-08-28 16:12] #391 closed

[2018-09-04 08:57] mamathac commented on #380
Verified and found fixed.

PLAY [Testing Juniper Junos Core Modules] ********************************************************************************************************************************

TASK [Juniper Junos_get_config Module] ***********************************************************************************************************************************
ok: [evoeventtestj]

TASK [Jun

[2018-09-04 12:09] mamathac opened #394 "Juniper_junos_facts : Host name returns null, support to retrieve for WR Based Linux Hardware."
Issue Type
------
 - Bug Report

Module Name
------
Juniper_junos_facts

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
junos-linux-install-ptx-fixed-x86-64-18.4-20180828.2.is

Summary
------
With the changes to issue (https://github.com/Juniper/ansible-junos-stdlib/issues/380), now that the "show version invoke on all routing engines" is skipped for WR based Linu

[2018-09-05 02:24] anuragmenon2011 opened #395 "EX4300 Virtual Chassis Software upgrade or reboot fails"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_software
juniper_junos_ssystem

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

EX-4300 Virtual Chassis Junos 14.1X53-D47.3

Summary
------

Ansible play to upgrade the software on EX 4300 virtual chassis fails. The software upgrade happens, and the reboot is issued, but the playbook exits ungrace

[2018-09-05 02:42] anuragmenon2011 commented on #395
I think I found the issue. Need to know it is the right fix.

The problem is in the xpath_list that is generated. Currently for Virtual chassis the xpath_list generated is:
['.//request-reboot-status'], while the response for reboot operation is :

"<output>Rebooting fpc1</output>"

We need to have ".//output" in the xpath_list which is the list iterated while parsing the rpc response.
if len(xpat

[2018-09-05 05:13] #380 closed

[2018-09-06 05:48] vnitinv commented on #395
@anuragmenon2011 Thanks Anurag. Will wait for your pull request.

[2018-09-06 05:49] vnitinv commented on #394
@mamathac Can you please re verify as per offline discussion.

[2018-09-06 05:54] vnitinv commented on #390
@doellal As you mentioned `In the configuration, the IP address of the srx300 is changed`, once the IP is changed, plyabook working on existing hosts will try to reach the old IP itself. Hence the issue is seen. You might need to check if we can replace the IP in inventory on go with the New IP.

[2018-09-06 05:55] #389 closed

[2018-09-06 05:57] vnitinv commented on #387
@mtucker502 Can you enable netconf trace on device and share the logs.
http://www.juniper.net/techpubs/en_US/junos12.3/topics/topic-map/netconf-traceoptions.html

[2018-09-06 09:06] doellal commented on #390
I know the new IP, but its managed by RADIUS and i would have to wait for the login. After Login the new IP would be accesable, but iam surprised that the deprecated module junos_install_config did not got a timeout and send a changed state to the playbook. After that the playbook complete and don't got a error.

We replace the IP in the inventory after the configuration is changed. We have now a

[2018-09-06 15:13] anuragmenon2011 commented on #395
Submitted pull request.
https://github.com/Juniper/ansible-junos-stdlib/pull/396

[2018-09-06 15:30] mtucker502 commented on #387
From customer:

[2018-09-06 15:30] #387 closed

[2018-09-07 09:46] rsmekala commented on #386
@julienlorent `junos_command` is not a module from Juniper.junos role, it is a Ansible core module.

I don't know much about the core modules, but you could alternatively use `juniper_junos-table` to achieve the same.

### Playbook
[code]

### TableView:
[code]

[2018-09-12 12:44] macbinjo commented on #377
Hello,

are there any updates to this? Can this be declared as a bug?

[2018-09-12 13:45] niklash-dev opened #397 "juniper_junos_software: update fails in virtual chassis with 4 members"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_software

[code]

OS / Environment
------
Ansible server: CentOS
Junos: 15.1X53-D59.3
Device: EX2300-48

Summary
------
The update process fails after updating the master in an virtual chassi with 4 members, when member 0 is not the master.
It works fine when you force member 0 to be the master first.

Steps to reproduce
------
1.

[2018-09-18 04:44] ydnath commented on #394
Verified and confirmed to close

[2018-09-18 04:44] #394 closed

[2018-09-18 05:29] mamathac commented on #383
Updated to latest eznc and reran test, now throws a syntax error:
Please triage:

PLAY [Testing Juniper Junos Core Modules] *********************************************************************************************************************************************

TASK [Reboot all REs of the device] *************************************************************************************************

[2018-09-19 11:30] vnitinv commented on #383
@rsmekala Can you please look into this.

[2018-09-20 13:21] Involar opened #399 "Juniper.junos role is not honoring the ANSIBLE_NET_USERNAME/PASSWORD environment variables set inside the playbook"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_config

[code]

OS / Environment
------
Ansible server: CentOS release 6.9
Junos: 15.1F6-S7.2
Device: mx480

Summary
------

Steps to reproduce
------

The juniper.junos role does not recognize environment variables set within a playbook. You can't set a username or password from a playbook to be used for authentication.

[code]

[2018-09-21 05:51] vnitinv commented on #399
@Involar Thanks for reporting. @rsmekala Can you please check this?

[2018-09-21 08:32] Involar commented on #399
A workaround that I found is to "gather_facts" and then use the presented ansible_env var as an argument for user/passwd variables:

[code]

[2018-09-22 20:03] sergeysj commented on #377
@macbinjo What kind of device you are running this module on?

[2018-09-28 09:08] dpizzle opened #401 "juniper_junos_command returning inconsistent results between JSON and text"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_command
[code]

OS / Environment
------
[code]

Summary
------

The SRX300 has a primary and backup partition. I am looking for the juniper_junos_command command to return the JUNOS version of both partition. It does with `formats: text`, but with `formats: json` it only returns details for the primary partition.

Steps to reprodu

[2018-09-28 15:05] stacywsmith commented on #401
What's the output of executing `show system snapshot media internal | display json` from the CLI of your SRX300?

[2018-09-28 15:45] dpizzle commented on #401
[code]

[2018-10-04 14:49] ksator opened #402 "operational states validation"
Issue Type
------
 - Feature Idea

Module Name
------
juniper_junos_command

Summary
------

ansible core module junos_command has nice operational states validation capabilities leveraging junos xml and json representation.
Here's an example https://github.com/ksator/junos-automation-with-ansible/blob/master/junos_command/pb_check_op_states.yml#L47-L155
Could we add similar capability to "our" li

[2018-10-08 07:12] mamathac commented on #383
`Verified and Found Fixed.
`
root@HOST:/etc/ansible/ANS_virtualenv/pb# ansible-playbook Reboot_Router.pb.yaml

PLAY [Reboot devices running Junos OS] ************************************************************************************************************************************

TASK [Checking NETCONF connectivity] *******************************************************************************

[2018-10-08 07:12] #383 closed

[2018-10-08 15:31] mamathac commented on #385
Closing this bug as the issue is resolved.

[2018-10-08 15:31] #385 closed

[2018-11-06 11:34] rogerwiklund opened #403 "Make Ansible JSNAPy output be the same as JSNAPy output"
When I run JSNAPy the output looks like this:

root@scv-utils:~/jsnapy/interface-test# jsnapy --check pre post -f config_mop.yml
*************************** Device: 172.30.105.59 ***************************
Tests Included: show_interface_terse
*********************** Command: show interfaces terse ***********************
Test Failed!! oper-status got changed, before it was <['up']>, now it is <['d

[2018-11-09 19:33] kquilliam opened #404 "juniper_junos_table times out cutting off data being retrieved"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_table

Juniper.Junos role and Python libraries version

[code]
[code]
OS / Environment
------

Juniper MX480
16.1R7-S1.2

Summary
------

When pulling large data sets(~3200 items), it seems to timeout and cut off data at around the 2300 mark. In my case, I am pulling all subinterfaces on our main distribution device for IPAM purpo

[2018-11-09 19:37] stacywsmith commented on #404
Your steps to reproduce have `timeout: 120` in your task. Does increasing the timeout value effect the number of items collected?

[2018-11-09 19:44] trustinger commented on #404
Stacy, increasing the timeout doesn't seem to affect it.

[2018-11-13 19:04] jnpr-bowen commented on #403
The JSNAPy command options include selecting whether to include the error or info and error messages in the output. To include that option in the jsnapy callback, there needs to be a parameter in the jsnapy module to set this, not just updating the callback.
An additional thing to note is that there is an error that is not just from the err field in the test definition. There is an error from when

[2018-12-03 13:23] doellal opened #405 "juniper_junos_software module failure _scp_progress takes exactly 4 arguments (5 given)"
Issue Type
-----
 - Bug Report

Module Name
------
juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

CentOS Linux release 7.5.1804 (Core)

Summary
------

I want to update a a Juniper SRX300 with the juniper_junos_software module. I update from junos-srxsme-15.1X49-D70.3-domestic.tgz version to junos-srxsme-15.1X49-D150.2-domestic.tgz. The So

[2018-12-04 06:05] rsmekala commented on #405
@doellal The issue is with `scp` package version `0.12.0`.

Please upgrade `paramiko scp` package using the below command:

[code]

[2018-12-04 14:42] doellal commented on #405
Worked. Thank you!

[2018-12-10 15:06] davbeny opened #406 "juniper_junos_software playbook stop while performing upgrade"
Issue Type
------

 - Bug Report
Module Name
------
juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

12R12S11
EX3300
Summary
------- The playbooks stop when the engine start it's upgrade.
PLAY [Install Junos OS] ***********************************************************************************************
TASK [Checking NETCONF connectivity

[2018-12-14 23:45] EpiqSty opened #407 "documentation is missing about json file format in case of LOAD config"
Issue Type
------

 - Bug Report/Documentation Report

Module Name
------
juniper_junos_config

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
[code]

Summary
------
Sorry for noob question, but looks like there is a lack of documentation about configuration devices in JSON format.

I was trying to use exactly the same format, as I am getting with retrieve option

[2018-12-28 14:36] JinduOkoli commented on #343
I am experiencing the same issues. The module names are different for Juniper.junos version 1.4.3.

[2019-01-02 11:07] davbeny opened #408 "juniper_junos_software output error"
Bug
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version

ansible 2.7.0
Juniper.junos=2.1.0

[code]

OS / Environment
------

12.3R12S11, 12.3R12.4,15.1R5.5
Summary
------

module output error while performing an upgrade (but it works) :

fatal: [switch.prod]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n File \"/root/.an

[2019-01-02 11:19] rsmekala commented on #408
Do you mean the Junos package on the target device gets upgraded but module returns an error log ??

[2019-01-02 12:52] davbeny commented on #408
@rsmekala yes

[2019-01-03 09:36] davbeny commented on #408
Also, they are no output in the "software.log" file. The file is blank

[2019-01-11 16:16] JinduOkoli opened #409 "juniper_junos_software module failure: No handlers could be found for logger "ncclient.transport.session""
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version

Juniper.junos-2.1.0```

[code]

Expected results

[code]
Actual results
------

fatal: [poc-ex4300-13]: FAILED! => {
    "changed": false,
    "rc": 1
}

MSG:

MODULE FAILURE
See stdout/stderr for the exact error

MODULE_STDERR:

No handlers could be found for logger "ncclient.transport.session"

[2019-01-15 17:21] jnpr-bowen commented on #403
So I am trying to working out how to get output of the Ansible module to duplicate the jsnapy command output, and I am having a problem with how to match up the test name to the command/xml that is used for the test. An example I have from jsnapy looks like this:

Connecting to device 192.168.1.2 ................
Taking snapshot of RPC: get_alarm_information
Taking snapshot of RPC: get_software_in

[2019-01-16 10:18] ydnath opened #410 "Feature: Improve juniper_junos_system module behaviour for VC setup"
Issue Type
------

 - Feature Idea

Module Name
------

juniper_junos_system
Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Summary
------

Handle the below cases:
VC where each member has a single RE; Ansible is connected to the master:
  action: reboot with all_re: true
  action: reboot with all_re: false
  action: reboot with other_re: false
  action: reboot w

[2019-01-17 13:48] omegafoo opened #411 "juniper_junos_common.py write XML output errors with "AttributeError: 'bytes' object has no attribute 'encode'""
Issue Type
------
- Bug Report

Module Name
------
Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

Juniper EX3400 : JUNOS 18.1R3.3

Summary
------
When running a basic playbook to retrieve the display interfaces output from an EX3400 in XML format there is an err

[2019-01-17 21:13] joenaughton opened #412 ""import error: No module named plugins.action.normal" error seen when virtualenv is not used."
Issue Type
 - Bug Report

Module Name

Juniper.Junos role and Python libraries version
- Juniper.Junos, 2.1.0
- Python 2.7

Summary
------
When we attempt to use Ansible on a bare metal server running centos 6.5, single python2.7 the "juniper_junos_config:" module gives us this error "import error: No module named plugins.action.normal". This works fine on another Ubuntu server. I hope someone her

[2019-01-18 13:53] NicoJNPR commented on #292
Hi.
Is it now planned?

[2019-01-18 15:13] vnitinv commented on #292
@NicoJNPR  Let me bring up this next week and will plan for development.

[2019-01-18 15:59] ntwrkguru commented on #292
@NicoJNPR This will also require an upstream enhancement to the underlying NETCONF RPC.

[2019-01-21 15:22] dpajin commented on #292
@mamathac, @NicoJNPR, @vnitinv, @ntwrkguru, analyzing code of our Ansible libraries and PyEZ, it should be possible to specify which routing engine you want to install software package, thankfully to the kwargs argument that is cleverly transferred from Ansible to PyEZ and further in the SW library.

So the playbook task can look like this for example (specify RE1 to install software in kwargs):

[2019-01-22 11:37] mamathac commented on #292
@ntwrkguru ,@NicoJNPR, This was a feature request raised back in 2017 when there was no support for Image upgrade for specific RE's. This was provided and verified. It works as expected.

Hence closing this ER as verified and found fixed.

[2019-01-22 11:37] #292 closed

[2019-01-24 16:53] Alex-Ignatov commented on #378
We are facing the same issue when running playbooks against EX switches... This issue has been open for a while - any chance it will be resolved anytime soon?

[2019-01-24 19:33] jnpr-bowen commented on #403
Found a problem in the jsnapy code that broke the association between command/rpc used in the test and the jsnapy test name. As soon as that gets corrected, I can have a callback that produces the kind of output you would like.
My view of the jsnapy callback would not 'exactly' match up with the default jsnapy output. Keeping the test operator and the test details is difficult to understand. My ca

[2019-01-27 05:34] arusso commented on #377
Seeing this exact issue as well on a EX4300 VC w/3 members when updating the VC to `16.1R7-S2` or back down to `14.1X53-D45.3`.

[code]

Trying to execute the reboot as a separate task didn't work for me:

[code]

Results in:

[code]

[2019-01-31 09:19] davbeny commented on #408
Hello, do you know how to resolve this issue?

[2019-01-31 09:20] davbeny commented on #406
Hello, any ideas on how to correct this issue? Thanks. Regards

[2019-01-31 10:57] rsmekala commented on #408
@davbeny Is the device getting rebooted ??

[2019-01-31 12:31] davbeny commented on #408
Hello Rsmekala, yes it's getting rebooted.

[2019-01-31 13:51] fooelisa opened #413 "question about get_facts and ansible cache plugins"
Issue Type
------
 - Feature Idea

Module Name
------
- juniper_junos_facts.py

Juniper.Junos role and Python libraries version
------
- py-junos-eznc 2.1.7
- ansible-junos-stdlib 2.1.0
- Python 2.7

OS / Environment
------
Model: qfx10002-36q
Junos: 17.4R2-S2.3

Summary
------
We use the redis cache plugin in our ansible setup to speed up the server connection process. The juniper facts, being th

[2019-02-03 21:00] ctopher78 commented on #412
@joenaughton - I hit the same problem.  In my case, it was because I was running in a virtualenv; however, it appears this will always happen with newer versions of Ansible (> 2) if you aren't using the python in `/usr/bin/python`.  This helped me https://github.com/Juniper/ansible-junos-stdlib/issues/322#issuecomment-368062172.

I added the `ansible_python_interpreter` var to the beginning of my

[2019-02-04 10:46] davbeny commented on #408
@rsmekala Hello, unfortunatly I don't have time to rebuild another install for the moment. But what i can tell you is that i'm using the Juniper.junos role of the 01/06/2018 2.1.0
I'm also using a custom docker image.

[2019-02-04 10:54] rsmekala commented on #408
@davbeny Can you make the below changes in Juniper.junos role and verify ??

**Note**: Please exclude changes to setup.py

https://github.com/Juniper/ansible-junos-stdlib/compare/master...rsmekala:master

[2019-02-05 09:59] vfxcode commented on #412
Hello!
I would like to give a bit more feedback on this.
It seems that ansible since 2.5+ officially supports python3 (interpreter: "/usr/bin/python3")
Debian recently changed the shipped ansible version from python2 to python3 in the next stable release (buster) which makes the `ansible_python_interpreter` var a requirement to run this module.
It should be noted that most distributions will stop

[2019-02-07 13:40] alsenior opened #414 "Connections failing with auth error when using SSH keys"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_system

Juniper.Junos role and Python libraries version
Junos Role version 2.1.0

[code]

OS / Environment
------

Multiple devices
SRX 340 15.1X49-D160.2
EX3200 14.1X53-D40.8
SRX240 12.1X46-D55.3

Summary
------
Unable to connect to Junos devices using ansible and SSH key. Receive the error:
Unable to make a PyEZ connection: Conne

[2019-02-20 09:17] CodeTechies opened #415 "juniper_junos_command and juniper_junos_rpc dest/dest_dir add option to add executed command inside the result file"
juniper_junos_command and juniper_junos_rpc dest/dest_dir add an option that can add the executed command inside the result file.

Currently, if write output to a single file I can't identify from which output of the command was executed.

Issue Type
 - Feature Idea

Module Name

juniper_junos_command and juniper_junos_rpc
Juniper.Junos role and Python libraries version

[2019-02-20 16:57] stacywsmith commented on #415
When using the `dest_dir` option the filename already includes the command/RPC which produced the content in the file. When these modules were enhanced to execute multiple commands/RPCs per invocation, the `dest_dir` option was added and the `dest` option was deprecated for exactly the purpose of correlating the command/RPC to its output.

In addition, when multiple commands/RPCs are executed and

[2019-02-21 03:45] CodeTechies commented on #415
Hi Stacy,

Thanks for your reply,

Sometimes to keep a single file record after the maintenance it's handy to have a single file for all output and it's easier to compare files manually the pre activity and post activity logs if required, but it would be great if had this feature, currently we are doing  using python  with paramiko and call in Ansible.

 Assemble method result is similar to dest,

[2019-02-21 04:16] stacywsmith commented on #415
Sorry. I don't have a setup to try this out at the moment, but maybe you could do something like this...

Assuming `/mytemplates/foo.j2` has this content:
[code]

Try a playbook like this:
[code]

[2019-02-22 08:33] CodeTechies commented on #415
Thanks Stacy,

tested using jinja template and working as per requirement

[2019-02-22 08:33] #415 closed

[2019-03-06 05:34] CodeTechies opened #419 "get-support-information no output in text format- xml working"
Issue Type
------
get-support-information/RSI  no output in text format- xml working

Module Name
Junos_junos_rpc
juniper_junos_command

Juniper.Junos role and Python libraries version

ansible --version
ansible 2.5.3
  config file = /var/lib/awx/projects/Francis/junosupgrade/ansible.cfg
  configured module search path = [u'/home/nera/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules

[2019-03-07 15:38] andyjsharp opened #421 "juniper_junos_software : Upgrade fails when using kwargs for re0 or re1"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_software
Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
]Junos: 17.3R3.9
Summary
------
Using kwargs for re0 or re1 to define which RE to upgrade fails to produce the expected results because the version checks fail to understand which RE has been selected via the kwargs.  It incorrectly assumes tha

[2019-03-08 06:51] rsmekala commented on #414
@alsenior The logs provided suggest that the login user is not getting picked up correctly,

[code]

Can you retry the playbook with `-u` option as you tried in the SSH case ??

We can then probably debug the issue further. I don't think the issue is due to SSH keys

[2019-03-14 14:20] rsmekala commented on #414
@alsenior Can we close the issue ??

[2019-03-14 14:59] alsenior commented on #414
Yeah it looks like you was spot on.

[2019-03-15 09:24] rsmekala commented on #414
@alsenior Were you able to get it to work ??

[2019-03-19 04:56] rsmekala commented on #414
@alsenior Closing this issue. Please do re-open if you need further assistance.

[2019-03-19 04:56] #414 closed

[2019-03-27 03:49] tuhoanganh commented on #409
i'm am facing the same problem when using juniper_junos_jsnapy.
Python 2.7.5
jsnapy 1.3.2
ansible 2.7.9

[2019-03-27 08:55] ustrum opened #422 "Keys returned on config_parsed by juniper_junos_config use invalid characters"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_config

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
CentOS 7

I am using a vagrant vqfx on JUNOS 15.1X53-D60.4, but also tested on several SRX clusters running junos v15

Summary
------

The keys used in the json returned by juniper_junos_config on the config_parsed variable use an invalid char

[2019-03-27 14:55] stacywsmith commented on #422
A `-` **is** a valid character in a JSON string and object name. Per [json.org](http://json.org/) a string can be comprised of "Any UNICODE character except `"` or `\` or control character".

A `-` is also a valid character in YAML.

The issue is that Python does not allow a `-` in a variable name, and Ansible allows accessing a nested dict using the dot notation. When using this notation, each po

[2019-03-28 17:37] ustrum commented on #422
Thanks for the clarification about json and yaml using "-" for string and object names. I found [a related issue in ansible ](https://github.com/ansible/ansible/issues/8849)and seems ansible doesn't accept "-" on the names of variables.

Assuming the return value is a json, I accept it is a valid json, but I find it a bit annoying having to stick to the dictionary notation and I guess it makes not

[2019-03-30 10:39] wnelis opened #423 "Minor modifications in comment."
Issue Type
------
 - Documentation Report

Module Name
------

juniper_junos_common.py

Summary
------
Some (possible) typo's found in comment.

[juniper_junos_common.diff.txt](https://github.com/Juniper/ansible-junos-stdlib/files/3025358/juniper_junos_common.diff.txt)

[2019-04-01 04:59] rsmekala commented on #423
@wnelis Thanks for pointing this out. Can we expect a pull request from your side ??

[2019-04-01 05:09] rsmekala commented on #422
@stacywsmith Thanks for the detailed explanation.

@ustrum Closing this issue. Please do reopen if required.

[2019-04-01 05:09] #422 closed

[2019-04-01 05:10] rsmekala commented on #419
@CodeTechies Can you please attach the playbook output and Ansible logs for debugging purposes ??

[2019-04-01 05:19] rsmekala commented on #386
@julienlorent Closing the issue. Please reopen if any further help required.

[2019-04-01 05:19] #386 closed

[2019-04-01 13:34] wnelis commented on #423
I'm still at the very beginning of the learning curve w.r.t git(hub). What is the benefit of a pull request? I just wanted to read the module, as it was hard to find some documentation on writing python user modules for configuring a Juniper switch.

[2019-04-02 20:33] tc0nn commented on #378
Same issue. Adding my hostname from my inventory to the /etc/hosts files seems to fix it also.

[2019-04-03 08:50] ntwrkguru commented on #423
@wnelis The benefit is that you can contribute those fixes into the project directly. I have included these in #424.

[2019-04-04 08:25] rsmekala commented on #378
The root cause of the is found.

In the below line, if the preference order is incorrect:
https://github.com/Juniper/ansible-junos-stdlib/blob/258bbb0d4df02e1458c0ecf4dd69f67550e6dc2f/module_utils/juniper_junos_common.py#L513
It should be:
[code]

In case, both variables are provided we should prefer host value over hostname. Will raise a pull request for the same.

Please expect a delay in mergin

[2019-04-04 09:01] rsmekala opened #425 "CI/CD failure as no VMs are deployed"
Issue Type
------
Test Failure

Module Name
------
All CI/CD tests are failing as we are unable to create the VM.

Summary
------

Travis tests are broken as it is unable to deploy the Junos VM. We use Ravello to deploy the VM, but since it was bought by Oracle we don't have the access to deploy the VM.

Replace Travis tests with an internal Jenkins pipeline.

[2019-04-27 15:20] fbettag commented on #411
every pip upgrade i have to apply the patch again :(

[2019-05-12 09:27] gmoisio opened #430 "juniper_junos_jsnapy issue with Vagrant vQFX"
Issue Type: Feature Idea
Module Name: juniper_junos_jsnapy
Last Master Juniper.Junos role and last Python libraries version

Using Vagrant vQFX and Ansible provisioning to simulate a network, there is an issue with juniper_junos_jsnapy role.
The inventory file generated by Vagrant use a specific generated inventory_hostname for each device, but the ansible_host is the same (127.0.0.1). Difference

[2019-05-13 06:44] rsmekala commented on #423
Merged via #424

[2019-05-13 06:44] #423 closed

[2019-05-14 01:15] lucasalvatore1 opened #431 "Validate that NSSU Works"
- Bug Report
 - Feature Idea

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

QFX5100-48S Virtual Chassis 17.4R1 (2 members)
Summary
------
when running NSSU the backup RE is upgraded first, then the RE is flipped to the newly upgraded device so the other member can be upgraded.  When the RE flip happens the netconf sess

[2019-05-14 07:01] rsmekala commented on #430
@gmoisio The support to specify custom file names is already present in JSNAPy, but is not currently supported via Ansible module: juniper_junos_jsnappy.
Link: https://github.com/Juniper/jsnapy/wiki/4.-Module

Marking as an enhancement. Thanks for reporting the feature, will work on it and raise a PR.

Are there any specifics or ideas you think should be included in the feature ??

[2019-05-14 07:08] rsmekala commented on #342
@sergeysj @jas2061461 Can you share facts output for this device from the juniper_junos_facts module ??

[2019-05-14 07:49] gmoisio commented on #430
Hi, thank you for your answer.

Using the snap_file_name parameter as in JSNAPy would be great.
The parameter named <devicename> is in fact the IP@ of the ansible_host in ansible/vagrant. The <prefix> parameter would be the {{ inventory_hostname }} to build a unique file name.

Thanks
Best Regards

[2019-05-14 15:29] lucasalvatore1 opened #432 "juniper_junos_software: NSSU doesn't log progress"
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

QFX5100-VC / Junos 17.4
Summary
------
When kicking off a NSSU with ansible using verbose mode, none of the NSSU progress is logged

Steps to reproduce
------

Use NSSU on a virtual chassis setup

[code]

Expected results

[code]
Actual results
------

The logs sh

[2019-05-15 04:57] rsmekala commented on #431
@lucasalvatore1 I have not worked on NSSU. Let me take a look at how NSSU is handled on the device and using PyEZ, then we can discuss further what can be added/modified to make the module better.

[2019-05-15 15:28] lucasalvatore1 commented on #431
thank you very much @rsmekala

[2019-05-15 21:32] gmoisio commented on #430
Hi, one more question please.
When using JSNAPy as a module in Python, is there a way to access a field in a configuration file like this one in order to use it as a prefix for the file name?
----conf.yml----
hosts:
  - device: localhost
    username: root
    passwd: Juniper
    port: 2222
----------------

--Python code--
config_file = "conf.yml"
snapchk = js.snapcheck(config_file, <a_syntax_to_

[2019-05-16 09:44] rsmekala commented on #430
There is no such feature in Jsnapy, but this would be a nice feature to have. Will work on it and keep you posted.

[2019-05-21 06:48] dineshbaburam91 opened #434 "get-config rpc returns empty when format="text""
Issue Type
------
 - Bug Report

Module Name
------
[code]

OS / Environment
------
All platform

Summary
------
get-config rpc returns empty when format="text"

Steps to reproduce
------

[code]

Expected results
[code]
Actual results
------

[code]

[2019-06-11 05:52] mahbubakhanda opened #436 "Feature Request: "pkg_set" for Ansible "juniper_junos_software.py" module."
Issue Type
------
 - Feature Idea

Module Name
------

"juniper_junos_software.py"

Juniper.Junos role and Python libraries version

ansible 2.7.0
  config file = /project/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bi

[2019-06-21 18:55] omegafoo opened #439 "juniper_junos_software RPC <bad-element>request-package-validate</bad-element>"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_software

[code]

OS / Environment
------

Juniper EX3400-24T version 18.1R3.3

Summary
------

We are running some EX3400-24T switches with 18.1R3 code and I had an Ansible playbook that was working for upgrading software successfully on 15.1 code. With the 18.1 code I'm running into an error with software validation. The last sw

[2019-06-26 16:59] vnitinv commented on #436
Fixed via https://github.com/Juniper/ansible-junos-stdlib/pull/437

[2019-06-26 16:59] #436 closed

[2019-06-27 21:16] cdeniro opened #441 "jsnapy >= 1.2.1 is required for this module"
Issue Type
------

 - Bug Report

Module Name
------

junos_jsnapy
Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

macOS 10.14.5

Summary
------

- msg: jsnapy >= 1.2.1 is required for this module. However, jsnapy does not appear to be currently installed. See https://github.com/Juniper/jsnapy#installation for details on installing jsnapy.
Steps to reproduce
-----

[2019-07-08 05:52] vnitinv opened #442 "vmhost reboot for dual RE"
- Bug Report

Module Name
------
juniper_junos_software

Summary
------
For dual RE system, software install fails with error

Reboot failed. Error: RpcError(severity: error, bad_element: both-routing-engines, message: syntax error, expecting <invoke-on>)"}

[2019-07-08 05:53] vnitinv opened #443 "pkg_set for mixed VC hangs"
- Bug Report

module
--------
juniper_junos_software

Summary
during multiple run, some of the execution hangs for mixed VC installation, it can be after install or reboot. Please check.

[2019-07-19 17:11] sward1557 opened #444 "1st attempt unformatted password"
Issue Type
------
 - Bug Report

Module Name
------
Password var reference not resolving. Example shows use of juniper_junos_facts but I have run into this with _confg and _command.

Juniper.Junos role and Python libraries version
------
[code]

OS / Environment
------

Playbook is running on:
[code]

Software | Platform
-- | --
15.1X49-D45 | SRX340
12.1X46-D35.1 | SRX240H2
15.1X49-D40.6 | SRX1500

[2019-07-22 18:00] F0otsh0T opened #445 "[PYEZ-ANSIBLE] Ansible 2.4.0 URI Module fails to retrieve JSON from JUNOS Space API"
Issue Type
------

 - Feature Idea: This may be an Ansible 2.4.0 URI Module problem (as packaged in container juniper/pyez-ansible:2.1.0) in how it deals with JUNOS Space's return. It does work fine in Ansible 2.7.12.  I've tested the juniper_junos_facts module with Ansible 2.7.12 and it appears to be working fine.  Need to test the rest of the Juniper.junos modules.

Module Name
------

https://d

[2019-07-24 14:31] 4Igit opened #446 "juniper_junos_config - retrieve - filter"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_config

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
Model: mx480
Junos: 17.4R1.16

Summary
------
I'm using the filter parameter to controls which portions of the configuration are retrieved.
I'm confused with the filter format, I thought that the filter string was treated as an XPath expression,

[2019-08-07 08:57] mamathac opened #447 "juniper_junos_software.py - Version check needed for Special releases/Cloud releases and package type junos-evo."
Issue Type
------

 - Bug Report

Module Name
------
-juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
Model: mx240
Junos: 18.3R1-S5

Summary
------
juniper_junos_software Module does a version check for image install and skips it if the image string matches the image currently installed on the router.

In problem build (18.3R1-S5), the check

[2019-08-13 04:34] ydnath opened #448 "Check if requirements.txt needs entry for ansible"
Issue Type
------

 - Bug Report
 - Feature Idea
 - Documentation Report

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Summary
------

Steps to reproduce
------

[code]

Expected results

[code]
Actual results
------

[code]

[2019-08-16 09:06] Nirosh-123 opened #449 "Not able install PyEz on mac"
Not able install PyEz getting below error,

nkumarreddy-mbp:~ nkumarreddy$ sudo pip install junos-eznc
Password:
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.py

[2019-08-16 10:19] rsmekala commented on #449
@Nirosh-123 Can you please share the output of the following commands as well ??

[code]

According to me, you are unable to install `ncclient` rather than PyEZ itself. Can you try running the following command and share the output ??

[code]

[2019-08-18 04:35] Nirosh-123 commented on #449
after trying with pip3 it worked.

Thank You

[2019-08-19 05:12] #449 closed

[2019-08-21 15:14] dineshbaburam91 commented on #446
Kindly use interface filter in below format

[code]
## Output

[code]

[2019-08-29 17:09] indirakas commented on #439
I am getting exactly the same error with the only difference of having EX2300-C-12T switch.

[2019-09-03 09:08] rsmekala commented on #444
@sward1557 I am not quite sure I follow the issue description. Will give it a try and try to respond back by EOW.

[2019-09-03 09:15] rsmekala commented on #445
@F0otsh0T I will be updating the container to build with ansible=>2.7, that should resolve your issue.

Do respond back, if you think I misinterpreted the issue, it happens very often with me 😞

[2019-09-03 09:37] rsmekala commented on #434
Merged via #435

[2019-09-03 09:37] #434 closed

[2019-09-03 14:51] chainwhip commented on #445
I think Stephen Steiner already fixed this but there's no version tag at
the moment - only ":latest"

On Tue, Sep 3, 2019, 2:16 AM rsmekala <notifications@github.com> wrote:

[2019-09-04 02:09] ipv6freely opened #452 "juniper_junos_config - load patch"
Issue Type
------
 - Feature Idea

Module Name
------
juniper_junos_config

Summary
------
Would be really nice to be able to use juniper_junos_config to be able to load a diff, like with the CLI command "load patch". Saves us from having to manually re-order items added with set commands.

[2019-09-04 14:37] rsmekala commented on #411
Pull request raised #453

[2019-09-04 16:25] btiquet opened #454 "juniper_junos_config does not work with bastion configuration"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_config

Pip Freeze
------
#pip freeze
ansible==2.8.4
asn1crypto==0.24.0
astroid==1.4.8
backports.functools-lru-cache==1.2.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
configparser==3.5.0
cryptography==2.7
decorator==4.0.11
enum34==1.1.6
flake8==3.0.4
idna==2.7
ipaddress==1.

[2019-09-05 04:41] #411 closed

[2019-09-05 04:44] rsmekala commented on #378
Fixed this via #453. Please verify and reopen if necessary.

[2019-09-05 04:44] #378 closed

[2019-09-05 09:35] rsmekala opened #455 "Update tests"
Tracking issue for:

- Fixing tests that follow old naming for modules
- Add tests for rpc and config. Already have tests for rpc

[2019-09-10 05:38] rsmekala opened #460 "Update documentation for juniper_juno"
Issue Type
------

 - Bug Report
 - Feature Idea
 - Documentation Report

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Summary
------

Steps to reproduce
------

[code]

Expected results

[code]
Actual results
------

[code]

[2019-09-10 05:51] rsmekala opened #461 "Update documentation for ansible_junos_awx"
Issue Type
------
 - Documentation Report

Module Name
------
`ansible-junos-awx`

Juniper.Junos role and Python libraries version

[code]

Summary
------

There is no documentation for `ansible-junos-awx` on RTD.

Currently, RTD docs are generated using Python docstrings. `ansible-junos-awx` primarily is a build automation tool using Makefile. So, it is not possible to include it directly.

Will

[2019-09-16 10:33] #446 closed

[2019-09-16 10:33] rsmekala commented on #448
Fixed via #451

[2019-09-16 10:33] #448 closed

[2019-09-16 10:41] rsmekala commented on #445
@chainwhip Yes, it is already present in `latest`

@F0otsh0T Closing this issue. Please reopen if required. ✌️

[2019-09-16 10:41] #445 closed

[2019-09-16 10:43] rsmekala commented on #425
Now, checks are up and running using local vms.

[2019-09-16 10:43] #425 closed

[2019-09-16 10:49] rsmekala commented on #412
@joenaughton I think @ctopher78 should resolve your issue.

Closing this. Please reopen if required ✌️

[2019-09-16 10:49] #412 closed

[2019-09-16 10:52] rsmekala commented on #408
@vnitinv Is this the same reboot issue you faced as well ?? Wanted to check.

[2019-09-16 11:04] rsmekala commented on #405
Closing the issue ✌️

[2019-09-16 11:04] #405 closed

[2019-09-16 11:05] #419 closed

[2019-09-16 11:05] rsmekala commented on #406
@davbeny Ok, This looks similar to the #408

[2019-09-16 11:07] rsmekala commented on #169
@dgarros Will be taking this request and use the code from #370

[2019-10-23 23:02] imkwx commented on #342
I'm encountering the same bug. I'll provide more details ASAP. (juniper_junos_facts output)
platform: ex2300-48P and ex3400-48P
Seems like it's a bug inherent of the version provided with the switches we received (version:18.1R3.3)
I'll try to do an update using the "no-copy" statement to see if it changes anything

[2019-10-23 23:17] imkwx commented on #342
So far, I'm not even able to upgrade by hand.
Found this:
https://kb.juniper.net/InfoCenter/index?page=content&id=KB31198&actp=METADATA
I think this bug is not a library/ansible issue but more a bug inside junos (in my case).
I'm trying to pass the following kwargs: no-copy unlink and force, and see if it changes anything.

I'll provide my findings ASAP

[2019-10-23 23:27] imkwx commented on #342
Okay good news !
I was able to upgrade by hand AND through ansible. It was exactly what I thought the running version was bugged and was preventing me of upgrading. BUT ! Using the informations and commands provided in the KB I was able to launch the upgrade process by hand.

For ansible, I used this:

[code]
Note the kwargs argument: it provides the 3 statements used in the command

`request syst

[2019-10-24 04:18] rsmekala commented on #342
@imkwx Thanks for the great info 👍 .  It does help a lot.

Will mark this issue as closed. Please do reopen, if needed.

[2019-10-24 04:18] #342 closed

[2019-10-31 11:57] routenull0 opened #464 "Question: Commit only once when using juniper_junos_config"
Issue Type
------
 - Question

Module Name
------
- juniper_junos_config

Juniper.Junos role and Python libraries version

ansible 2.8.5
  config file = /netops/netops_ansible/ansible.cfg
  configured module search path = [u'/netops/netops_ansible_modules']
  ansible python module location = /netops/netops_python_env/lib/python2.7/site-packages/ansible
  executable location = /netops/netops_python

[2019-10-31 13:56] ssawtell commented on #464
Please consider the following approach:

* The roles use the template module to process the templates, or the copy module to copy a static config file, writing to a temporary target directory created to hold these temporary files. (The roles do not call juniper_junos_config.)

* Use the assemble module to combine the temporary files into a single Junos configuration file.

* Use juniper_junos_conf

[2019-11-01 11:13] routenull0 commented on #464
That's a much better way, thanks for the point in the right direction.

[2019-11-01 11:13] #464 closed

[2019-11-04 19:18] mtucker502 opened #465 "Junos ansible module breaks on Ansible 2.9"
Issue Type
------

 - Bug Report

module_utils/juniper_junos_common.py

Info
------

Juniper.Junos role and Python libraries version
[code]

[code]

[code]

OS / Environment
------
N/A

Summary
------
[https://github.com/ansible/ansible/issues/61621](https://github.com/ansible/ansible/issues/61621)
[https://github.com/ansible/ansible/issues/64324](https://github.com/ansible/ansible/issues/64324)

[2019-11-04 19:20] mtucker502 commented on #465
@wikwinia

I too have run into this issue. Let's see what Nitin thinks and I will work on a PR.

[2019-11-05 21:35] nertwork commented on #465
I have run into this issue as well - wondering what the priority/progress of this fix is.

Thanks!

[2019-11-12 17:05] paulinster commented on #465
Also having the same issue... Downgrading to ansible 2.8 solve the issue..

[2019-11-15 13:04] sliddjur commented on #465
Is this related? I just upgraded from Ubuntu 19.04 to 19.10. And at the same time I also upgraded to Ansible 2.9. I dont know what actually broke. I also put `interpreter_python=auto` in my `ansible.cfg`

[code]

[2019-11-23 05:22] ohjimbo commented on #343
I am seeing the same issue, I'd rather not rewrite my playbooks to the older version. Can someone look into this?

[2019-11-25 10:33] rsmekala commented on #465
I have raised the pull request #467. I am sorry for the delay.

[2019-11-25 10:37] rsmekala commented on #465
@mtucker Thanks for the references, it really helped me to narrow it down.

The following comment summarizes the issue:
https://github.com/ansible/ansible/issues/61621#issuecomment-526713372

[2019-12-04 12:25] kr3ator opened #468 "juniper_junos_config - wrong filename when retrieving config"
Issue Type
------

 - Bug Report
 - Documentation Report

Module Name
------

juniper_junos_config

Juniper.Junos role and Python libraries version

[code]
junos-eznc==2.3.0
Juniper.junos==2.2.1

OS / Environment
------

vMX 19.1

Summary
------

I want to save configuration files in a set format from my vMX devices. The documentation states that it should be saved to the specified folder under th

[2019-12-05 17:28] toghraee commented on #465
Hi
I have the same issue on an updated Ansible box.

ansible --version
ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.9 (default, Sep  3 2019, 16:17:03) [GCC 4.4.7 201

[2019-12-06 07:35] tobzsc commented on #465
I am experiencing exactly the same issue. :(

[2019-12-10 06:00] vnitinv commented on #465
Fixed via https://github.com/Juniper/ansible-junos-stdlib/pull/467. Will release the module ASAP

[2019-12-13 10:58] rsmekala commented on #465
Fixed via #467

[2019-12-13 10:58] #465 closed

[2019-12-13 15:12] fooelisa opened #472 "issue wrt convert_to_bool in latest master"
Issue Type
------
 - Bug Report

Module Name
------
- juniper_junos_rpc (underlying issue in juniper_junos_common)

Juniper.Junos role and Python libraries version
------
[code]

OS / Environment
------
- 18.4R2-S1.4 on MX104

Summary
------
The latest changes to juniper_junos_common (wrt convert_to_bool) seem to have broken the ability to pass string kwargs to RPCs.

Steps to reproduce
------
[co

[2019-12-16 05:53] vnitinv commented on #472
@fooelisa Elisa Looking into this.

[2019-12-16 05:56] rsmekala commented on #472
@fooelisa Merged via #469. Please clone the latest master, it is already fixed.

[2019-12-16 05:56] #472 closed

[2019-12-16 10:50] vnitinv opened #474 "huge_tree support"
Issue Type
------
 - Feature Idea

Module Name
------
all

[2019-12-31 22:58] ibarrere commented on #407
Did you ever figure anything out here? I'm facing the same issue, trying to push JSON to a device, but I can't seem to get the right format.

[2020-01-01 07:03] EpiqSty commented on #407
Well we're ended up with generation of text configuration in Junos format instead, but I guess the key is in the matter of order, because even with the text configurations we're had some troubles due to unsorted dicts in Ansible

[2020-01-03 08:47] rsmekala commented on #432
@lucasalvatore1, Streaming logs from a running task isn't supported in Ansible currently, there is a proposal for this at https://github.com/ansible/proposals/issues/92. We will have to wait for this to get implemented to proceed further.

Alternatively, `juniper_junos_software` logs the progress to the `logfile` mentioned in the task and is updated in realtime, unlike ansible-playbook output. You

[2020-01-07 10:21] rsmekala commented on #430
@rahul651991 Can you please take a look at this ??

[2020-01-07 23:15] zerowaitstate opened #477 "dest_dir option on juniper_junos_command sometimes does not return full JSON object when JSON format is specified"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_command

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Ubuntu 18.04 running ansible playbook against EX3300 switch running 15.1R5.5

Summary
------

When using the juniper_junos_command module with the dest_dir option and specifying the format as json, the output file generated sometimes looks l

[2020-01-10 09:40] rsmekala commented on #407
@EpiqSty @ibarrere The key order matters while committing a JSON configuration. However, there are multiple ways to handle this:
1) Use Python3 instead of Python2( which has been EOLed as of 2019), this is a known issue with Python2.7, wherein the keys get jumbled at `json.loads` call.

As mentioned in Python3 docs:
[code]

2) Use other formats for committing and storing the configuration, like `s

[2020-01-10 09:40] #407 closed

[2020-01-10 09:44] rsmekala commented on #455
Added via #469

[2020-01-10 09:44] #455 closed

[2020-01-16 08:51] rsmekala commented on #454
@btiquet This requires an enhancement directly in PyEZ. In the above-described case, PyEZ is not reading the ssh config file to its entirety, i.e the ProxyCommand part is never read.

There is already an issue in PyEZ tracking this https://github.com/Juniper/py-junos-eznc/pull/920, https://github.com/Juniper/py-junos-eznc/pull/648

[2020-01-16 08:53] rsmekala commented on #404
Might be related to huge tree support #474.

[2020-01-22 06:43] rsmekala commented on #468
@kr3ator Currently,  the module doesn't get the `inventory_hostname` parameter from Ansible, so this enhancement will require native support from Ansible.

I have already raised a question with the Ansible team. Please do take a look at it for more details.
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/ansible-project/tpAXYUShJ-g

[2020-01-23 05:00] rsmekala commented on #413
@fooelisa We currently don't check the cache before starting a new connection. But, it looks like a nice enhancement to have.

Do you know any module that is currently using cache, for reference ??

[2020-01-26 21:36] anaaman opened #478 "junos-eznc (aka PyEZ) >= 2.2.0 is required"
Issue Type
------
 - Bug Report

Module Name
------
ansible --version
ansible 2.9.2
config file = /Users/asafn/Documents/junos-ansible/ansible.cfg
configured module search path = ['/Users/asafn/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
ansible python module location = /usr/local/lib/python3.7/site-packages/ansible
executable location = /usr/local/bin/ansible
python version =

[2020-01-27 08:51] rsmekala commented on #452
@ipv6freely This is definitely doable. Will raise a pull request with PyEZ first to make this change.

[2020-01-30 16:02] Reidy10 opened #480 "juniper_junos_software module failure / socket.timeout"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

Linux nancy 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 GNU/Linux

Juniper SRX345 18.2R3-S2.9 or 15.1X49-D170.4
Summary
------

I have an intermittent issue when using juniper_junos_software to update or downgrade an SR

[2020-01-31 12:39] Reidy10 commented on #480
It seems I have been able to resolve the socket_timeout issue by editing the scp.py package in /usr/local/lib/python2.7/dist-packages/scp.py and changed the following:

def __init__(self, transport, buff_size=16384, socket_timeout=10.0,

to

def __init__(self, transport, buff_size=16384, socket_timeout=40.0,

I found the issue @ https://github.com/ktbyers/netmiko/issues/1254#issuecomment-506402735

[2020-01-31 12:39] #480 closed

[2020-02-05 21:54] cserranobr commented on #439
Hello All,
I work in JTAC and we have a customer with this issue. They would like to know when will this be fixed.
Regards,
Carlos.

[2020-02-13 15:13] EpiqSty opened #482 "Monitor-failures information is missing in juniper_junos_facts output"
Issue Type
------
 - Bug Report
 - Feature Idea

Module Name
------
juniper_junos_facts

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------
15.1X49-D170.4

Summary
------
Monitor-failures information is missing in juniper_junos_facts output

Steps to reproduce
------

[code]

Expected results
As ```ansible_facts.junos.srx_cluster_redundancy_group``` is replicating inf

[2020-02-15 16:30] steffann commented on #468
I don't think this is ansible's fault. It seems to be cause here: https://github.com/Juniper/ansible-junos-stdlib/blob/909b3826f64326d21c7a3b0107be2e7dbc257a6c/action_plugins/juniper_junos_common_action.py#L89-L94

with

[code]

But it's easy to also pass along the `inventory_hostname`. Writing a patch now!

[2020-02-17 10:02] rsmekala commented on #439
@omegafoo @indirakas "validate" isn't supported for EX devices AFAIK, so please try running the playbook without setting "validate" option.

[2020-02-17 14:58] zerowaitstate opened #484 "juniper_junos_software cannot upgrade 18.x releases on EX2300/3400"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_software

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

EX3400-48p, firmware 18.1R3.3

Summary
------
EX2300/EX3400 have very limited flash memory for storing firmware images.  It is not possible to upgrade firmware from 18.x to another 18.x release without following a special workaround procedur

[2020-02-19 09:53] kr3ator commented on #478
Please run your playbook with -v parameter and check in the output what is the discovered Python interpreter.

Most probably the discovered interpreter is different from Python3 for which You've installed the PyEZ package.

You can set the interpreter in ansible.cfg or via magic variable called `ansible_python_interpreter`.

[2020-02-19 12:59] kr3ator commented on #379
@vnitinv kindly please assign someone to review the code and accept the patch.

[2020-03-05 04:30] #379 closed

[2020-03-11 16:25] fooelisa commented on #413
I couldn't find any module that would make use of it per se, but there's a bunch of stuff going on in the core modules that could give some hints as to how to use it....

eg. https://github.com/ansible/ansible/blob/a0247d13d86601c88ad9c056484118d9137493d2/lib/ansible/vars/manager.py#L641

[2020-03-12 04:24] gmedders commented on #452
Any update on this? Would love to see patch supported!

[2020-03-16 05:48] vnitinv commented on #452
@gmedders We will get back to you on this in a day or so.

[2020-03-17 16:05] PhobicShades commented on #439
Seems to be true for QFX5120-48Y too. After setting 'validate: false' in my playbook, the upgrade succeeded (from version 18.4R1-S2.4 to 18.4R2.7).

[2020-03-19 06:13] vnitinv commented on #484
@zerowaitstate Do you have netconf trace when the software upgrade was tried?

[2020-03-19 14:27] rahkumar651991 commented on #477
Hi @zerowaitstate  , I tried and not facing this issue in my setup.

Could you run the playbook in verbose mode(append -vvv at end of ansible command) and share the output?

Also please share the netconf trace log for it. You can check this link for the same.
https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-03-19 16:16] zerowaitstate commented on #484
Attached.  It's running out of space.

Jan  1 00:54:50 [NETCONF] - [25589] Incoming: <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:f02bf8f8-7b9a-44d7-9c83-559a463d4849"><get-checksum-information><path>/var/tmp/junos-arm-32-18.2R3-S2.9.tgz</path></get-checksum-information></nc:rpc>]]>]]>
Jan  1 00:54:50 [NETCONF] - [25589] Outg

[2020-03-19 16:17] zerowaitstate commented on #484
Verbose output from ansible-playbook corresponding to the trace above:

2020-03-19 10:29:12,642 p=19487 u=dwaites n=ansible | TASK [load junos] *********************************************************************************************************************
2020-03-19 10:29:12,643 p=19487 u=dwaites n=ansible | task path: /home/dwaites/Development/burnin-playbooks/upgrade_junos_broken.yaml:27
2

[2020-03-19 16:25] zerowaitstate commented on #484
Sorry, GitHub is suppressing the XML code so I quoted it

`
Jan  1 00:54:50 [NETCONF] - [25589] Incoming: <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:f02bf8f8-7b9a-44d7-9c83-559a463d4849"><get-checksum-information><path>/var/tmp/junos-arm-32-18.2R3-S2.9.tgz</path></get-checksum-information></nc:rpc>]]>]]>
Jan  1 00:54:50 [NE

[2020-03-19 16:25] zerowaitstate commented on #484
``
Jan  1 00:54:50 [NETCONF] - [25589] Incoming: <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:f02bf8f8-7b9a-44d7-9c83-559a463d4849"><get-checksum-information><path>/var/tmp/junos-arm-32-18.2R3-S2.9.tgz</path></get-checksum-information></nc:rpc>]]>]]>
Jan  1 00:54:50 [NETCONF] - [25589] Outgoing: <rpc-reply xmlns="urn:ietf:par

[2020-03-19 16:25] zerowaitstate commented on #484
``xml
Jan  1 00:54:50 [NETCONF] - [25589] Incoming: <?xml version="1.0" encoding="UTF-8"?><nc:rpc xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="urn:uuid:f02bf8f8-7b9a-44d7-9c83-559a463d4849"><get-checksum-information><path>/var/tmp/junos-arm-32-18.2R3-S2.9.tgz</path></get-checksum-information></nc:rpc>]]>]]>
Jan  1 00:54:50 [NETCONF] - [25589] Outgoing: <rpc-reply xmlns="urn:ietf:

[2020-03-19 16:33] zerowaitstate commented on #484
Facts for the device in question.  It is a new device that shipped with a 18.1R3.3 image:

[code]

[2020-03-23 07:19] vnitinv commented on #484
`cleanfs` should have made some space, need to debug. Let me check if we get some device in our internal lab

[2020-03-23 07:30] vnitinv commented on #478
@anaaman I hope `ansible_python_interpreter` should help you here. Closing this issue for now. If still facing this please re-open.

[2020-03-23 07:30] #478 closed

[2020-03-23 11:21] vnitinv opened #489 "load patch support"
Issue Type
------
 - Feature Idea

Module Name
------
juniper_junos_config

Summary
------
add feature extending https://github.com/Juniper/py-junos-eznc/pull/1001

[2020-03-23 13:20] zerowaitstate commented on #484
I neglected to include the portion NETCONF trace just before that includes the cleanfs call (it is a long trace).

[code]

[2020-03-23 13:26] zerowaitstate commented on #484
[netconf-ops.log](https://github.com/Juniper/ansible-junos-stdlib/files/4369622/netconf-ops.log)

[2020-03-24 10:47] vnitinv commented on #484
@zerowaitstate Discussed internally. This looks to be a Junos issue. If you have TAC support, can you please discuss via that channel.
let me know if you face any issue. Keep me in loop

[2020-03-25 12:05] edurlin commented on #484
@vnitinv - Please provide us with the findings that led you to the conclusion it is a Junos issue. I will engage JTAC, but prefer NOT to go in empty handed, so to speak. Feel free to email me internal edurlin @ juniper

[2020-03-27 13:26] saiqard commented on #368
HAs any progress been made on this?

[2020-04-01 17:57] imkwx commented on #484
It is a known bug. Documentation and workarounds:
[PR 1 here](https://prsearch.juniper.net/InfoCenter/index?page=prcontent&id=PR1417441 )
&
[PR 2 here](https://prsearch.juniper.net/InfoCenter/index?page=prcontent&id=PR1344512)
&
[KB 1 here](https://kb.juniper.net/InfoCenter/index?page=content&id=KB31198&actp=METADATA)
&
[KB 2 here](https://kb.juniper.net/InfoCenter/index?page=content&id=KB34652&ac

[2020-04-01 19:18] zerowaitstate commented on #484
Interesting!  I did not know about kwargs on juniper_junos_software.

On Wed, Apr 1, 2020 at 12:57 PM Robin <notifications@github.com> wrote:

[2020-04-20 18:39] mfatty commented on #311
@stacywsmith :
Is still the statement still true?  We still can't use ansible to connect to a console server(with creds set 1), then connect to Juniper device (with creds set 2)?
""
Neither Netconify nor PyEZ support the ability to pass one set of credentials (username+password) for the console server, and a separate set of credentials for the Junos device itself.

While I agree that SSH connectiv

[2020-04-20 18:53] sahanaspc opened #495 "juniper_junos_software does not throw appropriate error messages during space issues."
When there is insufficient space left on the device, juniper_junos_software module needs to return a correct error when the upgrade procedure tries to untar the image.
Right now it just throws "Unable to install the software" when the error message should be something like "Unable to install software due to insufficient storage on the device"

[2020-04-20 18:53] stacywsmith commented on #311
I believe this is still true, but I haven't been involved with PyEZ for a while. @vnitinv to confirm.

[2020-04-21 19:52] mfatty commented on #311
@vnitinv @jnpr-community-netdev , see comment above. Any idea if this is possible now?

[2020-04-23 05:37] vnitinv commented on #311
From PyEZ 2.2.0 we support console login too. Check these
https://github.com/Juniper/py-junos-eznc/pull/861
https://github.com/Juniper/py-junos-eznc/pull/870

ansible too have got that integration
https://github.com/Juniper/ansible-junos-stdlib/blob/master/ansible_collection/Juniper/junos/plugins/module_utils/juniper_junos_common.py#L474-L482

Let me know if this helps!!

[2020-04-23 11:21] #489 closed

[2020-04-27 14:06] mfatty commented on #390
@vnitinv @doellal
I'm running into the same issue here. I haven't tested this yet but I'm supposed to change the ip_address of a juniper host, this is the same ip address that ansible uses to connect to the host. That means once the ip is changed, the remaining tasks will not be executed because ansible cannot reach the host anymore.

Is there a workaround for this?

[2020-04-27 14:07] mfatty commented on #390
@vnitinv
What if in the host file, I specify two ip_addresses: old and new ip? Is this even possible? That way once old is removed, ansible can continue it's work with the new ip.

[2020-04-27 14:34] mfatty commented on #311
@vnitinv
It does **_not_** look like I can use this feature because the github repo I'm using is https://github.com/ansible/ansible.

Connecting to a device over console using SSH as transport is only supported from the https://github.com/Juniper/ansible-junos-stdlib repo. Is this correct?

[2020-04-27 15:35] vnitinv commented on #311
@mfatty Both core and galaxy modules can be used together. for the task that needs console ogin, you can use juniper.junos roles.

Yes.

[2020-04-27 17:46] rahkumar651991 commented on #390
@mfatty - you may give the hostname of the device instead of IP. I hope the device-name doesn't change.

juniper_junos_config:
          host: "37.138.94.205"

juniper_junos_config:
          host: "srx300"

both will work.

[2020-05-06 19:02] sahanaspc opened #498 "juniper_junos_config needs the ignore_warning parameter to perform as expected"
juniper_junos_config library does not allow the user to commit configuration that involves a warning message. The ignore_warning parameter must be incorporated to let the user commit config with warnings as well.

[2020-05-07 10:37] vnitinv commented on #484
@zerowaitstate Did the suggestion made by @imkwx was helpful?

[2020-05-26 06:27] rahkumar651991 opened #502 "Exception handling error for get-config"
Issue Type
 - Bug Report

Module Name
------
juniper_junor_rpc

when calling get-config rpc, exception handling tries to print the rpc but the variable in not defined above. Will only occur when there in an exception during call of get-config.

[2020-05-27 12:58] mattwalter-cadenzallc opened #504 "Diff File Output does not work for NFX JDM Device"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_config

Juniper.Junos role and Python libraries version
[code]

OS / Environment
------
NFX250 JDM (Model: nfx250_s2_10_t)
18.4R3.3

Summary
------
When setting `diff: True` we expect to see a file generated that shows the changes of the candidate config vs the committed. The file output instead shows `Unable to parse diff from resp

[2020-06-04 07:59] rahkumar651991 commented on #502
Issue fixed and code merged in roles branch.

[2020-06-04 07:59] #502 closed

[2020-06-04 07:59] rahkumar651991 commented on #498
fix merged in roles branch.

[2020-06-04 07:59] #498 closed

[2020-06-17 12:23] rahkumar651991 commented on #504
Hi @mattwalter-cadenzallc

can you share the command ‘show version’ output?

[2020-06-22 15:51] jhlasnik commented on #504
I'm seeing a similar issue now since the commit on 5/28

[code]

[code]

[2020-06-22 18:49] jhlasnik commented on #504
Yeah, after digging through the code changes more I see that.  This wasn't noted in the requirements file as requiring a certain version of junos-eznc.

[2020-06-22 18:50] mattwalter-cadenzallc commented on #504
Will take a look and confirm, thanks!

[2020-06-22 18:55] mattwalter-cadenzallc commented on #504
Show version output:

Hostname: xxxxxxxxxxxxxxxxxxxxxx
Model: nfx250_s2_10_t
JUNOS Host Software [4.1.27-rt30-WR8.0.0.25_ovp:3.0.3]
JUNOS Host nfx-2 platform package [18.4R3.3]
NFX-2 LTE package [18.4R3.3]
JUNOS Host nfx-2 base package [18.4R3.3]
JUNOS Host nfx-2 control-plane flex package [18.4R3.3]
JUNOS Host nfx-2 data-plane package [18.4R3.3]
JUNOS Host qfx-jdm package [18.4R3.3]

{master:0}

[2020-06-22 18:59] jhlasnik commented on #504
Looking at your junos-eznc version you may need to upgrade that.  Going from 2.3.1 to 2.4.1 resolved my issue.

[2020-06-24 15:42] mattwalter-cadenzallc commented on #504
I actually also had the same issue you had with other devices recently. (napalm was holding junos-eznc to 2.2.1) 2.4.1 fixed that issue. The NFX JDM device is also now showing diff's as expected too now. Thanks!

Issue resolved.

[2020-06-24 15:42] #504 closed

[2020-06-30 19:05] markeriv opened #509 "ansible-galaxy installation instructions"
Issue Type
------

 - Bug Report

Module Name
------

Juniper.Junos role and Python libraries version

[code]

OS / Environment
------

 uname -r
3.10.0-1062.1.2.el7.x86_64

cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.7 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.7"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.7 (Maipo)"
ANSI_C

[2020-06-30 19:07] markeriv commented on #509
Very confused when attempting to get installed. Cannot find Juniper.junos_collection at https://galaxy.ansible.com/ when browsing. Attempts to use the installation instructions fail (is it out of date?). There is a similar project browse-able at https://galaxy.ansible.com/juniper/junos - is this the same project?

[2020-07-01 11:14] rahkumar651991 commented on #509
Hi @markeriv,

We will be releasing collections in ansible-galaxy in few days after few more modifications. There are some concerns which is delaying the process.
To install and use juniper.junos_collection, kindly install via github link.
[code]
Do use the junos-eznc==2.4.1 for collection. The latest junos-eznc version 2.5.0 was released yesterday and has some modification done at junos-eznc and

[2020-07-01 18:47] rahkumar651991 commented on #495
The failure message is modified and much detailed response is now expected.
The changes can be seen on ansible roles 2.4.0

[2020-07-01 18:47] #495 closed

[2020-07-05 08:27] rahkumar651991 commented on #209
Closing the issue as fix merged and released in 2.4.0 roles.

[2020-07-05 08:27] #209 closed

[2020-07-08 11:58] smutel commented on #509
[code]

[2020-07-10 18:07] avisom opened #513 "ignore_warning parameter for module juniper_junos_config doesn't work in versions greater than 2.3.1"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_config

Juniper.Junos role and Python libraries version
[code]

Summary
------
When using _juniper_junos_config_  with option _ignore_warning_ on versions 2.3.2 and 2.4.0 of Juniper.junos collection got traceback, on 2.3.1 works fine

Steps to reproduce
------
[code]
[code]

Expected results

[code]
Actual results
------
For example

[2020-07-13 02:50] rahkumar651991 commented on #513
Hi @avisom  -
Upgrade junos-eznc(PyEZ) to version 2.5.0.
Changes have gone related to ignore_warning in both ansible-roles and PyEZ. Recommended to use is juniper.junos (roles) 2.4.0 and junos-eznc(PyEZ) 2.5.0 .

[2020-07-14 14:13] ntwrkguru opened #514 "Dockerfile does not build"
Docker build fails

[code]

[2020-07-14 14:25] ntwrkguru commented on #514
@rahkumar651991 please assign to me...

[2020-07-15 14:05] ntwrkguru commented on #514
Fixed in #515

[2020-07-16 20:04] kr3ator commented on #379
@vnitinv unfortunatelly this bug has be re-introduced (most probably during migrations to Ansible Collections). It is present for the role branch as well as in the collections.

[2020-07-17 09:50] rahkumar651991 commented on #379
hi @kr3ator ,

It seems the changes went into the master branch which is going to be used for collections.
https://github.com/Juniper/ansible-junos-stdlib/blob/master/ansible_collections/Juniper/junos_collection/plugins/modules/juniper_junos_table.py#L330

i will fix this in the roles also.
https://github.com/Juniper/ansible-junos-stdlib/blame/roles/library/juniper_junos_table.py#L332

[2020-07-20 16:58] #468 closed

[2020-07-25 05:57] mwadman commented on #509
@rahkumar651991 - As far as I can tell, installing collections using git URLs is not supported in Ansible 2.9 (but is in development versions, and will be in 2.10 - https://github.com/ansible/ansible/issues/61680, https://github.com/ansible/ansible/pull/69154)

Is there a way to install the collection using stable versions of Ansible (e.g. 2.9)?

[2020-07-27 05:15] rahkumar651991 commented on #509
@mwadman - we have released an initial version of collection with the respective name "juniper.device" on ansible-galaxy.
We are still in the process of fixing few changes. However, you may start using it. Any changes will be mentioned in the release notes and will be updated soon.

[2020-07-29 07:01] #482 closed

[2020-08-04 13:28] tb90ka opened #517 "juniper_junos_system fails when (vmhost) rebooting MX204 router"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_system
[code]

Ansible roles version
------
Juniper.Junos, Version 2.4.0

OS / Environment
------
JUNOS 19.3R1.8

Summary
------
When trying to reboot a Juniper MX204 router using ansible, it first failed with an error:
[code]
After I patched the .ansible/roles/Juniper.junos/library/juniper_junos_system.py role to:
[code]

... the p

[2020-08-04 15:35] rahkumar651991 commented on #517
Hi @tb90ka
You will need to upgrade junos-eznc.
juniper.junos 2.4.0 requires junos-eznc >= 2.5.0. https://github.com/Juniper/ansible-junos-stdlib/releases/tag/2.4.0 .

your current junos-eznc version is 2.1.7. upgrade it and tell if it works fine for you.

[2020-08-04 16:17] #514 closed

[2020-08-05 08:21] tb90ka commented on #517
Hello @rahkumar651991
first of all thanks for your support!

I've upgraded junos-eznc as described:
[code]

But unfortunately I'm still getting the same error when running the playbook:
[code]
I've also tried to remove the role and install it again (via ansible-galaxy) but then I had to patch the roles ( .ansible/roles/Juniper.junos/library/juniper_junos_system.py) code again:
[code]

[2020-08-06 07:10] tb90ka commented on #517
Thanks @rahkumar651991 for fixing this!
I've overwritten the old roles via ansible-galaxy:
[code]
Reboot now seems to work, even though I still get a (somewhat strange) error message:
[code]
The playbook fails, but the device is still rebooting.
Could you please check what's wrong here?

Thanks in advance,
tb90ka

[2020-08-06 09:17] rahkumar651991 commented on #517
@tb90ka  - Can you share the netconf trace on the device for this issue.
you may unicast it to jnpr-community-netdev@juniper.net .
Will check more and get back. Also share the output displayed by the playbook with -v(verbose mode) option.

For enabling netconf trace on device, refer this.
https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-08-06 10:38] tb90ka commented on #517
@rahkumar651991 information has been provided as requested.

[2020-08-06 17:28] rahkumar651991 commented on #517
@tb90ka https://github.com/Juniper/py-junos-eznc/pull/1066/files the change is in PyEZ(junos-eznc) for this. this should fix it. We will release new version for both with the fixes soon.

[2020-08-17 12:22] kr3ator commented on #379
@rahkumar651991 thanks for the commit. Can You please also update the tag as tag 2.4.0 doesn't have that fix and Ansible Galaxy role is pointing to 2.4.0.

[2020-08-17 14:55] rahkumar651991 commented on #379
@kr3ator we are planning to release new version of roles by next week. Will update once it is done.

[2020-09-11 12:46] tb90ka commented on #517
This issues has been fixed meanwhile.

Thanks for your support!

[2020-09-11 12:46] #517 closed

[2020-09-14 15:01] jdratlif opened #522 "Unable to use junos_scp module"
Issue Type
------
 - Bug Report

Module Name
------
junos_scp

[code]

OS / Environment
------

Model: mx960
Junos: 17.3R3.10

Summary
------

I cannot use the junos_scp module.
It says I must provide a host, but if I do, it tells me providing a host is deprecated and gives me a confusing error.

Steps to reproduce
------

[code]

Expected results

[code]

Actual results
------

[code]

[code]

[2020-09-28 20:32] prime001 commented on #331
Did anyone ever resolve this?

[2020-09-28 22:24] pspdbx opened #523 "juniper_junos_software: upgrade fails for QFX10008"
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_software

juniper.device collection and Python libraries version

[code]

OS / Environment
------

QFX10008, jinstall-host-qfx-10-m-x86-64-17.4R3-S2.4-secure-signed.tgz , 17.4R3

Summary
------
When we use this module to upgrade the software on a QFX10008, it fails at this step:
rpc call `get-virtual-chassis-information`  is failin

[2020-10-05 06:57] rahkumar651991 commented on #523
Hi @pspdbx ,

Virtual chasis is fetched during facts gathering. The particular error can be ignored. We are trying to understand the cause for the error -
**tar: Error exit delayed from previous errors.**

Can you try the below command and share the output.

**root@device:/usr/sbin # ./pkg**
usage: ./pkg --version
./pkg <command> [<args>]

commands supported:
add install packages on the system
del

[2020-10-05 07:08] rahkumar651991 commented on #331
@prime001  - We now support single-RE ISSU.
If still facing the issue, kindly share the netconf trace for it.

https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-10-13 13:21] jacp9 opened #525 "juniper_junos_rpc - exceptions with large configurations"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_rpc

juniper.device collection and Python libraries version

[code]

OS / Environment
------

[code]
[code]
[code]
[code]

Summary
------

When trying to run `get-support-information` and `file-archive` on MX nodes with larger configurations, more complex hardware (more interfaces etc), the task fails. When running on less complex

[2020-10-13 13:32] jacp9 commented on #522
I believe this module only works with values from within `provider` dict, like shown below. It won't work any other way. You may want to remove `remote_src: yes` for your particular use case.
[code]

[2020-10-13 17:50] rahkumar651991 commented on #525
Hi @jacp9  - Can you share the netconf trace of the device for this scenario .

For reference - https://www.juniper.net/documentation/en_US/junos/topics/example/netconf-traceoptions-configuring.html

[2020-10-13 18:11] jacp9 commented on #525
Hi @rahkumar651991,

Sure - how can I securely provide that to you? It is quite a lot of files and obviously it contains the configuration.

[code]

[2020-10-15 09:50] jacp9 commented on #525
@rahkumar651991 @vnitinv @ydnath - any ideas on the above? happy to work with you on that, it would be nice to be able to gather RSI/logs via Ansible and not manually.

[2020-10-16 11:53] rahkumar651991 commented on #525
Hi @jacp9 - drop a mail to jnpr-community-netdev[at]juniper.net

[2020-10-30 16:20] fredtj opened #528 "juniper_junos_command - lxml.etree.XMLSyntaxError: StartTag: invalid element name"
Issue Type
------
 - Bug Report
Module Name
------
juniper_junos_command

ansible==2.7.7
apache-libcloud==2.4.0
asn1crypto==0.24.0
bcrypt==3.1.6
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
entrypoints==0.3
future==0.18.2
httplib2==0.11.3
idna==2.6
Jinja2==2.10
jmespath==0.9.4
junos-eznc==2.5.3
jxmlease==1.0.3
keyring==17.1.1
keyrings.alt==3.1.1
lockfile==0.12.2
lxml==4.5.2
MarkupSafe==1.

[2020-11-02 10:08] rahkumar651991 commented on #528
Hi @fredtj  -
Try below playbook.
[code]

Sample Output :
[code]

Refer - https://junos-ansible-modules.readthedocs.io/en/2.4.0/juniper_junos_config.html for similar examples.

Let us know if this works for you.

[2020-11-02 10:13] fredtj commented on #528
hello, thanks, i did test using that method, but it is not comparing the configs as i would like - it is comparing the configs the wrong way round (ie the + and - etc are reversed)

[2020-11-05 20:23] jalphonso opened #529 "Docker entrypoint bug on 2.4.X"
Issue Type
------

 - Bug Report

Module Name
------

Docker

Summary
------

Entrypoint appears to be Python rather than a shell. Cannot execute ansible-playbooks as a CMD to the container

Expected results
------

[code]

Actual results
------

[code]

[2020-11-05 21:23] jalphonso opened #530 "Docker Add label with git commit sha"
Issue Type
------

 - Feature Request

Module Name
------

Docker

Summary
------

It could prove useful to add a Label with the repository commit hash. Image tags are mutable so there could be more than one version of the image tagged with 2.4.3. Currently this is true for tags latest and roles. The digest is only visible on Docker Hub for currently tagged images so when that tag moves to a new d

[2020-11-09 15:07] ntwrkguru opened #532 "Incorrect syntax for installing versioned role from Galaxy"
Issue Type
------
 - Bug Report

Module Name
------
n/a

OS / Environment
------
Docker

Summary
------
Role does not install during Docker build as syntax is wrong.

Steps to reproduce
------

[code]

Expected results
[code]
Actual results
------
[code]

[2020-11-09 15:07] ntwrkguru commented on #532
@rahkumar651991 please assign to me

[2020-11-09 15:24] #532 closed

[2020-11-11 10:38] KobesM commented on #439
I can also confirm that validation does not work using the ansible module for QFX5100-48s and QFX5120-48y. For the QFX5100 this is only the issue when using 5e-series firmware but not when using the 5-series firmware.

We are updating to 18.4R2-S5.4.

So to summarize:
- QFX5100-48s with **5-series** firmware (jinstall-host-qfx-5-18.4R2-S5.4-signed.tgz) with validate set to **true** using juniper_j

[2020-11-25 17:51] gcasella opened #533 "juniper_junos_config: Traceback when committing configuration."
Issue Type
------
 - Bug Report

Module Name
------

juniper_junos_config

[code]

OS / Environment
------

Juniper EX3200 v11.4R8.5
Summary
------

This is only related to the EX3200 devices (which I know are not supported by Juniper anymore. This problem does not appear on EX4300's)

I can fix this by setting the **diff: ** tag to **false**
Steps to reproduce
------

[code]

Expected results

[c

[2020-12-02 14:43] fredtj commented on #528
@rahkumar651991 i've tracked this problem down, the error occurs when the diff/compare contains an & or < or >

any chance you could take a look please?

[2020-12-02 16:02] fredtj commented on #528
the problem line is in library/juniper_junos_command.py

`resp = junos_module.dev.rpc(rpc, ignore_warning=ignore_warning, normalize=bool(format == 'xml'))`

[2020-12-02 16:23] fredtj commented on #528
the traceback is very similar to: https://stackoverflow.com/questions/37005830/how-to-read-an-xml-file-with-sign/37006646

is there any workaround you are aware of?

[2020-12-02 16:32] fredtj commented on #528
finally managed to fix this by editing _xml.py in ncclient package and adding recover=True to the XMLParser construct:
[code]

not sure why it is a problem as when i run "show system rollback 0 compare 1 | display xml" on the device, the ampersand character is returned as &amp;

@rahkumar651991 let me know if i should report this elsewhere

[2020-12-03 06:47] rahkumar651991 commented on #528
@fredtj - thanks for the analysis. Could you help me with the exact output you are seeing for the error.
both
1) when run manually on device cli
2) received at the ncclient/ansible

I am not able to replicate the scenario in my local setup. I will try to hardocode the values and try to execute it.

[2020-12-03 08:31] fredtj commented on #528
first, create a commit containing an & character:

[code]

without the & sign in the commit, ansible runs the command "show system rollback 0 compare 1" OK, with the & sign, here is the error:

[code]

[2020-12-03 08:35] fredtj commented on #528
this is also happening with < and > in the commit, so failures occur for things like the following:

`set policy-options prefix-list ntp-servers apply-path "system ntp server <*>"`

[2020-12-16 10:00] tuhoanganh opened #535 "run juniper_junos_jsnapy module with telnet mode is error"
Issue Type
------
 - Bug Report

Module Name
------
juniper_junos_jsnapy

juniper.device collection and Python libraries version

[code]

OS / Environment
Ansible Server: Centos 7 minmal 1908
Devices:JUNOS 15.1X54-D37.9 - ACX1000, ACX2100

Summary
Run module juniper_junos_snappy with telnet mode is error

Steps to reproduce
ansible-playbook  -i inventories/ACX_test.yml  check_log.yml   -vvv
(pleas

[2020-12-21 17:56] vincentbernat commented on #509
Is there any timeline for releasing the collection as `juniper.junos` (or a specific issue to follow if not this one)?

[2020-12-29 02:08] klbnet commented on #107
Evening.
I read through the thread and followed all instructions but I am still having a similar issue. I hate to bump it 3 years after the fact.
Can anyone assist? I've gone through and made sure all the requirements/dependencies were installed and everything was updated.

[code]
(.venv) klobue@dev3-atl1:~/ansible$ head hosts
[all:vars]
ansible_python_interpreter=/usr/bin/python3
[code]
(.venv) k

[2020-12-29 05:15] rahkumar651991 commented on #107
@klbnet - In your pip list, there is no mention of junos-eznc. You need to install junos-eznc as it is missing.
``` pip install junos-eznc ```

[2020-12-29 14:07] klbnet commented on #107
@rahkumar651991 I was so concerned with listing all requirements I left out the PyEZ ... It's there. I included the module folders as well. See below. Thank you for replying.

(.venv) klobue@dev3-atl1:~/ansible$ pip list | grep -i jun
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf und

[2020-12-29 14:36] klbnet commented on #107
Error messages I realize I also forgot to include.
Also output showing netconf and jnpr.junos working. Not entirely sure how to test PyEZ without ansible or why ansible claims it is not installed.

(.venv) klobue@dev3-atl1:~/ansible$ ansible-playbook -i hosts junos_facts.yml --limit=*TA1.LAB1.PTN*

PLAY [Get device facts and configuration] **********************************************************

[2020-12-29 20:14] klbnet commented on #107
Friend helped to get it fixed. Even tho the ansible --version info showed the correct modules paths and all the other roles/modules worked without an issue PyEZ wouldn't work until I changed the ansible_python_interpreter to the one linked in the venv

(.venv) klobue@dev3-atl1:~/ansible$ head hosts
[all:vars]
ansible_python_interpreter=/home/klobue/ansible/network_ops/.venv/bin/python3
#ansible_py

[2020-12-30 08:20] rahkumar651991 commented on #107
@klbnet  - while using venv, we need to set python interpreter path correctly. Good to know that issue is resolved.

[2021-01-16 00:31] jimealbe commented on #216
@vnitinv where you able to find the PR about this issue? can you share that one pls?

[2021-01-21 21:50] pwlodawi opened #538 "juniper_junos_rpc unexpected kwargs conversion to bool"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_rpc

juniper.device collection and Python libraries version
------

[code]

OS / Environment
------
Ubuntu 20.04.1 LTS

JUNOS 17.3R3-S6.3

Summary
------
Can't pass "0" and "1" to kwargs. They get converted to bool and make RPC fail.

Steps to reproduce
------

Run following two tasks.

[code]

Expected results
------

Both tasks

[2021-01-25 19:36] mtucker502 commented on #144
@vnitinv Please email me the PR raised for this. I still face this issue in JUNOS 14.2R5.2.

[2021-01-27 22:10] pwlodawi opened #539 "juniper_junos_jsnapy fails when action is snapcheck"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_jsnapy

juniper.device collection and Python libraries version

[code]

Summary
------

Any juniper_junos_jsnapy task with action snapcheck fails because no pre_file argument is given to jsnapy and snapcheck fails with default value of None

[code]

Changing ansible_collections/juniper/device/plugins/modules/jsnapy.py:293
from
[co

[2021-01-28 05:51] rahkumar651991 commented on #539
hi @pwlodawi , we will check and fix this.

[2021-01-28 07:26] vnitinv commented on #216
@jimealbe I dont have permission to PR DB as now I am into a different team/role. Will check with my engineering team and get back to you.

[2021-01-29 05:37] rahkumar651991 commented on #538
@pwlodawi - Was checking the issue. It seems, one of the internal functions of ansible used in the module uses 1 and 0 as boolean values.
Will get back with the resolution soon.

[2021-01-30 22:48] pwlodawi opened #540 "juniper_junos_software - install on other RE prevented by version check"
Issue Type
------

 - Bug Report

juniper_junos_software
------

Summary
------

I'm trying to upgrade sw on dual RE box that doesn't use fxp0 interfaces for management. Because fxp0s are not used I connect to loopback interface i.e. always to master RE.  To specify RE to install on I use re0 or re1 in kwargs.

Procedure is as follows (let's assume re0 is a master and both REs have version X insta

[2021-03-08 21:38] nandhuvi opened #545 "Text Input file - juniper_junos_command"
Issue Type
------
 - Feature Idea

Module Name
------
juniper_junos_command
-->

juniper.device collection and Python libraries version

[code]

OS / Environment
------
Model: ex4300-48p
Junos: 17.3R3-S4.2

Summary
------
I would like to know if there's anyway we can use a set of commands from a text file under the juniper_junos_command module. I only see an option to use the command and then issu

[2021-03-10 08:53] rahkumar651991 commented on #545
Hi @nandhuvi  - we don't have such a provision in juniper_junos_command as of now.

[2021-03-29 20:39] achhabr1 opened #548 "logfile option with juniper_junos_software module not working as expected"
- Bug Report

Module Name
------
juniper_junos_software

juniper.device collection and Python libraries version

(python3env) [ac043s@SDNAUTOS02 ~]$ ansible --version
ansible 2.10.5
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/etc/ansible/roles/Juniper.junos/library', '/usr/share/my_modules']
  ansible python module location = /home/ac043s/python3-virtual-environme

[2021-04-09 22:28] hrv231 opened #549 "Add a new option to juniper_junos_software (collection juniper.device)"
Issue Type
------

 - Feature Idea

Module Name
------

juniper.device collection and Python libraries version

[code]

OS / Environment
------
ex3400
18.1R3.3

Summary
------
When I try to upgrade using the modules, for the ex2300 and the ex3400 there is no space available and it throws an error.
There are plenty of reports on this:
https://kb.juniper.net/InfoCenter/index?page=content&id=KB31198&

[2021-04-09 22:30] hrv231 commented on #484
Yes, it worked for me.
I opened ticket #549 requesting to add another option that will clean all the snapshots too, to create more space on the device.

[2021-05-01 19:19] itdependsnetworks opened #553 "Update Docs to Include fully-qualified collection name"
------

 - Documentation Report

Module Name
------
Ansible Collection

juniper.device collection and Python libraries version
[code]

OS / Environment
------
[code]
Summary
------
The documents refer to using a play level keyword of [collection](https://docs.ansible.com/ansible/latest/reference_appendices/playbooks_keywords.html#play). This is not generally the recommended approach, instead using

[2021-05-10 10:54] cmason3 commented on #144
Long time has passed, but I am still seeing this exact issue in JunOS 18.4R2-S3 on a QFX5120 :(

[2021-05-14 01:41] hrv231 opened #554 "get interface vlan information from device running old version"
Issue Type
------

 - Help

Module Name
------

`juniper.device.rpc`

juniper.device collection and Python libraries version

[code]

OS / Environment
------

ex3200
JUNOS 12.3R7.7 built 2014-06-12

Summary
------

I'm trying to gather all addresses from each interface, I was able to do it for almost all interfaces except interface **vlan**.

Steps to reproduce
------

[code]

Expected results

[c

[2021-05-18 15:20] mersl commented on #331
I hit the same issue today as I tried to ISSU upgrade a SRX345 cluster. I assume, I have quite recent modules installed (please check below python and ansible module versions).

Current running Junos: 18.4R3
Target Junos: 19.4R3-S3.3

I did set the traceoptions as advised at the earlier post and it stopped on VC information collection:

May 18 14:41:32 [NETCONF] - [62457] Incoming: <?xml version="

[2021-05-19 08:26] mersl commented on #331
I digged deeper in and it seems, the issue is close to [here](https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/utils/sw.py#L91-L92)

if I check my facts gotten from the SRX Cluster, there is no element 'localre' included
the array is:
        "current_re": [
            "node0",
            "master",
            "fpc0",
            "node",
            "fwdd",
            "member

[2021-05-20 19:19] hrv231 opened #555 "parser from xml to json problems.."
Issue Type
------

 - Bug Report

Module Name
------

juniper.device.rpc

juniper.device collection and Python libraries version

[code]

OS / Environment
------

ex3200 and ex3400

Summary
------

Steps to reproduce
------

When I use the below playbook with formats xml, the parser creates the unit for lo0 as {} instead of unit[]

[code]

Expected results

When I use the playbook with formats jso

[2021-05-24 20:29] #554 closed

[2021-05-31 02:47] rahkumar651991 commented on #555
@hrv231 - The formats parameter results in different output for different values provided. Json, xml and text and each will provide output in different style. The different style is there as with multiple user/vendor they have there own parser written for the particular implementation.

JSON will provide output in a dictionary like pattern while xml provides output in a etree like pattern.

This i

[2021-06-01 06:14] rahkumar651991 commented on #484
Closing this ticket as the issue seems to have been resolved after discussion.

[2021-06-01 06:14] #484 closed

[2021-06-02 04:09] cstamm opened #559 "Loading via set with template succeeds without change"
Issue Type
------

 - Bug Report

Module Name
------

juniper.device.config
- name: Load from a Jinja2 template.
  juniper.device.config:
    config_mode: 'private'
    load: 'set'
    format: 'set'
    template: "base/templates/purge_users.j2"
    check: true
    commit: true
    vars:
      host: "{{ inventory_hostname }}"
  register: response

juniper.device collection and Python libraries vers

[2021-06-04 14:40] rahkumar651991 commented on #559
@cstamm - Can you share the netconf logs captured at the device during this execution? In case you have some sensitive data you don't want to share here, you may hide it and share it at jnpr-community-netdev[at]juniper[dot]net
Refer this for more details- https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-06-18 12:03] a-maxime opened #560 "'JuniperJunosModule' object has no attribute 'conn_type'"
Issue Type
------
 - Bug Report

Module Name
------
juniper.device.config

**juniper.device collection and Python libraries version**

[code]

[code]

[code]

OS / Environment
------

JUNOS 14.1X53-D46.7
Ansible Control Node : macOS Mojave 10.14.6 & CentOS 8

Summary
------

On running the playbook below, I get a `'JuniperJunosModule' object has no attribute 'conn_type'` error and I can't figure o

[2021-06-18 12:28] rahkumar651991 commented on #560
@a-maxime - As multiple tasks have executed successfully, so it seems initial error has been resolved and now the error is in the last task.

As I can see, "update" is not a valid parameter to be passed for juniper.device.config. The suitable option can be "load: override"  . The error is seen as it can't recognise the parameter passed to the module. The error seen is not explaining it properly, W

[2021-07-06 20:15] achhabr1 opened #561 "JuniperJunosModule' object has no attribute '_pyez_conn'"
Issue Type
 - Bug Report

Module Name

facts

juniper.device collection and Python libraries version
(python3-venv) [ac043s@sdnautosr12 juniper]$ pip list
Package               Version
--------------------- -------
ansible               4.2.0
ansible-core          2.11.2
bcrypt                3.2.0
cffi                  1.14.5
colorama              0.4.4
configparser          5.0.2
cryptography

[2021-07-22 13:21] premeshshah commented on #403
HI team , is there any update on the issue ?

[2021-08-12 14:26] cwiech opened #562 "juniper_junos_command missing data, json duplicate keys not converted to list"
Issue Type
------

 - Bug Report

Module Name
------

juniper_junos_command

juniper.device collection and Python libraries version

[code]

OS / Environment
------

Model: ptx10008
Junos: 17.3R3-S12.3

Summary
------
When running the command "show bgp neighbor" and asking for json output the output returns duplicate keys (addpath-send and addpath-recieve are used multiple times). The json retriev

[2021-08-12 17:16] cwiech commented on #561
I am seeing the same issue. Interesting to note, when I sniff the network connection I can see ansible  connecting to the router and appears to get the data from the device. I see this on a couple different systems/version (linux and mac) both showing the same problem.

[code]

[code]

[code]

[code]

[2021-08-16 14:35] Niklasr69 opened #563 "juniper_junos_software failing when upgrading MX204 with reboot=yes"
Issue Type
------

 - Bug Report

Module Name
------
juniper_junos_software
-->

juniper.device collection and Python libraries version

[code]

OS / Environment
------
Model: MX204
Junos: 20.4R2

Summary
------
The juniper_junos_software module failing when is requesting to reboot (reboot =yes) the router.
 Error: RpcError(severity: error, bad_element: both, message: invalid value
The reason is t

[2021-08-30 08:58] #538 closed

[2021-08-30 13:18] 33Fraise33 opened #565 "Unable to run juniper.device.config with a template in combination with juniper.device.pyez connection"
Issue Type
------
 - Bug Report

Module Name
------

`juniper.device.config`

juniper.device collection and Python libraries version

[code]

OS / Environment
------

Juniper EX3400
`JUNOS 20.4R2-S1.6`

Summary
------

Running `juniper.device.config` with a template does not work with `juniper.device.pyez` as connection type.

Steps to reproduce
------

change connection type from `ansible_connect

[2021-09-01 13:25] holynakamoto opened #567 "AnsiballZ_software.py not finding base64 module from the python standard library"
### Summary

When I run the ansible-playbook to upgrade junos software I am seeing the following:

[code]

### Issue Type

Bug Report

### Component Name

Task: Upgrade Junos OS

### Ansible Version

[code]

### Configuration

[code]

### OS / Environment

ProductName:	macOS
ProductVersion:	11.5.2
BuildVersion:	20G95

### Steps to Reproduce

[code]

### Expected Results

I expected to see junos ve

[2021-09-01 13:28] holynakamoto commented on #567
I've tried this with both ansible core library and the juniper library and seem to get the same output.

https://github.com/ansible/ansible/issues/75611

[2021-09-02 04:02] holynakamoto commented on #567
So when I check the log data it looks like I am able to get the image up but it's not installing:

[code]

[2021-09-02 04:12] holynakamoto commented on #567
Latest PB:

[code]

[2021-09-02 17:11] holynakamoto commented on #567
Closing this was on the junos side...

[2021-09-02 17:11] #567 closed

[2021-09-15 23:43] holynakamoto opened #568 "logfile not being found in juniper.device.software"
Issue Type
------

 - Bug Report

Module Name
------

juniper.device collection and Python libraries version

[code]

OS / Environment
------
 18.4R2-S5.4

Summary
------
<img width="915" alt="Screen Shot 2021-09-15 at 4 51 31 PM" src="https://user-images.githubusercontent.com/407440/133527810-0079d7cd-6191-4b85-b4dd-2b5dfaf972f7.png">

Steps to reproduce
------
Not seeing log ouput, it appears as

[2021-09-16 14:11] holynakamoto commented on #568
I started getting log data back when I used verbose output, however I'm still curious why the extension isn't picking up logfile.

[2021-09-16 17:45] rahkumar651991 commented on #561
Hi,
can you check with this code merge - https://github.com/Juniper/ansible-junos-stdlib/pull/564/files
It should fix it.

[2021-09-16 17:47] rahkumar651991 commented on #568
Hi,

I just tried in my local setup and it works fine. Are you providing the complete path of the file?
I am not sure what could be the reason for the issue.

[2021-09-16 17:49] rahkumar651991 commented on #560
hi,
https://github.com/Juniper/ansible-junos-stdlib/pull/564/files will fix the error and show some relevant error. Closing this issue due to inactivity.

[2021-09-16 17:49] #560 closed

[2021-09-16 17:51] rahkumar651991 commented on #555
Based on the above comment, closing the issue.

[2021-09-16 17:51] #555 closed

[2021-09-16 17:55] rahkumar651991 commented on #549
hi @hrv231  -

The particular task "request system snapshot delete snap*" can be executed in form of a juniper_junos_command(roles) or juniper.device.command(collection). As you are setting the flag you can simply add another task before the software install.
This is not required.

[2021-09-16 18:03] rahkumar651991 commented on #340
Based on above discussion and code merge, the issue seems fixed. closing it.

[2021-09-16 18:03] #340 closed

[2021-09-16 18:08] rahkumar651991 commented on #377
Hi,

This is a very old issue, marking it as inactive. In case the issue still is relevant, kindly share the netconf logs captured on device for the execution.
Refer - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-09-16 18:09] rahkumar651991 commented on #381
Hi,

This is a very old issue, marking it as inactive. In case the issue still is relevant, kindly share the netconf logs captured on device for the execution.
Refer - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-09-16 18:09] rahkumar651991 commented on #548
Hi,

Can you run the script in verbose mode(append -vvv at end of playbook execution command) and share the logs.

[2021-09-16 18:35] rahkumar651991 commented on #334
Based on last comment, it resolves the issue, so closing it.

[2021-09-16 18:35] #334 closed

[2021-09-16 18:37] rahkumar651991 commented on #333
As code https://github.com/Juniper/py-junos-eznc/pull/787 is merged, it should fix the issue in next release of PyEZ, i.e >2.6.2 .
Closing it here.

[2021-09-16 18:40] rahkumar651991 commented on #371
This is a very old issue, marking it as inactive. From the comments, it should have been resolved by upgradation.

[2021-09-16 18:43] rahkumar651991 commented on #376
Copying the source code of roles(Juniper.junos) or collection(juniper/device) to proper directory ansible/roles or ansible/collections/ansible_collections should resolve it.

This is a very old issue, marking it as inactive. In case the issue still is relevant, let us know.

[2021-09-16 18:48] rahkumar651991 commented on #346
closing the issue, as it seems to have been resolved.

[2021-09-16 18:48] #346 closed

[2021-09-16 18:48] rahkumar651991 commented on #344
Closing the issue due to inactivity.

[2021-09-16 18:48] #344 closed

[2021-09-16 18:49] rahkumar651991 commented on #335
This is a very old issue, marking it as inactive. In case the issue still is relevant, kindly share the netconf logs captured on device for the execution.
Refer - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-09-16 18:52] rahkumar651991 commented on #343
This is a very old issue, marking it as inactive. If the issue is still relevant, let us know.

[2021-09-16 19:01] rahkumar651991 commented on #311
Based on the discussion, the issue seems to be resolved.
Closing the issue due to inactivity.

[2021-09-16 19:01] #311 closed

[2021-09-16 19:03] rahkumar651991 commented on #272
This is a very old issue, marking it as inactive. In case the issue still is relevant, kindly share the netconf logs captured on device for the execution.
Refer - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-09-16 19:08] rahkumar651991 commented on #208
The default path is due to certain use cases.
It is recommended to use absolute path or move to the corresponding directory.

Closing the issue.

[2021-09-16 19:08] #208 closed

[2021-09-16 19:10] rahkumar651991 commented on #250
Based on the discussion on #252 , closing this.

[2021-09-16 19:10] #250 closed

[2021-09-16 19:13] rahkumar651991 commented on #384
This is a very old issue, closing it due to inactivity. This should be fixed already. In case the issue still is relevant, kindly share the netconf logs captured on device for the execution.
Refer - https://www.juniper.net/documentation/us/en/software/junos/junos-xml-protocol/topics/example/netconf-traceoptions-configuring.html

[2021-09-16 19:13] #384 closed

[2021-09-16 19:15] rahkumar651991 commented on #390
Based on the discussion, closing the issue due to inactivity.

[2021-09-16 19:15] #390 closed

[2021-09-16 19:22] rahkumar651991 commented on #401
The issue seem to have be due to  json duplicate keys not converted to list.
There is another issue #562 for the same. Closing this, will track the issue from the other one.

[2021-09-16 19:22] #401 closed

[2021-09-16 19:23] rahkumar651991 commented on #399
based on the discussion, marking this as inactive.

[2021-09-16 19:25] rahkumar651991 commented on #395
based on discussion on #396 , closing this.

[2021-09-16 19:25] #395 closed

[2021-09-16 19:28] rahkumar651991 commented on #413
This is a very old issue, marking it as inactive.

[2021-09-16 19:32] rahkumar651991 commented on #410
The feature has been implemented and integrated with PyEZ.
Closing this.

[2021-09-16 19:32] #410 closed

[2021-09-16 19:40] rahkumar651991 commented on #442
this is fixed with code changes done in newer releases of PyEZ.
Closing this.

[2021-09-16 19:40] #442 closed

[2021-09-16 19:42] rahkumar651991 commented on #441
This is a very old issue, marking it as inactive. In case the issue still is relevant, kindly share the output of execution of playbook in verbose mode. Append -vvv during execution of playbook.

[2021-09-16 19:51] rahkumar651991 commented on #439
based on the discussion, setting validate flag as false resolves it as it is not supported for some device.
closing the issue.

[2021-09-16 19:51] #439 closed

[2021-09-17 13:05] holynakamoto commented on #568
Yes I'm providing an absolute path, which makes it even stranger.  The behavior is intermittent
<img width="1472" alt="Screen Shot 2021-09-17 at 6 02 19 AM" src="https://user-images.githubusercontent.com/407440/133787206-17af47a0-674a-4e25-ac98-683c36ea309f.png">
<img width="1510" alt="Screen Shot 2021-09-17 at 6 02 41 AM" src="https://user-images.githubusercontent.com/407440/133787211-9e078d7b-81

[2021-09-22 06:34] 33Fraise33 opened #569 "Pyezconnection taking private key before supplied password"
Issue Type
------
 - Bug Report  / Unwanted Behaviour

Module Name
------
juniper.device
juniper.device collection and Python libraries version

[code]

OS / Environment
------
Model: ex3400-24t
Junos: 20.4R2-S2.2

Summary
------

Running juniper.device.config for example does give a PyEZ ConnectAuthError when running the playbook with `-u <username> -k`. This happens as my private key in ~/.ssh/c

[2021-09-29 10:45] rahkumar651991 commented on #272
closing this due to inactivity.

[2021-09-29 10:45] #272 closed

[2021-09-29 10:45] rahkumar651991 commented on #335
Closing this due to inactivity

[2021-09-29 10:45] #335 closed

[2021-09-29 10:46] rahkumar651991 commented on #343
closing this due to inactivity

[2021-09-29 10:46] #343 closed

[2021-09-29 10:47] rahkumar651991 commented on #371
closing this due to inactivity

[2021-09-29 10:47] #371 closed

[2021-09-29 10:47] rahkumar651991 commented on #376
closing due to inactivity.

[2021-09-29 10:47] #376 closed

[2021-09-29 10:48] rahkumar651991 commented on #377
closing this due to inactivity

[2021-09-29 10:48] #377 closed

[2021-09-29 10:48] #399 closed

[2021-09-29 10:50] rahkumar651991 commented on #413
closing this due to inactivity.
Do check PyEZ connection plugin in juniper.device(ansible-collection) which supports persistent connection.

[2021-09-29 10:50] #413 closed

[2021-09-29 10:51] rahkumar651991 commented on #559
closing this due to inactivity.

[2021-09-29 10:51] #559 closed

[2021-09-29 10:51] rahkumar651991 commented on #441
closing this due to inactivity.

[2021-09-29 10:51] #441 closed

[2021-10-06 06:18] rahkumar651991 commented on #561
The new release of ansible should have this fixed. Closing this issue due to inactivity

[2021-10-12 04:48] rahkumar651991 commented on #539
closing this issue as fix has been merged.

[2021-10-12 04:48] #539 closed

[2021-10-12 04:54] rahkumar651991 commented on #533
Hi @gcasella,
As mentioned the issue is specific to the device. On the newer version of junos, this should work fine. We recommend to use diff as false for this scenario.
Closing this issue as this is device specific.

[2021-10-12 04:54] #533 closed

[2021-10-12 05:32] rahkumar651991 commented on #477
closing the issue due to inactivity.

[2021-10-26 18:45] holynakamoto opened #573 "Anaconda packages for requirements.txt"
Is it possible to build conda packages for the following:
https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs.html
junos-eznc >= 2.6.0
jsnapy>=1.3.6
jxmlease

[2021-11-01 15:18] nishantag opened #574 "SSH fails with "shell request failed on channel 0" on Juniper vMX device"
When trying to SSH into a Juniper vMX device with a configured username/pwd, it fails with an error "shell request failed on channel 0". The only way to come out of the issue is to login using a root used and force logout all the other sessions via "request system logout user " command. Is there a way to avoid performing this logout CLI and prevent seeing "shell request failed on channel 0" for SS

[2021-11-09 13:40] ric79 opened #575 "'JuniperJunosModule' object has no attribute '_pyez_conn'"
I'm reopening the issue because I'm in a fresh install and I still get the old error

Issue Type
 - Bug Report

Environment
------
[code]

Summary
------
I'm not able to run this simple playbook

[code]

I get

TASK [Retrieve facts from devices running Junos OS] **********************************************************************************
task path: /home/.../.../prova2.yaml:23
An exception o

[2021-11-09 14:35] ric79 commented on #575
Sorry found the problem in the inventory.

inventory.yaml
[code]

Final playbook:
[code]

Rr

[2021-11-13 02:34] steve--d opened #576 "juniper.device.config allow templates to use variables not defined in the task ie external file or vault"
Issue Type
------
 - Feature Idea

Module Name
------
juniper_junos_config

juniper.device collection and Python libraries version
[code]

Summary
------
From the docs https://junos-ansible-modules.readthedocs.io/en/2.4.3/juniper_junos_config.html, when using juniper.device.config with templates, vars is required to be defined in the task. This doesn't work for secrets handling as I can't keep my

[2021-11-22 10:31] ric79 opened #577 "Check if there is uncommitted config"
Hello,
I'm trying to understand how to check if there is an uncommitted config.

Example on MX

[code]

I tried
[code]
and I got: "Unable to open the configuration in exclusive mode: LockError(severity: error, bad_element: None, message: configuration database modified)"

Is it a sign that there is an uncommitted config?

Rr

[2021-11-23 18:59] holynakamoto opened #578 "Unable to close the configuration: UnlockError"
[code]
Unable to close the configuration: UnlockError'
[code]

I'm running this playbook against my entire inventory only this one device is produces the error.

[code]

[2021-11-23 20:20] #568 closed

[2021-11-23 20:20] #573 closed

[2021-11-24 17:31] holynakamoto commented on #578
@rahkumar651991 any idea here?

[2021-12-13 19:08] ssawtell commented on #577
Hi Riccardo,

Technically, that exception means someone else already has the configuration open, which prevents Ansible from getting an exclusive lock on the config. While it is likely the other person is modifying the config, it is not assured.

A problem with using the config module to read the configuration is that config wants to enter configuration mode. In addition to the exception you’ve en

[2021-12-14 07:23] ric79 commented on #577
I solved just running (in Python) configure and check the output. But your solution seems more interesting

Thanks!

Rr

[2021-12-14 07:23] #577 closed

[2021-12-22 10:07] codot-fr opened #579 "juniper.device.config fail silently"
Issue Type
------
 - Bug Report

Module Name
------
juniper.device.config

juniper.device collection and Python libraries version

[code]

OS / Environment
------
ex4650-48y-8c 19.3R2-S4.5

Summary
------
Okay, it's quite tricky. I'm not sure it's related directly to the collection code but it's quite specific to this collection.

For the context:
- I have a container with Python and ansible insta

[2021-12-22 14:10] dr4Ke commented on #579
I can add that the issue is in the `module_stdout` string, that fails to parse as a json. Because of the trailing `\u001b[0m\n\u001b[0m\u001b[0m`.

It seems to be terminal configuration escape codes. But I fail to see why they are there.

[2021-12-22 15:28] dr4Ke commented on #579
This issue is similar to https://github.com/ansible/ansible/issues/13895

The solution was to [introduce a newline before the json output](https://github.com/ansible/ansible/pull/15337/files#diff-f349dd7dd94c979d979664b11f27222e562b7444ec38407a4a511614fc5248edR1703)
[code]

Similarly, we can add a newline after the json output. And the json output is successfully interpreted, the task succeeds.
[c

[2021-12-23 11:11] Arvid-VF opened #580 "juniper.device.config fails with juniper.device.pyez connection"
Issue Type
------

 - Bug Report

Module Name
------

`juniper.device.config`

juniper.device collection and Python libraries version

[code]

OS / Environment
------

`JUNOS 18.2R3-S4.1 EX2300C`

Summary
------

Running `juniper.device.config` with `juniper.device.pyez` as connection type results in below error.
`connection: local` works as expected.

Steps to reproduce
------

Run `juniper.devic

[2021-12-23 13:38] dr4Ke commented on #579
We have nailed the issue to the jsnapy and colorama python modules being installed. As we don't need jsnapy, we removed it. I don't really understand why it is happening, because we don't use this module. But at the end of the `juniper.device.config` task, the colorama module is called and append these color control characters at the end of stdout.

[2021-12-28 09:20] rklomp commented on #561
Same here:
[code]

Any workaround for this?

[2022-01-12 10:15] csk06 opened #582 "RpcTimeoutError commit-configuration"
Issue Type
------

 - Bug Report

Module Name
------

juniper.device collection and Python libraries version

[code]

OS / Environment
------

Summary
------

Hi, I am trying to configure a lab device with following commands, but even for simple hostname changing, half of the times im getting the error below. As i understand, that "commit-configuration" is coming from python library, and there is

[2022-02-15 15:33] michaelmcdonald commented on #578
Few months late, but I rate into the same issue. My problem was I was attempting to run my playbook against a device that was configured to be a `line-card` role in a virtual-chassis. Ran it against the master and it worked.

[2022-02-15 17:29] holynakamoto commented on #578
@michaelmcdonald thanks for that, looks like it's not the case here.

[2022-02-15 17:29] holynakamoto commented on #578
`nmoore@SFO-651-1.2> show virtual-chassis status

Virtual Chassis ID: 211f.5f43.74f6
Virtual Chassis Mode: Enabled
                                                Mstr           Mixed Route Neighbor List
Member ID  Status   Serial No    Model          prio  Role      Mode  Mode ID  Interface
0 (FPC 0)  Prsnt    PD3718270236 ex4300-48p     128   Master*      N  VC`

[2022-02-18 05:19] dschwarz2011 commented on #580
Any update here? I'm running into the same thing.

Trying to run junos.device.config module and load: merge with a src: pointing towards my config.set file.

Connection' object has no attribute 'pyez_exception'

[2022-03-11 15:53] trif666 commented on #576
Hello @steve--d,

I'm also looking for a way to store variables used with juniper.device.config module.

Here is my Jinja2 template :
[code]

Here is my playbook using juniper.device role with config module :
[code]

What I'd really like is a way to store vars as this :
[code]

Is it currently possible or store vars directly in playbook file is the only way to achieve this ?

Thanks to you !
Trif

[2022-03-11 16:21] #576 closed

[2022-03-16 03:47] netwrknerd commented on #565
@33Fraise33 Did you ever find a way around this? Seeing a similar issue when applying a 'set' config to vMXs:

[code]

[2022-03-16 16:21] netwrknerd commented on #580
Also running into the same issue when using 'junos.device.config' module and 'load: merge' or 'load: set'

Regardless of which Python version I use (tested 3.7, 3.8, 3.9, & 3.10), or PyEZ version (tested 2.6.0, 2.6.1, 2.6.2, 2.6.3), or Ansible version (tested 2.9, 4.10, 5.50) I get this same error when loading a config (either set or merge format, both fail the same):

[code]

[2022-03-22 14:24] daniel-zook commented on #565
Same thing happens when using src with a .conf file:

fatal: [192.168.30.102]: FAILED! => {"changed": false,
"module_stderr": "Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-local-171962pta30sr/ansible-tmp-1647957357.5491126-17236-261819195196873/AnsiballZ_config.py\", line 102, in <module>\n    _ansiballz_main()\n  File \"/root/.ansible/tmp/ansible-local-171962pta30sr/ans

[2022-03-24 14:07] keepworld commented on #403
Anyone managed to have message info in jsnapy callback plugin ?

[2022-03-28 15:23] ric79 commented on #582
Same error for me

Failure committing the configuraton: RpcTimeoutError(host: xx.xx.xx.xx, cmd: commit-configuration, timeout: 10)

Did you solve it?

[code]

[2022-03-28 16:00] ric79 commented on #582
Workaround:

https://github.com/Juniper/ansible-junos-stdlib/blob/master/ansible_collections/juniper/device/plugins/module_utils/juniper_junos_common.py#L1529

[code]

[2022-04-19 12:09] ric79 opened #583 "jsnapy does not appear to be currently installed"
Hello,
I'm trying to run JSNAPY on Ansible but I get "jsnapy >= 1.3.4 is required for this module. However, jsnapy does not appear to be currently installed"

[code]

However, if I try to run a Python script, it executes without problems

[code]

[2022-04-20 11:52] zephyr2095 commented on #580
I'm having the same issue when trying to push config file to device. The "juniper.device.config" module works if you use "lines" but I get the "ansible.module_utils.connection.ConnectionError: 'Connection' object has no attribute 'pyez_exception'" error when trying to use "src". Any updates on if this will get fixed?

[2022-04-22 16:13] ric79 commented on #583
Solved. In my case the virtualenv used by the Juniper node was wrong (the 2 was missing):

  vars:
    ansible_python_interpreter: ~/python_envs/cgnat-upgrade**2**-env/bin/python3.9

[2022-04-22 16:13] #583 closed

[2022-04-27 04:01] dineshbaburam91 commented on #447
Hi Mamatha,

There is a difference in Junos and EVO version format.

# Junos version
[code]

# EVO version

[code]

Kindly provide the correctly formatted version in the ansible-playbook to check the current version of the device and target version.

[code]

It will do the installation if the current and target version not matched

[code]

[2022-04-27 04:01] #447 closed

[2022-05-07 14:34] Shourai commented on #387
Even though this issue is four years old, maybe my finding will help out someone in the future.
As I have been scratching my head for several hours.
I had the same exact issue and couldn't figure it out, it worked on some systems and not on others even with the same version.

Specifically I had the following error:
[code]

It seems that
[code]
under
[code]

was the culprit in my case.
[code]
is an

[2022-05-17 00:05] ahussey-redhat opened #584 "Using connection: juniper.device.pyez with mode: serial tries to resolve ansible_inventory_name"
Issue Type
------
 - Bug Report

Module Name
------
juniper.device.pyez
juniper.device.config

juniper.device collection and Python libraries version
[code]

OS / Environment
------

[code]
Summary
------
When using the connection type `juniper.device.pyez` and the mode `serial`, if the hostname fails to resolve the module fails.

Steps to reproduce
------
[code]

Expected results
[code]
Actual re

[2022-05-18 00:19] #529 closed

[2022-05-18 00:19] #530 closed

[2022-06-09 08:43] chuegel opened #585 "juniper.device.system reboot fails when junos.has_2RE"
Issue Type
------

 - Bug Report

Module Name
------

juniper.device.system

juniper.device collection and Python libraries version

[code]
[code]

OS / Environment
------

MX480 with dual routing engine (re0/re1)

Summary
------

After upgrading the backup routing engine of a MX480 device, following task is run to reboot it:

[code]
But this fails with following error:

[code]

Steps to reproduce

[2022-06-10 18:15] kishor578 commented on #297
how to extract the data in form of display set ?

[2022-06-11 00:19] ahussey-redhat commented on #584
it seems like this is expected functionality, and it by defaults tries to establish a serial connection over a SSH connection

[2022-06-11 00:19] #584 closed

[2022-06-11 00:53] ahussey-redhat opened #586 "[Question] Using a console server (conserve) for day 0 configuration"
Issue Type
------
 - Documentation Report

Module Name
------
juniper.device.pyez

juniper.device collection and Python libraries version
[code]

OS / Environment
------
Fedora release 36 (Thirty Six)
5.17.13-300.fc36.x86_64

Summary
------
I am trying to run my playbooks (which definitely work with direct serial access) via a console server.
For the purposes of this testing, I'm just using `conse

[2022-06-29 23:27] wdst-gcet commented on #565
Yeah same thing is happening to me as well using `ansible_connection: juniper.device.pyez`. When I run `ansible_connection: local` it works

### Task
[code]

### Results using `juniper.device.pyez`
[code]

[2022-06-30 15:24] wdst-gcet commented on #565
I spent a few more hours today trying to debug and find a solution that allows the use of `connection: juniper.device.pyez`. Sadly I don’t have much time to work on this but I figured my work around may help others.

## Workaround
Import the `juniper.junos` roles and use the `juniper_junos_config` role to perform tasks that require applying configuration. The `juniper.device.config` collection wor

[2022-07-07 09:48] biepio opened #587 "Implementation 'action: "shutdown"' in module juniper.device for Juniper devices running VMHOST"
- Feature Idea

Module Name
------

juniper.device collection and Python libraries version

Summary
------

Could you implement in this module working 'action: "shutdown"' for Juniper devices running VMHOST ? Currently for VMHOST only 'action: "reboot"' working correctly. For 'normal' Junos both actions work correctly.

Steps to reproduce
------

[code]

Expected results

[code]
Actual results
---

[2022-07-14 08:55] dineshbaburam91 commented on #582
Fixed the issue  #588

[2022-07-14 08:55] #582 closed

[2022-07-14 20:56] apmillett commented on #387
Hi All,

I'd like to report this as an issue to. We're seeing this across a spread of EX2300 switches running JunOS 20.x. Annoyingly, it isn't *every* switch. For example, on a particular site, we have 20+ EX2300 switches, only 5 of them errored with the output noted originally, the rest of the switches accepted the playbook output without a problem, and they're all running the same version of Jun

[2022-07-14 21:08] apmillett commented on #387
Actually, I take it back. We did have -

`rfc-compliant`

Removing it as @Shourai mentions, resolves the issue.

[2022-07-15 02:16] TheMysteriousX opened #589 "Incompatibility with Ansible 4+ due to API change"
Issue Type
------

 - Bug Report

Module Name
------

juniper.device.rpc

juniper.device collection and Python libraries version
------

[code]

OS / Environment
------
20.4R2, SRX4600

Summary
------
According to the ansible docs, `_check_type_dict()` has been removed.

https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_4.html

There is a call to the removed functions in `juniper

[2022-07-18 15:46] mdomore opened #590 "Error in ether-options when pushing configuration via ansible replace:"
Hi,

I have an already running configuration on a switch, I try to duplicate it with ansible, so nothing as to change at first.
One of my port is configured like so :
`xe-0/2/0 {
    ether-options {
        802.3ad ae0;
    }
}`

I have created the template to render the same configuration, but I get a error when I try to push the configuration on my switch.

Model: ex3400-48t
Junos: 18.2R1-S4.1

[2022-07-18 15:57] #590 closed

[2022-07-21 11:29] TheMysteriousX commented on #589
There's also an issue in the same code path, where safe_eval is called (I noticed this in rpcs.py).

By roundtripping the list of dicts created by the task via string then attempting to convert it back to a list of dicts, safe_eval is used.

safe_eval however, doesn't allow string inputs that contain the word 'import' - so trying to load a configuration via rpc calls that has route table imports f

[2022-07-22 02:00] TheMysteriousX commented on #589
There's a further issue, that makes it impossible for some RPC's to be called.
If you take e.g. validate:
[code]
It is not possible to generate this XML with the current code.

[2022-07-26 06:53] dineshbaburam91 commented on #589
@TheMysteriousX  PyEZ and ansible support only RPCs which are updated in Junos XML explorer. Junos doesn't support the "validate" tag. Kindly validate and run the RPC which is supported by Junos.

https://apps.juniper.net/xmlapi/

[2022-07-26 06:53] #589 closed

[2022-07-26 09:55] dineshbaburam91 commented on #578
@holynakamoto Kindly confirm MGD process is up and running in the device. This could be some device issue where the MGD database got corrupted or MGD is busy committing other configurations.

[2022-07-26 10:52] TheMysteriousX commented on #589
Thanks for your reply - the use of the validate RPC is not required to trigger these issues, just using an ansible version >4.

i.e.

[code]

This task still throws the same stack trace.

[2022-07-28 14:04] TheMysteriousX commented on #582
#588 doesn't fix the issue for me - instead of a 10 second timeout, it makes a 30 second timeout be applied instead.

The change appears to add timeout support to commit_configuration, but the invocation of the method hasn't been updated - so instead of the timeout defined in the task being applied, the default of 30s is used.

https://github.com/Juniper/ansible-junos-stdlib/blob/master/ansible_co

[2022-08-05 08:44] 33Fraise33 opened #592 "Ansible command line password not passed to the module anymore"
Issue Type
------
 - Bug Report

Module Name
------
Juniper.device.config

juniper.device collection and Python libraries version

[code]

OS / Environment
------

Juniper EX2300
Junos: 21.2R2-S2.3

Summary
------
The module is not passing the ssh password from the command line /environment anymore.
when you supply `--ask-pass` or `-k` it does not pass it through to the juniper.device.config modul

[2022-10-05 08:31] leonkramer opened #594 "Failed SSH Key Based Authentication for older Junos Versions"
Issue Type
------
 - Bug Report

Module Name
------
 - paramiko

[code]

[code]

OS / Environment
------
Juniper EX3300 @ 15.1R7-S7.1

Summary
------
Ansible SSH connection fails with Authentication Error, even though normal SSH connection in terminal works flawless.

Steps to reproduce
------
Install paramiko with version >= 2.9 and run ansible playbook on older Junos versions

Expected results
-

[2022-10-12 16:40] dineshbaburam91 commented on #594
In the case of Junos legacy support device, Kindly use paramiko 1.15.2 version.

[2022-10-18 13:52] OrionTheGiant commented on #561
Same problem here

[2022-10-19 10:58] spinoshi commented on #525
Any update on this? It seems to be related to xml parsing and number of lines.

[2022-10-26 12:54] ryeleo commented on #561
This problem is hitting me today! I'm encountering this as I try to upgrade from the old `junos_config` Ansible built-in module to use the new `juniper.device` collection.

[2022-10-26 17:02] webtroter commented on #561
@rahkumar651991 we need this issue reopened.

[2022-10-26 17:05] webtroter commented on #575
@ric79 , I know it's been almost a year, but what was the problem in your inventory?

[2022-10-28 09:26] jaakub opened #599 "juniper.device.jsnapy - enhance callback option"
Issue Type
------

 - Feature Idea

Module Name
------

juniper.device collection and Python libraries version

[code]
[code]

OS / Environment
------

Summary
------

Currently, when JSNAPy test fails, the callback module doesn't return the 'human friendly err:' output (if that's available), and instead it always returns the default XML error such as :
[code]
Is it possible to introduce some logi

[2022-11-04 12:55] chidanandpujar commented on #525
Hi ,

huge_tree is already supported as part of fix https://github.com/Juniper/ansible-junos-stdlib/pull/572.
Could you please check following options and share the results .

---
- name: Test juniper.device.rpc module
  hosts: all
  connection: local
  gather_facts: no
  collections:
    - juniper.device

  tasks:
#################
   - name: Execute RPC
     rpc:
       rpcs:
         - get-supp

[2022-11-09 18:44] jaakub commented on #592
I've come across identical issue with the latest version. Would be nice to see it resolved.

[2022-11-11 05:47] chidanandpujar commented on #589
Hi ,

Looks to be working fine ,Could you please verify once with latest Ansible collections.

[code]

Thanks

[2022-11-14 08:25] moophat opened #601 "Command module cannot retrieve configuration in xml form"
Issue Type
------

 - Bug Report
Module Name
------

juniper.device collection and Python libraries version
------

[code]

OS / Environment
------

Junos version 15.1
Junos version 20.4

Summary
------

The command module would execute the requested command line in the rpc form
`
<command format=xml>
show something here
<command>
`
However Junos itself would not return the correct format if the c

[2022-11-15 11:36] dineshbaburam91 commented on #580
Kindly run the playbook using "sudo"

[2022-11-15 12:12] chidanandpujar commented on #601
Hi ,

The command modules enable you to execute operational mode commands on devices running Junos OS ,
please use the config module to retrieve the configuration

---
- name: Test juniper.device.config module
  hosts: all
  connection: local
  gather_facts: no
  collections:
    - juniper.device
  tasks:
#################
    - name: Retrieve the committed configuration
      config:
        retr

[2022-11-17 15:08] moophat commented on #601
@chidanandpujar hi, thanks for the prompt response but I think you misunderstood the use case or skimmed the part where I specify this is a show configuration specific problem.

I'm aware that the config module can do the job, and the command module's xml format work for other commands. The root cause is as I specified, Junos itself do not understand the implemented rpc

[code]

 if $command inclu

[2022-11-30 13:05] moophat commented on #601
Doesn't seem like the repo is being monitored anymore, feel free to close it, I'll update a pull request for review later

[2022-11-30 13:05] #601 closed