[2014-04-09 12:02] jeremyschulman opened #1 "add junos_get_config"
add module that will retrieve the entire configuration and store it to file.  something like:

[code]

possible options:
[code]
other ideas?

[2014-04-09 12:04] jeremyschulman opened #2 "add junos_rollback"
add the ability to rollback to a specific configuration, identified by number [1-50].
[code]

[2014-04-09 12:07] jeremyschulman opened #3 "enhance junos_install_config to load from Junos filesys"
Add the ability to load configuration stored locally on the Junos filesystem.  Perhaps something like:

[code]

assumes that the file "my_backup.conf" is located in the $HOME directory on the Junos device.

[2014-04-11 11:12] mamathac opened #4 "junos_get_facts: On a dual RE, junos_get_facts module fails after a RE switchover"
Module: junos_get_facts
Host Model: mx480.

Steps to reproduce:
1. On a dual RE router, run an ansible playbook which consists of below code.
2. Verify that the playbook results for Get Junos Facts is fine.
3. Now issue an RE switchover and wait for the device to restore master/backup RE.
4. Run the playbook again after the switchover. Shows below error.
## Playbook:
- name: Junos OS version
  hos

[2014-04-18 13:41] jeremyschulman opened #5 "enhance junos_install_config to support --check"
Enhance the module so that when --check is specified the configuration is loaded and then only a commit-check is performed. then the config change is discarded.

[2014-04-18 13:43] #4 closed, assigned to nobody

[2014-04-28 12:06] mamathac opened #6 "junos_install_os:Better Handling of error message needed when junos install fails."
Host: m120
Image location: /usr/local/junos/images/
Current Version on the host: 12.1R8
Playbook code:
    - name: install Junos OS package
      junos_install_os:
       host={{ inventory_hostname }}
       version=13.2R4.6
       package=/usr/local/junos/images/jinstall-13.2R4.6-domestic-signed.tgz
       logfile=/usr/local/junos/log/loadimage.log
      register: sw

Issue:
Since the version on

[2014-04-29 15:38] mamathac opened #8 "[ansible-junos-stdlib] Need support for no-validate flag."
Model: All supported Models
Ansible module: junos_install_os
Use case: Juniper router allows user to override existing configuration and install image using "no-validate" flag.

Current code:

def main():
  module = AnsibleModule(
    argument_spec = dict(
      host=dict(required=True),
      package=dict(required=True),
      user=dict(required=False, default=os.getenv('USER')),
      passwd=dic

[2014-05-12 09:11] dgjnpr opened #10 "junos_install_config incorrectly reporting syntax error"
junos_install_config fails reporting a syntax error for a config that applies without error, nor warning, when committed manually.

Here's a log showing ansible failure and that the config can be applied correctly.

dgethings@ubuntu-server1 ~/git/jnpr_ps_16596_ansible
 % ansible-playbook -i mx-hosts pe-tasks.yml

PLAY [Creating build directories for each host] ******************************\*

TAS

[2014-05-12 10:25] mamathac opened #11 "junos_install_os: Log needs to be printed when version is same as installed."
Host: Asthra
Model: srx5500
Running version on the router: 11.4R7
Installing version : 11.4R7
## Playbook code:
- name: Junos OS
  hosts: all
  connection: local
  gather_facts: no
  vars:
    restart_wait_time: 3600
    reboot: 'yes'
    tasks:
  - name: install Junos OS package
    junos_install_os:
      host={{ inventory_hostname }}
      version=11.4R7
      package=/usr/local/junos/images/ju

[2014-05-12 14:22] #10 closed, assigned to nobody

[2014-05-13 12:50] jeremyschulman opened #12 "better login error message handling"
As of junos-pyez version 0.1.2 there are new Exceptions for the various login/auth failures.  Need to expose this information into the ansible modules failure message.

[2014-05-13 12:51] #11 closed, assigned to nobody

[2014-05-14 14:26] #12 closed, assigned to jeremyschulman

[2014-05-14 14:28] #6 closed, assigned to nobody

[2014-05-19 13:37] shermdog opened #13 "Underlying netconify exception not handled"
Exceptions raised in the underlying netconify library are not being handled by Ansible.

[code]

[2014-05-23 14:10] jeremyschulman opened #14 "junos_install_os - fails on 'ok' var"
Relo of issue reported on py-junos-eznc [#216](https://github.com/Juniper/py-junos-eznc/issues/216)

[2014-05-23 14:51] #14 closed, assigned to jeremyschulman

[2014-05-26 11:30] mamathac opened #15 "<junos_install_config> on an m120/mx480 dual RE, load set commands fail."
Model : m120 (Richie)
configuration saved in .set file extension :

File contents:
set policy-options policy-statement P0 term term1 from route-type external
set policy-options policy-statement P0 term term1 then preference 0
set policy-options policy-statement P0 term term1 then accept
set policy-options policy-statement P1 term term1 from route-type external

task:
- name: Configure using ansibl

[2014-05-28 14:01] #15 closed, assigned to vnitinv

[2014-05-28 14:04] #8 closed, assigned to jeremyschulman

[2014-05-29 16:01] vnitinv opened #16 "<junoz_zeroize> Need logging for junos_zeroize."
Model : Any
Module: junos_zeroize

While testing junos_zeroize, found that there is no support for logging provided. It only returns changed “true” or “false”.
It gives a better understanding of what is happening on the device if the device logs can be captured and logged.

[2014-05-29 17:18] jeremyschulman opened #17 "junos_zeroize needs to support 'log' option"

[2014-05-29 17:21] #17 closed, assigned to jeremyschulman

[2014-05-31 03:05] mamathac opened #19 "<junos_install_config> "exceptions.ValueError " Error when using overwrite with set file."
regress@vm-nomadic-ubuntu:/usr/local/junos/log$ tail -f config.log
2014-05-30 09:14:48,197:CONFIG:triplane:connecting to host: regress@triplane
2014-05-30 09:14:55,017:CONFIG:triplane:pushing file: /usr/local/junos/config/only_policy.set
2014-05-30 09:14:55,017:CONFIG:triplane:taking lock
2014-05-30 09:14:55,081:CONFIG:triplane:loading config
2014-05-30 09:14:55,762:CONFIG:triplane:committing chan

[2014-06-02 09:23] vnitinv opened #20 "TypeError: cannot concatenate 'str' and 'bool' objects"
With respect to changes made under:
https://github.com/Juniper/py-junos-eznc/pull/237

We need to revert the changes made in
https://github.com/Juniper/ansible-junos-stdlib/pull/9/files

Which was done considering string (Error message) returning not boolean False in case of failure.
Now we might face something like:

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>

[2014-06-02 09:29] mamathac opened #21 "<junoz_zeroize> Need logging for junos_zeroize."
Model : Any
 Module: junos_zeroize

While testing junos_zeroize, found that there is no support for logging provided. It only returns changed “true” or “false”.
It gives a better understanding of what is happening on the device if the device logs can be captured and logged.

reference :
https://github.com/Juniper/py-junos-eznc/issues/233

[2014-06-02 09:56] mamathac opened #22 "<junos_get_facts_console> NEGATIVE TESTING.Irrelevant error when TERMSERV settings are incorrect"
Model; Any
Module: junos_get_facts_console.

Steps to reproduce:
The terminal server is incorrect in the playbook.
for Albert correct terminal server is bngsquid11 and on port 7026

YAML CODE HAS

[code]

Script returns:

[code]

Since the router is in amnesiac mode, there is no relevance to password. Should return something relevant like no reply from termserver or port.

[2014-06-05 12:07] mamathac opened #23 "Documentation: <junos_console_devicemode> Description is incorrect."
Documentation: Description is incorrect at:

https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_console_devicemode

short_description: Shutdown or Reboot the Junos device >> Should be changed to..

short_description: Device console module to change the "device mode"

[2014-06-13 13:55] #20 closed, assigned to nobody

[2014-06-13 17:13] supertylerc opened #26 "Can't Specify SSH Key"
Specifying an SSH key with Ansible is not honored by the Juniper module.  With the key loaded to the device, the following error occurs:

[code]

This is with the following hosts configuration:

[code]

I have verified that I can ssh when using that key.  The relevant configuration for the playbook:

[code]

And the log (which isn't helpful):

[code]

[2014-06-16 11:42] #19 closed, assigned to nobody

[2014-06-16 22:23] #16 closed, assigned to jeremyschulman

[2014-06-16 22:24] #23 closed, assigned to jeremyschulman

[2014-06-16 22:24] #21 closed, assigned to jeremyschulman

[2014-06-16 22:33] #22 closed, assigned to jeremyschulman

[2014-06-16 22:52] #26 closed, assigned to nobody

[2014-06-18 06:21] vnitinv opened #27 "ansible-junos-stdlib docs mismatch"
qfx required need to be True or False. below 2 line contradict each other.
https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_console_devicemode#L74

https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_console_devicemode#L112

console argument is not described under Documentation->options
https://github.com/Juniper/ansible-junos-stdlib/blob/master/libra

[2014-06-23 06:36] vnitinv opened #29 "port is not defined under AnsibleModule and qfx default value mismatch"
https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_console_devicemode#L96

port as per description is Mandatory but cannot be seen under AnsibleModule.

qfx default value mimatch between none and node.
https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_console_devicemode#L76

https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_con

[2014-06-23 17:14] #29 closed, assigned to nobody

[2014-07-28 20:54] mhite opened #38 "junos_get_facts doesn't support check_mode"
When you have a playbook you run in check-only mode, modules that don't support check_mode are skipped. I noticed junos_get_facts doesn't support check_mode. Since this module does not change state on the remote device, I can't think of any reason why NOT to support check_mode. Or is there some detail I am missing?

It should be a simple fix to make this module check mode compatible and I'm happy

[2014-08-13 20:27] shermdog opened #39 "junos_install_config default to merge"

[2014-08-15 22:08] #27 closed, assigned to nobody

[2014-08-18 18:12] #39 closed, assigned to shermdog

[2014-09-19 21:28] djatlantic opened #44 "security nat source acting all weird"
Hi all,

I am new to Juniper OS ( 12.1X44.3 ) and I have tried to setup security nat source with the following:

set security address-book global address dmz70 wildcard-address 192.168.7.0/255.255.255.0
set security address-book global address lan50 wildcard-address 192.168.5.0/255.255.255.0
set security address-book global address lan60 wildcard-address 192.168.6.0/255.255.255.0
set security addr

[2014-12-05 19:48] Hamelpa opened #47 "junos_install_os not supported with EX4300 Virtual Chassis."
When I use the junos_install_os with a stack of EX4300 in a VC, only the Master RE reboots at the end and the playbook fails. I have to manually reboot the other members in the virtual chassis to finalize the installation.

Thanks,
Patrick

[2015-01-08 17:56] shermdog commented on #44
Closed due to lack of response.

[2015-01-08 17:56] #44 closed

[2015-01-08 19:16] shermdog commented on #38
Fixed by 2b0f0628b0230cd9a7cc9364ef8a1c2e6a3c375c

[2015-01-08 19:16] #38 closed

[2015-01-08 19:17] shermdog commented on #5
Added via #49

[2015-01-08 19:17] #5 closed

[2015-01-08 19:49] shermdog commented on #3
This functionality is not available in PyEZ and thus far hasn't been requested.  Deferring this.

[2015-01-14 20:43] #13 closed

[2015-02-02 18:21] shermdog opened #53 "Extend junos_get_facts savedir to save facts when using netconf"
At current the savedir variable is only used for netconify.  Extend this to support both modes.

Temporary work around:

[code]

[2015-02-11 10:34] ramelito opened #54 "file with extention *.set is not converted to xml and raises error on the shell"
Here what i am trying to implement, simple playbook
   tasks:
    - name: installing initial config to Amnesiac
      junos_install_config:
        host={{ inventory_hostname }}
        user=root
        console="--telnet={{TERMSERV}},{{TERMSERVPORT}}"
        file=configs/initial.set
        overwrite=yes
        savedir=junos/inventory
        logfile=junos/logs/initial.log

config is also very

[2015-02-11 15:23] shermdog commented on #54
Hi @ramelito

When using console mode the only supported format is text (curly brace).

The underlying console framework would need to be updated to support this.  If that is a feature you require please open an issue there.  https://github.com/Juniper/py-junos-netconify/issues

Thanks,
-Rick

[2015-02-13 13:10] XioNoX opened #56 "Return more verbose error message"
Hi,

Right now if the network device returns an error, it's properly logged in the logfile, while only "Unable to make changes" is returned to Ansible. To me, the most verbose/useful error should be returned to Ansible.
If so, I think nothing gets caught in the "except CommitError" and defaults to "except Exception".
I'll wait before trying to send a pull request :P

Thx!

[2015-03-10 14:53] cvicente opened #58 "junos_install_config causes Ansible to incorrectly report failure when warnings exist"
Ansible output (redacted):

[code]

Netconf log file in router.example.net shows:

[code]

We are working on the license thing, but the configuration is actually committed, so Ansible incorrectly reports that changes could not be made.

[2015-03-10 15:11] shermdog commented on #58
Hi Carlos,

This is related to Juniper/py-junos-eznc#358
(More issues related inside of that one)

The configuration should be be getting rolled back on module exit.  Are you seeing it stay in the candidate configuration after Ansible exits?

If so, please provide the model/version.

(Your ears must have been ringing - I was just talking this morning about what you said at Nanog)

Thanks,
-Rick

[2015-03-10 15:35] cvicente commented on #58
Hi Rick,

The config was actually committed. This is a:

[code]

[2015-03-10 15:38] shermdog commented on #58
Thank you for the report.

This is a bug.  When the exception is hit we need to rollback and unlock.

Note - this *will* prevent a configuration with warnings from being committed as per the other issues.

Thanks,
-Rick

[2015-03-11 00:59] cvicente commented on #58
Interestingly, Ansible only shows errors _sometimes_. Other times, the configuration is committed and an exception is not thrown, although the netconf logs do show the warning.

[2015-03-16 14:55] cvicente opened #59 "Banner text shows up in diffs randomly"
This may not be a bug in this module, but I'd like to ask here in case someone has any clues. The issue is that, when deploying changes, we randomly see these lines in the diffs:

[code]

The template that covers this section looks like this (we use XML format):

[code]

I say "randomly" because we see the diffs coming from some devices, sometimes.

It is particularly problematic when we do period

[2015-03-16 14:58] shermdog commented on #59
Hi @cvicente ,

Is this also on:
[code]

Or a different device / version?

Thanks,
-Rick

[2015-03-16 14:59] cvicente commented on #59
This happens in pretty much any model we have (MX, SRX, QFX, EX)

[2015-03-16 16:30] shermdog commented on #59
You find all the fun stuff Carlos :)

I suspect this is on the Junos side of things.  I searched our bug system found issues around deleted messages persisting, but nothing quite like this.

Could you try to do `load (replace|merge) terminal` on an affected system (several times) to see if you can re-produce this manually?

I can also try this if you give me the software version of the systems.

-

[2015-03-16 17:26] cvicente commented on #59
I've tried to reproduce it on the CLI, using `load merge terminal` and also `set system login message` , trying a dozen times on several devices, but I don't see it happen that way.

Examples where I've seen the problem recently:

* mx240 - 12.3R6.6
* mx480 - 12.3R9.4
* ex2200 - 12.3R6.6
* ex2200 - 12.3R9.4

[2015-03-16 19:12] shermdog commented on #59
I *may* have this reproduced on my side.

When I pass the message enclosed in quotes it seems to trigger the diff.

If I pass it in unenclosed it seems to work without issue (at least after a couple hundred automated passes).

[code]

So my thinking (hope) is that string is being quoted prior to being passed in.

[2015-03-27 14:13] cvicente commented on #59
I tried a combination of quoted, unquoted, with and without encoded carriage returns (\n) to no avail. The only solution was to reduce the banner to a one-liner. I am not seeing diffs any more. Notice that this only when using XML format. I have not tried the other formats.

[2015-04-09 18:22] XioNoX opened #60 "Has POE in get_facts"
Same as the has_2RE, it would be useful if get_facts could returns the POE capability of the device as well. (None, POE, POE+)

Thanks

[2015-04-09 18:25] shermdog commented on #60
Gathering facts requires a series of RPC calls to be executed which adds some additional delay.  We're looking at some enhancements to the facts mechanism that would optionally provide more extensive facts.  I'll add that to the list.

Thanks,
-Rick

[2015-04-09 18:38] XioNoX opened #61 "Incorrect value of has_2RE"
Switches with a single RE return "'has_2RE': True".

For example:
ok: [switch2] => {
    "msg": "{u'domain': u'example.net', u'serialnumber': u'XXX', u'ifd_style': u'SWITCH', u'version_info': {u'major': [12, 3], u'type': u'R', u'build': 6, u'minor': u'6'}, u'version_RE0': u'12.3R6.6', u'RE0': {u'status': u'OK', u'last_reboot_reason': u'0x1:power cycle/failure ', u'model': u'EX2200-48T-4G', u'up_ti

[2015-04-09 19:42] shermdog commented on #61
Hi @XioNoX

Can you please provide the output of (with sanitized serial numbers) from the affected switch:

[code]

Thanks,
-Rick

[2015-04-09 19:47] XioNoX commented on #61
Here it is:
<rpc-reply xmlns:junos="http://xml.juniper.net/junos/12.3R6/junos">
    <route-engine-information xmlns="http://xml.juniper.net/junos/12.3R6/junos-chassis">
        <route-engine>
            <slot>0</slot>
            <mastership-state>master</mastership-state>
            <status>OK</status>
            <temperature junos:celsius="26">26 degrees C / 78 degrees F</temperature>

[2015-04-09 19:49] shermdog commented on #61
Please repost with content in a code block.
https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks

[2015-04-09 19:50] XioNoX commented on #61
My bad, updated above.

[2015-04-09 19:58] shermdog commented on #61
I found the bug and have opened up the issue inside of the PyEZ project (reference above).

Thanks!

[2015-04-23 22:30] #61 closed

[2015-04-26 19:44] XioNoX opened #62 "Return unreachable instead of failed when unreachable"
Currently, when ansible-junos-stdlib tails to connect to a target host, ansible sees it as "failed" while it should reports it as "unreachable". especially as ansible-playbook has different return code for failed vs unreachable.

For example:
msg: unable to connect to xxx: ConnectTimeoutError(xxx)
[...]
xxx : ok=1    changed=0    unreachable=0    failed=1

Thanks

[2015-05-06 10:49] Aaronprat opened #63 "Commit check var"
Guys,

I'm trying to use commit check in library/junos_install_config.
Added commit_check:1 in the play-book but it didnt work.

I changed the script (junos_install_config) to make it work.
I'm not sure if its an issue or if I'm using it wrong.

Let me know. if its an issue, I'll send you the fix I did.

Thank you,
Aaron Prat

[2015-05-06 15:40] shermdog commented on #63
Hi @Aaronprat ,

The module already supports check mode using Ansible's builtin checkmode.

http://docs.ansible.com/playbooks_checkmode.html

If your use case is different please provide more detailed information.

-Rick

[2015-06-04 09:09] XioNoX opened #64 "RpcTimeoutError while get-checksum-information"
Hi,

After trying to push an upgrade on 3 similar EX2200, I got an error on only one of them:

[code]

Calculating the md5 on the device works fine (and match the original file):
myswitch> file checksum md5 /var/tmp/junos-ex2200-12.3R9-S1.tgz
MD5 (/var/tmp/junos-ex2200-12.3R9-S1.tgz) = dab7e8ff0cfabcd55c29b94cbf716bbd
the 3 switches are running 11.4.

Please let me know if I can help.

Thanks

[2015-06-11 15:18] shermdog commented on #64
Hi @XioNoX,

Thanks for the report.  Looks like we need to bump up the timeout for the checksum RPC.

Did the checksum operation locally seem to take longer than 30 seconds?

Thanks,
-Rick

[2015-06-11 15:21] XioNoX commented on #64
Hey,

I've been contacted via email by your colleagues.
Adding "dev.timeout = 300" after https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_install_os#L249
fixed the issue for me.

Thanks

[2015-06-11 15:23] shermdog commented on #64
K.  That confirms the RPC was timing out, but I will modify the behavior on the specific operation in the underlying PyEZ function as that one is expected to take a little longer, which will supersede the global work-around provided.

[2015-06-13 09:16] gtrxcbdev opened #65 "Playbook fails on existing configuration"
I believe I am running into a bug with either the Ansible module and/or the junos-eznc module.  I have a simple playbook to install a configuration on a device (have tried this on multiple devices, all fail, this is on a EX2200-C, 12.3R6.6, with Ansible vs 1.9.1, Ansible Module v1.1.0, junos-eznc 1.2.0).

The test scenario is to update the VLAN configuration on one or more ports, the existing conf

[2015-06-15 15:47] sdndude commented on #65
Access ports can only have 1 VLAN assigned to them (as you know), so you will need to delete the vlan assignment before you push the config.  It acts the same as if you were on the cmd line.
I would just add that to the Configuration File in your example, so it deletes the vlan stanza and then adds in the stanza that you want.  I haven't tested this but it should be something similar to the follow

[2015-06-15 17:12] cvicente commented on #65
Or use XML instead for your config format. It allows you to clearly specify which sections need to be merged, replaced or deleted. E.g.

[code]

XML has the added benefit of being more easily parsed, so you can do policy checks after your build all  your configs.

[2015-06-15 19:01] sdndude commented on #65
Completely agree.  Heck, for that matter even the set notation would be much easier, but the XML is the preferred method if you want to make it "smart"

[2015-06-18 20:34] gtrxcbdev commented on #65
Thanks I will give the XML a shot.  I have previously tried using the
delete: vlan; statement with both the Ansible module and with a custom
python script using the junos-eznc module and neither worked (though it is
possible I did something wrong).

On Mon, Jun 15, 2015 at 12:01 PM, sdndude <notifications@github.com> wrote:

[2015-06-23 18:44] #64 closed

[2015-06-23 20:10] shermdog commented on #62
Hi @XioNoX ,

I dug into the source of Ansible, and unfortunately there is no mechanism available for modules to exit out as unreachable.  Unreachable is in the context of hosts, and with our connection mechanism we use localhost.  If this is something you would like to see available in future versions of Ansible, please open up an issue with them.

https://github.com/ansible/ansible/issues

For b

[2015-06-23 20:10] #62 closed

[2015-07-22 15:44] shermdog commented on #56
Internal note: Remember our Lync meeting....

[2015-07-29 19:29] #53 closed

[2015-07-29 22:18] shermdog commented on #65
Load Replace support provided by #71

[2015-07-29 22:18] #65 closed

[2015-07-29 22:18] #63 closed

[2015-07-29 22:28] #56 closed

[2015-07-29 22:28] #58 closed

[2015-07-29 22:35] #54 closed

[2015-07-30 16:34] #2 closed

[2015-07-30 20:38] #1 closed

[2015-08-17 21:06] cvicente opened #79 "TransportError: Not connected to NETCONF server"
I've recently started getting errors trying to push configs to a couple of ex4200-48t series switches running 12.3R4.6

Ansible shows:

[code]

The only error I see in the netconf logs on the device is:

[code]

I'm not sure if it's related or not.

I'm a bit confused because we've been pushing configs to these switches for a long time now.

I'm running junos-py-ez 1.2.2 and ansible-junos-stdlib 1

[2015-08-18 16:44] cvicente commented on #79
Did more digging on this. Turns out that this _is_ related to the error above, and the error is dependent upon the configuration contents. This device has two sections of config: system and snmp. Sending both sections together fails. Sending one section at a time (system but no snmp, or snmp but no system) works fine. So it is not that the config contains anything offensive, but perhaps that there

[2015-08-18 17:23] cvicente commented on #79
Another point is that we have many more EX-4200 units, with the exact same configuration being pushed via netconf, but only these two are running 12.3R4.6.

[2015-08-18 20:16] cvicente commented on #79
I noticed that the errors started after we added a user account. It turns out that shortening the user's full name makes the error go away. This feels like a Junos bug, but I wasn't able to find anything in the Changelog for 12.3

Anyways, I'm closing this one for now. Hopefully this monologue will be helpful to someone else :-)

[2015-08-18 20:16] #79 closed

[2015-08-27 10:36] blindpet opened #80 "install_config throws errors"
We have tried on both an EX4200 and SRX240 and get this error using this [playbook](http://pastebin.com/a4mPJjJh). We thought it may be a PyEZ version but we have tried 1.2.2 and 1.2.3
[code]

[2015-08-27 11:30] vnitinv commented on #80
Hi @blindpet this issue was due to recent changes in PyEZ (version 1.2.2). It has been fixed and is in github but not in pypi.Will be releasing it in few days. You can install updated code (1.2.3.dev) from github using
pip install git+https://github.com/Juniper/py-junos-eznc.git

[2015-08-27 11:32] blindpet commented on #80
We were using PyEZ 1.2.3.dev0 originally and the same error was thrown :(. We only downgraded to 1.2.2 to see if it fixed the error which it didn't. We installed the Junos role with ansible-galaxy and installed the junos-stdlib using the pip git+ method.

[2015-08-27 11:50] blindpet commented on #80
How long ago were updates the stdlib made? We installed using git 4 days ago or so.

[2015-08-27 11:58] vnitinv commented on #80
3 days ago I merged the changes.
"PyEZ 1.2.3.dev0 originally and the same error was thrown" Can you test it once again and share the exception message. also the output for
from jnpr.junos import version
print version.VERSION

[2015-08-27 12:04] blindpet commented on #80
We checked the version with pip show junos-eznc and it showed 1.2.3 and then we downgraded to 1.2.2

We installed the std-lib with ansible galaxy which is showing version below, does the Junos role need to be upgraded as well? Should we install the Junos role with ansible-galaxy or using pip install git+https://github.com/Juniper/ansible-junos-stdlib?

[code]

[2015-08-27 12:15] vnitinv commented on #80
"does the Junos role need to be upgraded as well?" No we need not to.

[2015-08-27 17:02] vnitinv commented on #80
@blindpet  I doubt with 1.2.3.dev would give this error. Can you install it from github and share the error message (as done in first post)

[2015-08-27 17:37] blindpet commented on #80
Looks like we were just unlucky in the dev cycle :)

Managed to test with virtual machine at home. After running these commands I can upgrade the VM's OS using ansible. Thanks.
[code]

[2015-08-27 17:37] #80 closed

[2015-09-09 22:37] chepazzo opened #81 "junos_get_config paths broken with async"
In standard mode, I can use relative paths:

[code]

When I invoke async:

[code]

I get the error:
`msg: Uncaught exception - please report: [Errno 2] No such file or directory: 'configs/<<router>>.conf'
failed: [<<router>>] => {"ansible_job_id": "561876101247.26669", "changed": false, "failed": true, "finished": 1}`

However, if I set full paths:

[code]

everything works.

[2015-09-21 17:37] abhishekmarathe opened #82 "AttributeError' object has no attribute 'xml' while doing commit_check (junos_install_config module)"
We are using 'junos_install_config' module to load a new configuration on a pre-configured juniper MX device

Device configuration:

interfaces {
 lt-0/0/10 {
        unit 0 {
            encapsulation ethernet;
            peer-unit 1;
            family inet {
                address 10.1.1.4/31;
            }
        }
		unit 1 {
					encapsulation ethernet;
					peer-unit 0;
					family inet {

[2015-09-21 20:37] dharpatel commented on #80
I do have same error. I am using PyEZ version 1.2.2. is it work for version 1.2.3?

[2015-09-21 20:52] blindpet commented on #80
I posted the fix above @dharpatel (the two pip install commands)

[2015-09-21 21:43] dharpatel commented on #80
1.2.3 works for me.
Thanks

[2015-09-24 08:43] vnitinv commented on #82
@abhishekmarathe can you share the ncclient version. If its 0.4.5 then please downgrade to 0.4.3 using
pip install ncclient==0.4.3

I am expecting the reason to be https://github.com/ncclient/ncclient/issues/88

[2015-09-25 05:13] abhishekmarathe commented on #82
We are using ncclient version 0.4.5
We will try version 0.4.3 and let you know

[2015-09-26 14:01] abhishekmarathe commented on #82
We used the earlier version 0.4.3 of ncclient as recommended and don't see the exception anymore
ansible-playbook is showing proper error message now
Thank you for your help

[2015-09-26 17:10] #82 closed

[2015-10-02 16:04] clyra opened #83 "junos_get_config not working with Junos 10.4"
I'm trying to retrieve router configurations with the task:

- name: retrieve router configuration
    junos_get_config:
       host: "{{ inventory_hostname }}"
       passwd: "<password>"
       logfile: get_config.log
       dest: "{{ inventory_hostname }}.txt"
       format: text

this works fine with my SRX routers, but i got a blank file with my J2320 10.4R10.7 routers. Nothing wrong in the l

[2015-10-02 17:30] clyra commented on #83
I little progress here... it seems that the problem is related to the filter. If I add something like filter:"interfaces" to the task, it works and I can see the interfaces configuration. If there's no filter, them i got nothing, instead of the whole configuration.

[2015-10-02 18:58] sdndude commented on #83
All of the Junos Ansible modules work with Junos 11.4 and later.  Anything before that version is not supported.

[2015-10-13 00:40] RaviCharanReddy opened #84 "unable to download Juniper.junos role"
Hello,

I am trying to download the Juniper.junos role and I am getting below error.

root@ubuntu:~# ansible-galaxy install Juniper.junos
- downloading role 'junos', owned by Juniper
 [WARNING]: - Juniper.junos was NOT installed successfully: ERROR! - sorry, Juniper.junos was not found on https://galaxy.ansible.com.

ERROR! - you can use --ignore-errors to skip failed roles and finish processing t

[2015-10-14 06:22] vnitinv commented on #84
@RaviCharanReddy I am not facing any issue with the installation.

$ansible-galaxy install Juniper.junos
- downloading role 'junos', owned by Juniper
- downloading role from https://github.com/Juniper/ansible-junos-stdlib/archive/1.2.0.tar.gz
- extracting Juniper.junos to /etc/ansible/roles/Juniper.junos
- Juniper.junos was installed successfully

[2015-10-14 06:25] #83 closed

[2015-10-14 06:26] vnitinv commented on #47
This should now be working with latest PyEZ 1.2.3

[2015-10-14 06:26] #47 closed

[2015-10-21 06:14] abhishekmarathe opened #85 "key based authentication method for junos_install_config module"
We are trying to run junos_install_config module using ssh key based authentication method instead of using password

we have generated public/private rsa key on one of our instance(ubuntu) and have created a user on the MX device with authentication as ssh-rsa

But While trying to use private-key in ansible-playbook junos module (junos_install_config) , ansible-playbook throws  authentication err

[2015-10-21 08:36] jmorgan415 commented on #26
Hi, I loaded the key via ssh-add and can ssh into the junos device (aliased to "mx_junos") manually just fine, but the junos module is generating this: msg: unable to connect to mx_junos: ConnectAuthError(mx_junos).  Any idea what I'm doing wrong?  Thanks in advance.

[2015-10-21 09:50] vnitinv commented on #26
@jmorgan415 Share the content of your playbook and host file.

[2015-10-21 17:55] RaviCharanReddy commented on #84
It worked for me. First time it worked with $sudo ansible-galaxy install Juniper.junos

[2015-10-23 14:29] sdndude commented on #85
Can you ssh to the device on port 830 using the keys?

ssh -p 830 <device IP>

that will at least tell us if we are able to use this over NETCONF or not.

[2015-10-23 17:17] jmorgan415 commented on #26
Playbook:
---
- name: load_config
  hosts: mx_junos
  roles:
  - Juniper.junos
  connection: local
  gather_facts: no

  tasks:
   - name: Checking NETCONF connectivity
     wait_for: host={{ inventory_hostname }} port=830 timeout=5

   - name: Create Manual Diversion
     junos_install_config:
       host={{ inventory_hostname }}
       user={{ ansible_ssh_user }}
       port=830
       file=file

[2015-10-23 17:22] jmorgan415 commented on #26
Playbook:

---
- name: load_config
  hosts: mx_junos
  roles:
  - Juniper.junos
  connection: local
  gather_facts: no

  tasks:
   - name: Checking NETCONF connectivity
     wait_for: host={{ inventory_hostname }} port=830 timeout=5

   - name: Create Manual Diversion
     junos_install_config:
       host={{ inventory_hostname }}
       user={{ ansible_ssh_user }}
       port=830
       file=fil

[2015-10-23 17:38] sdndude commented on #26
If you run the following from the command line, what do you get?

ssh -p 830 \<your device here\>

[2015-10-23 18:30] dharpatel opened #86 "Junos_install_config throw this error "msg: failure to load configuration, aborting.""
I have created ansible module call noob-ex that will push minimal configuration  on the ex device and to test this module I am using EX4500 device. my device is factory reset it's just new box having no configuration. At this stage when I tried to run this ansible playbook I got error like "msg: failure to load configuration, aborting"
Can anyone help me why I am getting this error? I am using pye

[2015-10-23 20:01] jmorgan415 commented on #26
It's prompting for a password.  The only way I can ssh is if I "ssh -i sshkey device".  If I add the -p 830, I get this:

PTY allocation request failed on channel 0
shell request failed on channel 0

If I use -p 22, it works.  I have netconf setup properly as I have run plenty of other playbooks (using password instead of ssh) on the device, which used port 830.

[2015-10-23 23:24] sdndude commented on #26
The problem is most likely that when you pushed the public key over to the device, you did so with ssh port 22.  You need to do it by scp -P 830 \<key file\> and I think it will work. I am doing this from memory and don;t have a system in front of me, so bear with me.
Since in the playbook you are specifying port 830 and you loaded the public key via port 22 it will never work, it's always wanting

[2015-10-26 13:33] abhishekmarathe commented on #85
"ssh -p 830 device IP using keys"  is prompting for a password. If I add the -p 830, I get this following :

PTY allocation request failed on channel 0
shell request failed on channel 0

If I use -p 22, it works.

But then I added netconf task in my yaml file
netconf task worked  but junos_install_config failed(ConnectAuthError)

Output

PLAY [test] ************************************************

[2015-10-26 16:40] sdndude commented on #85
The problem is most likely that when you pushed the public key over to the device, you did so with ssh port 22. You need to do it by scp -P 830 <key file> and I think it will work. I am doing this from memory and don;t have a system in front of me, so bear with me.

Since in the playbook you are specifying port 830 and you loaded the public key via port 22 it will never work, it's always wanting t

[2015-10-27 04:25] dgjnpr opened #87 "junos_install_config fails to load config with "Unable to load config: 'list' object has no attribute 'getiterator'" error"
I am getting the following error when using the junos_install_config module (v1.2.0):

TASK: [commit_config | Pushing config ... please wait] ************************
failed: [crtj-si38-0001] => {"failed": true}
msg: Unable to load config: 'list' object has no attribute 'getiterator'

The play is common across all devices but I only get the error with certain ones. For others it is working correct

[2015-10-27 05:01] vnitinv commented on #87
@dgjnpr which version of PyEZ and ncclient are you using.

If ncclient version is 0.4.5, We are aware of this issue. We are trying to fix this ASAP. This is caused due to a bug in ncclient https://github.com/ncclient/ncclient/issues/88
For now do install ncclient last stable version 0.4.3 using.

pip install ncclient==0.4.3

For more detail do have a look to https://github.com/Juniper/ansible-juno

[2015-10-27 08:46] abhishekmarathe commented on #85
We are configuring user (for key based authentication) on the MX device using CLI
We are not pushing public key to the MX device for that user

I tried with scp -P 830  but since ssh is not working with port 830 , scp is also failing
It gives following :

exec request failed on channel 0
lost connection

[2015-10-27 09:51] vnitinv commented on #85
@abhishekmarathe I can see you using
Command used for running playbook:-
ansible-playbook -i hosts load_config.yml --private-key="/xxxx/xxxx/xxxx/xx_key" -u testuser -vvvv

even though you are passing --private-key this module is not using this option. I am doing changes where you can specify private key too. Hope that will resolve this issue. Will share you the code ASAP.

[2015-10-28 11:24] dgjnpr commented on #87
@vnitinv thanks.

I was using ncclient 0.4.5. I've downgraded to 0.4.3. I'm now getting the following stack trace (sometimes):

Traceback (most recent call last):
  File "./patchchecker.py", line 84, in <module>
    cu.load(cfg, format='set', merge=True)
  File "/usr/local/lib/python2.7/dist-packages/jnpr/junos/utils/config.py", line 377, in load
    return try_load(rpc_contents, rpc_xattrs)
  Fil

[2015-10-28 12:02] dgjnpr commented on #87
ok, scratch that. using ncclient v0.4.3 has fixed the problem.

My additional problem related to trying to apply set configuration to a devices that doesn't support that via netconf.

Problem fixed. :)

[2015-10-28 12:02] #87 closed

[2015-10-29 14:54] spidercensus commented on #60
This would be pretty easy to implement.  However this is actually a request that needs to be put into the [py-junos-eznc facts checker](https://github.com/Juniper/py-junos-eznc/tree/master/lib/jnpr/junos/facts)

[2015-10-29 16:40] vnitinv commented on #85
@abhishekmarathe Did you used passphrase too while generating /xxxx/xxxx/xxxx/xx_key?

[2015-10-30 04:20] abhishekmarathe commented on #85
No , I did not use passphrase while generating /xxxx/xxxx/xxxx/xx_key

[2015-10-30 09:30] vnitinv commented on #85
I have done some changes in my branch
https://github.com/vnitinv/ansible-junos-stdlib/tree/priv_ssh_key
to junos_install_config & junos_get_facts modules. Can you replace these 2 and test in your env. I have tested these and working fine. Corresponding playbook would look like

[code]
Note: key was generated without passphrase here.

[2015-10-30 10:02] #84 closed

[2015-10-30 12:19] abhishekmarathe commented on #85
I tested in my environment ,  It is working fine
Thank you for your help

[2015-11-04 07:17] abhishekmarathe commented on #85
@vnitinv
Since junos_install_config & junos_get_facts modules worked  successfully for key based authentication, Can you please do these changes in main branch so that we can download these changes using ansible-galaxy install Juniper.junos

[2015-11-04 08:16] vnitinv commented on #85
@abhishekmarathe We are discussing this with team. We are also looking for the other better option.
Would you like to do the similar changes to all modules and send us a pull request?

[2015-11-05 17:25] vnitinv opened #91 "Option to pass string config directly in playbook for junos_install_config"
plans to add support for config changes without having external file (just by supplying a single variable) like
- name: Update something
    junos_install_config:
      host={{ ip }}
      port={{ ncssh_port }}
      user={{ user }}
      passwd={{ password }}
      config="set system hostname NEW_NAME" <<< config string instead of a file.

[2015-11-19 15:22] DaCookie4u opened #92 "ConnectAuthError when using passphrased ssh key"
I am trying to get the library to work with ssh-key authentication. If the key is not protected by a password everything is fine. As soon as I protect it with a password I get the ConnectAuthError.

Other playbooks using the OpenSSH implementation connecting to Linux servers work just fine with the password protected key. I just get prompted by the system once for the password and they run.

Best

[2015-11-19 15:23] #92 closed

[2015-11-19 15:28] DaCookie4u commented on #85
We too get the ConnectAuthError as long as we are using a key with a passphrase. I am not sure this is related but it looks like it.

I used ssh-add to add the key to the authentication agent and do not have to pass any arguments inside the config. But as soon as I protect the key with a passphrase I get an ConnectAuthError. If I remove the passphrase everything works fine again.

All other playbo

[2015-11-19 15:40] stacywsmith commented on #92
Ansible communicates with Junos devices different than most managed nodes.

With most managed nodes, Ansible makes an SSH connection to the node, pushes modules to the node, and executes the modules on the node. In this mode, Ansible is making the SSH connection.

With Junos  devices, Ansible makes a "local" connection and executes the module directly on the local machine. The module then makes a

[2015-11-20 08:50] vnitinv commented on #85
@DaCookie4u Ya this looks to be correlated. Will try to support this asked feature while doing changes for above issue from @abhishekmarathe

[2015-11-23 13:50] gcotone opened #94 "Shebang in python tasks"
Please change the shebang from "/usr/bin/python" to "/usr/bin/env python" for all task scripts.

[2015-11-23 14:40] vnitinv commented on #94
Closed via #93

[2015-11-23 14:40] #94 closed

[2015-11-23 20:16] stacywsmith commented on #85
@DaCookie4u @vnitinv FWIW. I have tested this with latest PyEZ, Netconify, and Juniper Ansible modules from GitHub. As long as the SSH key password is passed into the module as the passwd argument, this seems to be working correctly. Of course, this may depend upon the SSH configuration of the Ansible control host.

[2015-11-25 08:39] DaCookie4u commented on #85
OK, it works if I prompt for the password as a variable and pass this variable as a argument to passwd. But if the password includes certain characters they need to be manually escaped.

My colleague uses Linux (I use Mac OS) and he saved his key password in the gnome keyring and it works without the need to pass it. I have the feeling this is more a problem of the module this library actually use

[2015-11-25 14:27] stacywsmith commented on #85
@DaCookie4u You may also want to consider using Ansible vaults to store the key password as described here:
http://www.juniper.net/techpubs/en_US/junos-ansible1.0/topics/task/configuration/junos-ansible-authenticating-users.html

Can you reproduce this? If so, can you share your play where prompt for the password and then pass into the Juniper module as the passwd argument?

[2015-11-26 10:57] DaCookie4u commented on #85
We are using, one central server, but everyone shall use the same playbook with his personal user, so we are unable to either use unprotected private keys or a vault file (since them everybody would be able to see the users ssh-key password).

Here is an example with a password prompt. In case your password contains `"` or `'` you need to escape those.

[code]

It would be best, if whoever opens t

[2015-11-26 17:03] DaCookie4u commented on #85
@abhishekmarathe was your key registered with the ssh-agent? Did `ssh-add -l` list it? Because this way I did not have to define the ssh-key inside ansible.

[2015-11-26 19:33] stacywsmith commented on #85
@ DaCookie4u

In your messages to @abhishekmarathe you mention ssh-agent works for you. That sounds like it might be the best solution for your requirements. Is there any problem using ssh-agent?

Yes. This is a result of the fact that Ansible playbooks are YAML files, and Jinja2 {{ passwd }} variable expression simply gets substituted with the value of the passwd variable. If that value isn't a v

[2015-12-03 13:38] ossark opened #95 "ansible-playbook flag "-u" is ignored"
The optional arguments for ansible-playbook -u (remote username) is ignored by this library. It always uses the local system username as per ansible default.

[2015-12-03 13:55] ossark commented on #95
Fubar by me

[2015-12-03 13:55] #95 closed

[2015-12-07 09:27] DaCookie4u commented on #85
@stacewsmit
Yes it works, but it merely saves me from pointing ansible to the key via config or inventory. As soon as I protect it with a passphrase the junos-stdlib throws the `ConnectAuthError`. As a next step I tried to use `ssh-add -K` to store the passphrase for the key inside the keychain, but no luck there either. Maybe this is an (Mac) OS specific problem. I am unsure whether this works on

[2015-12-08 16:23] stacywsmith opened #96 "junos_commit module does not support timeout argument"
If the junos_install_config module is used with the confirm option, then another commit needs to be done with the junos_commit module in order to confirm the commit.

If the configuration is large and/or the device is slow, then commits may take longer than the default timeout of 30 seconds. In this case, the junos_commit module will fail due to the default 30 second timeout being exceeded.

The j

[2016-01-22 16:16] spidercensus commented on #91
Here's the docs on config loading via netconf:
http://www.juniper.net/documentation/en_US/junos13.2/topics/reference/tag-summary/netconf-junos-xml-protocol-load-configuration.html
We can enclose set statements in the following tags and pass them along:
    <load-configuration action="set" format="text">
        <configuration-set>

        </configuration-set>
    </load-configuration>

I think in

[2016-02-05 23:32] jamesboswell opened #102 "Traceback TypeError with Ansible 2.0.0.2"
Juniper.junos breaks with Ansible 2.0.0.2

Ansible:  2.0.0.2 from Hombrew (http://brew.sh) build: (https://github.com/Homebrew/homebrew/commit/81ec8e651d7d7b84b2e36717bc6294eebeb98f2b)
junos-eznc==1.3.1 (installed directly from pip)

**Error on ansible 2.0.0.2**

[code]

**Rollback to ansible 1.9.4 resolves issue**
[code]

[2016-02-06 17:42] jamesboswell commented on #102
Playbook used to create traceback above.   PyEZ is fine,  as evidenced in _log_ and _savedir_ files.   Ansible 2.x is throwing the TypeError

[code]

[2016-02-08 05:38] vnitinv commented on #102
@jamesboswell We are looking into this issue.

[2016-02-10 09:27] vnitinv commented on #102
Fixed via #103

[2016-02-10 09:27] #102 closed

[2016-02-12 21:52] fooelisa commented on #96
+1 that would be great!

[2016-02-12 22:01] stacywsmith commented on #96
This suggestion has already been implemented by #97.

[2016-02-12 22:01] #96 closed

[2016-02-16 00:40] tomehb opened #107 "junos-eznc required version - not correct"
States that >= 1.2.2 is required, but 1.3.1 is installed when running playbook to update configuration.

[code]

[2016-02-16 15:36] dgarros commented on #107
Hi

Are you using py env ?
There is a known issue related to py env
if this is the case, please install the module from github directly
thanks
Damien

--
Damien GARROS
dgarros@gmail.com

On Mon, Feb 15, 2016 at 4:40 PM, tomehb <notifications@github.com> wrote:

[2016-02-17 13:20] tomehb commented on #107
Thanks Damien, confirmed as working

Tom

On Tuesday, 16 February 2016, Damien <notifications@github.com> wrote:

--

------
Thomas Buchanan
Support Manager
Sohonet Limited

t : +44 (0)20 7292 6900
e : tom@sohonet.com
w: www.sohonet.com

24 7 support on :-
uk : +44 (0)20 7292 6909
us : +001 310 449 8610
aus: 1800 77 5280 H

[2016-02-29 18:15] vnitinv commented on #86
@dharpatel Sorry for the delay.Are you still stuck at this issue? Can you share the config used

[2016-03-01 17:57] stacywsmith opened #118 "Ansible 2.x fails with "value of <arg> must be one of: "... error for Junos modules with boolean arguments"
Here is an example of the problem:

[code]

The problem is that Ansible 1.x considered this to be a valid definition of an argument:
[code]

In Ansible 2.x, the same declaration produces the error above.

However, if the argument is explicitly typed as a boolean it works both on Ansible 2.x and 1.x:

[code]

[2016-03-02 05:34] vnitinv commented on #118
Merged the fix. Thanks @stacywsmith

[2016-03-02 05:34] #118 closed

[2016-03-08 03:36] stacywsmith opened #120 "junos_get_config module fails when filter argument contains more than one level of configuration hierarchy"
Per the documentation, the filter argument to junos_get_config:

"Defines heirarchy of configuration to retrieve. If omitted the entire configuration is retrieved. Format is slash notation ex groups/routeinst/routing-instances/ISP-1"

However, the filter argument was not working correctly if it contained more than one level of configuration hierarchy (a string with one or more slashes) per this em

[2016-03-08 07:01] vnitinv commented on #120
@stacywsmith Thanks Stacy

[2016-03-08 07:01] #120 closed

[2016-03-09 09:35] Knockturn opened #122 "junos_cli timeout"
Hi,
I had a problem with timeout while doing a "request" using the junos_cli module.

Please see attached stackoverflow for how I got around it. Perhaps you can add the timeout to this as well in the future?

http://stackoverflow.com/questions/35863701/ansible-juniper-cli-commands-timeout-error/35887731#35887731

[2016-03-09 09:53] vnitinv commented on #122
thanks @Knockturn Will try to add timeout to this module.

[2016-03-16 19:43] dharpatel commented on #86
@vnitinv I got solution for this problem. Thanks!

[2016-03-17 18:09] #86 closed

[2016-03-29 13:14] XioNoX opened #124 "Issue with junos_get_table and RouteSummaryTable"
Trying to get the routing table using the following playbook:
[code]

I get the following error:
[code]

If I run the same command as documented (LLDP table) it works fine.

Tried on both EX4200 and SRX100 with Ansible 2.0.1 and today's master of ansible-junos-stdlib.

[2016-03-29 17:48] jedelman8 commented on #124
Okay, this module doesn't currently support nested tables.  @vnitinv, I can't get to a fix until next week.  Not sure if you want to try and tackle it in the meantime...your call. Let me know.

[2016-03-30 05:58] vnitinv commented on #124
@jedelman8 you own this module :+1: Hence I would love to see a fix from you. If you want me to take this up, then only I will give a try.

[2016-03-30 13:41] XioNoX opened #125 "junos_get_table's RouteTable doesn't return route"
Not sure if py-junos-eznc or ansible-junos-stdlib issue.

Running:

[code]

Returns:

[code]

Looking at https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/op/routes.yml#L11 the key should be the route.
Let me know if I can help troubleshooting it more.

[2016-03-31 10:09] vnitinv commented on #125
@XioNoX Arzhel, it would be great if you too contribute in troubleshooting.

[2016-03-31 11:09] XioNoX commented on #125
@vnitinv Sure, what can I do to help?

[2016-04-07 16:16] jedelman8 commented on #125
@vnitinv  what is the difference between "key" and "args_key" in a Table definition and how is "args_key" accessed as a Device property?

[2016-04-07 17:03] stacywsmith commented on #125
@jedelman8

"key" is an XPath expression used to select an XML element within each table item. The value of the XML element becomes the key used to access each item within the native Python data structure.
If "key" is not specified, the XPath "name" is used as the value of "key". If multiple XML elements are required to uniquely identify a table item, the value of this key is a YAML list containin

[2016-04-08 02:28] vnitinv commented on #124
Fixed via #127

[2016-04-08 02:28] #124 closed

[2016-04-21 15:11] cvicente opened #134 "junos_ping rapid argument"
If I'm reading correctly, the "rapid" argument in the new junos_ping module is not really on by default, is it?

[2016-04-21 19:13] dgarros commented on #134
It is on by default
On Apr 21, 2016 8:11 AM, "Carlos Vicente" <notifications@github.com> wrote:

[2016-04-23 16:51] #134 closed

[2016-04-23 16:52] dgarros commented on #122
Hi @Knockturn
I added a timeout option for both junos_cli and junos_rpc
Please can you check and confirm if it's working good
https://github.com/Juniper/ansible-junos-stdlib/pull/133
Thanks
Damien

[2016-04-29 19:24] jbain commented on #122
junos_cli has a typo in it, submitted PR #135

[2016-05-10 19:54] andyjsharp opened #137 ""Uncaught exception - please report: Type 'str' cannot be serialized.""
fatal: [cswj-ngcn-1085]: FAILED! => {"changed": false, "failed": true, "msg": "Uncaught exception - please report: Type 'str' cannot be serialized."}

Executing junos_cli against an EX VC produced the above message.  The actual error reported via cli/rpc was "the chassis-control subsystem is not responding to management requests".

It would be great if the actual rpc error or error message was ret

[2016-05-17 19:22] spidercensus commented on #137
What was the actual CLI command?

[2016-05-17 19:32] andyjsharp commented on #137
"show chassis hardware detail"

[2016-05-17 22:41] dgarros commented on #137
@andyjsharp agreed it would be better to check for error in the response and manage that properly.

@vnitinv, is there an easy way today with Pyez to know if an RPC call returned an error or not ?
It would be a great feature to have if not already available.

[2016-05-24 10:51] bitstacker commented on #107
Hi,
i have the same error ("junos-eznc >= 1.2.2 is required for this module").
Tried it with junos-eznc 1.3.1 but it didn't work.
I don't use py env (not that i know of) and using the latest junos-eznc from github (1.4.0-dev) didn't help either.
I use ansible 2.0.2.0 on ubuntu 14.04.

[2016-05-24 11:04] vnitinv commented on #107
@bitstacker Whats your playbook content? Also share output of "pip list" and "ansible-galaxy list".
Have you tried with latest modules in github (by copying library content under /etc/ansible/roles/Juniper.juns/library)

[2016-05-24 12:00] bitstacker commented on #107
cat playbooks/juniper.yml
[code]
cat roles/juniper/tasks/main.yml
[code]
pip list
[code]
ansible-galaxy list
`- Juniper.junos, 1.3.1`

I copied the library/ content from the latest github version to /etc/ansible/roles/Juniper.junos/library (The module was installed there with "ansible-galaxy install Juniper.junos")

Output:
[code]

[2016-05-24 12:56] bitstacker commented on #107
Got it running.
Seems like junos-eznc needed the python module "cryptography".
Installing it made the error disappear:
[code]

[2016-05-24 17:33] vnitinv commented on #107
@bitstacker Great. Thanks

[2016-05-24 23:55] dgarros commented on #107
@vnitinv,
it looks like whatever is the issue, if the module is not capable to load PYEZ it return the same error message referring to the version number which is misleading when the error is somewhere else.

I think we should improve the error handling to make sure the right error message is passed to the user.
What do you think ?
Damien

[2016-05-25 09:20] vnitinv commented on #107
@dgarros Totally agree.

[2016-05-28 04:21] calvinchristopher commented on #107
any idea what the root issue may be @vnitinv ? My problems resurfaced after 2.1's release and weren't solved by @bitstacker's solution of `pip install cryptography` (already installed)

I am not running in a virtualenv, but I am using on OS X. Here's some debugging 💨

`ansible $ ansible-playbook juniper.yml -vvv
Using /Users/calvinchristopher/Development/Python/ansible/ansible.cfg as config file

[2016-05-28 04:32] calvinchristopher commented on #107
installed packages:

[code]

[2016-05-28 13:57] calvinchristopher commented on #107
What a shame, I'm having the same issue on a fresh RHEL install; while that eliminates the OS X, it doesn't bring me any closer to a resolution.

Feel like I'm missing something obvious here, any feedback would be appreciated.

inventory file:
[code]

playbook:
[code]

output:
[code]

[2016-05-29 01:08] ntwrkguru commented on #107
Can you successfully invoke PyEZ outside of Ansible?

[2016-05-30 14:50] calvinchristopher commented on #107
@ntwrkguru yes I can still execute PyEZ.

[code]

cannot execute ansible

[code]

[2016-05-31 10:58] vnitinv commented on #107
Hi @calvinchristopher Can you share the PYTHONPATH environment. "echo $PYTHONPATH"
Also, share the path where PyEZ is installed.
You can try by adding PyEZ installed path to PYTHONPATH. That helps most of the time. If you still face the problem, we can do a hangout session to resolve this. Will that be OK with you?

[2016-05-31 14:03] calvinchristopher commented on #107
Thanks @vnitinv, I am not receiving anything returned when I use "echo $PYTHONPATH".

In an effort to avoid messing with my system's Python, I installed an alternative version through Homebrew. Here's my path:

[code]

[2016-05-31 14:55] dgarros commented on #107
Hi
can you try to define the variable `ansible_python_interpreter`
You can put it inside your inventory or any variable file

[code]
For me It solved some issues related to python environment

[2016-05-31 15:05] calvinchristopher commented on #107
@dgarros thank you so much, that's the missing piece.

[code]

My only concern now is controlling this stream of joyous tears. Thanks again.

[2016-06-02 11:40] vnitinv commented on #125
Hi @XioNoX I tried my edited table and able to get route names too.

[code]

Table being used:
[code]
check out for **route: ../rt-destination**

output:
[code]
So we get routes name too.
Is that what you wanted or I am getting it wrong.

[2016-06-06 05:49] dgarros commented on #137
Second try :)
@vnitinv, is there an easy way today with Pyez to know if an RPC call returned an error or not ?
It would be a great feature to have if not already available.

[2016-06-06 05:50] dgarros commented on #122
Closing as #135 as been merged

[2016-06-06 05:50] #122 closed

[2016-06-06 05:51] dgarros commented on #60
Closing  this one as it apply to pyez not ansible

[2016-06-06 05:51] #60 closed

[2016-06-06 09:19] vnitinv commented on #137
@dgarros dev.cli tries to replicate how cli works. Hence it would return string error message in place of exception. I feel in our junos_cli module we should use dev.rpc.cli to handle cli rather than dev.cli. With that we will have more control over all featuers we want to support and even exception handling. What's your view?

[2016-06-07 04:06] dgarros commented on #137
@vnitinv I was not aware of the differences between `dev.rpc.cli` and `dev.cli`, I thought the latter was a shortcut to the `dev.rpc.cli`

If error handling is better in `dev.rpc.cli` we should definitely give it a try

What is the down side to use `dev.rpc.cli` instead of `dev.cli` ?

[2016-06-08 11:50] vnitinv commented on #137
@dgarros Just that we need to take care of these (if needed) also in the junos_cli module

https://github.com/Juniper/py-junos-eznc/blob/master/lib/jnpr/junos/device.py#L679-L702

[2016-06-14 10:47] ksator opened #141 "error with "junos_get_config" if I use the parameter "filter" with slash notation"
I am facing the following issue with the module junos_get_config and the optional parameter filter:
-if I do not use this parameter, it is working well.
-If I use it to retrieve part of the config only with a basic filter (interfaces as example, system as example, ...), it is OK as well.
-if I use it with slash notation (system/name-server as example) as suggested in the doc, it doesnt work (Ansib

[2016-06-15 10:21] vnitinv commented on #141
@ksator Do let me know if the mail (sent on same line) works for you.

[2016-06-15 12:52] ksator commented on #141
Hello,
I tested (filter=system/login into junos_get_config module) with latest code from github instead of the one available in  galaxy and it works.
I am closing this  issue on github as gitbub code is clean (galaxy only has this issue).
Many thanks!

[2016-06-15 12:52] #141 closed

[2016-07-04 12:56] andyjsharp opened #144 "junos_cli : Failing to return all data for "show system core-dumps" when output is text."
The following is failing to collect all the core dump information:
[code]

This produces only the output shown below:
[code]

Whereas, if the output format is xml the data is returned.
[code]
Produces the output
[code]

[2016-07-04 16:04] stacywsmith commented on #144
@andyjsharp What's the device model and Junos version?

[2016-07-04 16:21] andyjsharp commented on #144
EX-4300 (1, 2, 4, 5 and 6 member stacks).
Junos 15.1R3-S2.2 and 15.1R3.6

The issue is seen with every VC stack that I ran against (100 VC stacks).

Regards,
Andy

[2016-07-04 22:36] stianvi commented on #144
Issue is due to switch returning multiple output-tags inside an rpc-reply.
This also occurs for 12.3R9
Solved in Juniper/py-junos-eznc#542
Output will get extra new lines - but I can't find a pretty solution. Maybe Juniper could fix their rpc-replay

[2016-07-05 08:27] vnitinv commented on #144
@stianvi Can you share the details for "pip list"

Latest PyEZ and ncclient takes care of multiple tags.

[2016-07-05 09:19] stianvi commented on #144
[root@bf-net-conf1 ~]# pip list -l | grep ez
junos-eznc (1.4.0.dev0)

Did run this on 23th of June:
pip install git+https://github.com/Juniper/py-junos-eznc.git

So should have the latest version available on github.

[2016-07-06 09:52] stianvi commented on #144
[stianv@bf-net-conf1 ~]$ pip list | grep ncclient
ncclient (0.4.7)

So I've upgraded it:
[stianv@bf-net-conf1 stianv]$ pip list | egrep "ncclient|junos-eznc"
junos-eznc (1.4.0.dev0)
ncclient (0.5.2)

Full list:
[code]

[2016-07-06 09:52] stianvi commented on #144
FYI - still an issue

[2016-07-06 20:23] jedelman8 opened #145 "junos_get_config doesn't work when using multiple entries in the filter"
When filter is a single element, it works fine.  When I use `filter='interfaces/protocols'`  it no longer works.  Knowing this used to work, I just rolled back to the version before the last commit on this file as shown here:

https://github.com/Juniper/ansible-junos-stdlib/commit/7bfabf0084d335326a93c967d78be199655397bb

And it was fine.  Just an FYI.  Not sure of what that commit was fixing, but

[2016-07-07 22:16] stacywsmith commented on #145
@jedelman8

Were you expecting this to provide you with both the `[edit interfaces]` and `[edit protocols]` top-level configuration hierarchies? I believe that's how it used to work

The problem was that there is no way to specify configuration hierarchies with more than one level. For example, if you wanted just the `[edit system login]` hierarchy.

The intention of the `/` syntax in the value of

[2016-07-07 22:18] jedelman8 commented on #145
Okay, so maybe I happen to use it in the wrong way initially and it just worked, which is fine.  Totally fine either way though.  As long as I know how it _should_ work :)

[2016-07-07 22:26] stacywsmith commented on #145
@jedelman8 I agree it was poorly documented. I also agree that both ways _should_ work. I'll work on the enhancement _and_ improving the documentation. Unfortunately, I won't be able to get to it for a couple of weeks. If you need it sooner feel free to submit your own pull request.

[2016-07-08 11:49] vnitinv commented on #145
@jedelman8 I am assuming when things were broken for you, you didn't install Junos roles from galaxy but from github.
If I am correct the changes for this issue is not yet published in galaxy.

[2016-07-09 00:34] AndyMan1 opened #146 "junos_install_config: apply timeout to initial device connection"
junos_install_config has a timeout parameter but it's not used when opening the initial connection to the device, [here](https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_install_config#L211).

If the device is down or the host/port is incorrect, it can take upwards of 4 minutes to eventually timeout, depending on other defaults.

It would be great if timeout was applied to

[2016-07-12 06:57] stianvi commented on #144
@vnitinv managed to reproduce?

[2016-07-14 20:36] devopsbae opened #147 "delete policy-options prefix-list not working on junos_config"
Hello,

I'm able to run a set command to block an IP, but the delete command is not working from the ansible-playbook. Any ideas?

[2016-07-15 09:05] stianvi commented on #147
Solved in
https://github.com/ansible/ansible-modules-core/pull/4031
Merged into ansible:devel and should be picked up in 2.1 RC2.
So please get latest ansible version and try again :)

[2016-07-15 13:46] jb376 commented on #147
I'm trying to grade to 2.1 rc2 by running "pip install ansible --upgrade" and is not upgrading. I'm currently running version 2.1

[2016-07-15 13:56] stianvi commented on #147
try pip install git+https://github.com/ansible/ansible/tree/stable-2.1

[2016-07-15 16:04] jb376 commented on #147
I managed to install the stable-2.1 now I'm getting ERROR! Missing target hosts

[2016-07-15 17:17] jb376 commented on #147
I have the current function on my junos_config file and its still not working.

PLAY RECAP *********************************************************************
test               : ok=1    changed=0    unreachable=0    failed=0

`def diff_config(candidate, config):

    updates = set()

    for line in candidate:
        parts = line.split()
        action = parts[0]
        cfgline = ' '.join(pa

[2016-07-18 16:13] jb376 commented on #147
I'm running Version ansible 2.1.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

still no luck.

[2016-07-19 11:15] vnitinv commented on #147
@stianvi Can you help @jb376 with this issue?

[2016-07-19 11:32] vnitinv commented on #144
Can you take care of comment posted for
https://github.com/Juniper/py-junos-eznc/pull/542/files

Your code change breaks UT, with suggested change, it sholuld be good.

[2016-07-19 11:41] vnitinv commented on #144
Also this is a junos bug. When format is text, all the string content should be part of one <output> not multiple. Can you file bug with Junos for this?

<output>/var/crash/*core*: No such file or directory</output>
<output>/var/tmp/*core*: No such file or directory</output>
<output>/var/tmp/pics/*core*: No such file or directory</output>
<output>/var/crash/kernel.*: No such file or directory</out

[2016-07-19 12:01] stianvi commented on #147
@jb376 Could you paste in your playbook yaml file so I could give a try?

There might be people at #ansible@irc.freenode.net that can help more than me.

Just a fyi: The function you have pasted got the wrong indent - but it might just be a copy/paste error.

[2016-07-19 12:28] stianvi commented on #144
@vnitinv Not sure how-to file a bug with Juniper. We don't have a support directly with juniper, but via a partner.

[2016-07-19 12:48] jb376 commented on #147
It was a copy/paste error on my end. I'm able to set the IP, but when I try deleting it, it gives me an ok with the green text.

`- name: Get the current time
  hosts: test
  connection: local
  gather_facts: True

  vars_files:
  - /opt/djan/ansible/roles/juniper/vars/main.yml

  tasks:
  - name: Block IP
    junos_config:
      host: "{{ hostvars[inventory_hostname].ansible_host }}"
      lines:

[2016-07-20 06:53] vnitinv commented on #145
@stacywsmith @jedelman8 I need to release github code to galaxy as there are lot many changes gone in from the last release. Can anyone of you do the changes as per discussed above and send us the pull request?

[2016-07-20 15:14] jb376 commented on #147
After doing some testing, the junos_config module is not reading any of the firewall configuration. @stianvi @vnitinv

[2016-07-27 23:45] mcdoug62 opened #149 "enhance junos_install_os to add flexibility to install on backup RE first."
Common practice for upgrading dual-RE systems is to upgrade junos on the backup RE first.  Then, once it's upgraded do a mastership switch and repeat the process on the former master RE.     The current junos_install_os does not allow this sort of flexibility, and can only install on RE0, then RE1.

The module needs to be enhanced to allow installation on an ordered list of REs (eg "re1, re0").  (

[2016-07-28 10:03] #144 closed

[2016-07-28 10:05] vnitinv commented on #144
@stianvi I raised an issue.

[2016-08-05 12:42] stianvi commented on #147
Works fine for me.

playbook task:
[code]

[code]

netconf debug:
[code]

@jb376 Could you enable tracefile on your device and list the output?

config for device and how to get the log:

[code]

[2016-08-24 01:55] dgarros opened #154 "proposal to refactor junos_jsnapy"
Hi

I've been playing with the new junos_jsnapy module for some time while and I'm not 100% happy with how it works, especially when some tests failed. I would like to propose another approach for it.

Today the behavior when a test fail is to :
- Mark the task failed when at least 1 jsnapy test FAILs
- Return all informations about the tests executed in JSON formatfor further treatment

This appr

[2016-08-24 09:54] vnitinv commented on #154
@dgarros makes sense.

[code]
Just wondering what if user want more data, Is there a way they can get them

[2016-08-24 23:19] dgarros commented on #154
Hi @vnitinv

Yes all information are available and returned by the module but they are not printed to the screen by default. You can always uses debug if needed.

To provide more flexibility, it would be great if the log message could be the same as the one provided in the jsnapy test config file. Unfortunately this info is not return by the module currently, I'll open an issue to track that.

Any

[2016-08-25 10:11] vnitinv commented on #154
```Unfortunately this info is not return by the module currently```
Yes, we kept that out intentionally. That made the dictionary returned from JSNAPy too bulky.
If that make sense we will add that in 1.1 version.

[2016-08-25 10:13] vnitinv commented on #154
```Any preference regarding where the log should be printed : At the end or after each task ?```
Should be here https://github.com/Juniper/ansible-junos-stdlib/blob/master/library/junos_jsnapy#L69

[2016-08-26 05:13] dgarros commented on #154
Hi @vnitinv
We can certainly print these messages to a log file but I also see some value to have them "inline"
The good part is that it's easy to support both and to get messages inline it requires the callback plugin anyway so everyone decides

[2016-08-31 22:02] ruissalo commented on #147
I have exactly the same issue: set commands work ok, delete commands are not applied.
I'm on 2.1.1.0 with this code:

        elif action == 'delete':
            for cfg in config:
                if cfg[4:].startswith(cfgline):
                    updates.add(line)

It seems to be ignoring delete commands on all config sections, not only under policy-options.

[2016-10-12 14:19] dgarros commented on #154
Closing as the proposal has been merged already

[2016-10-12 14:19] #154 closed

[2016-10-12 14:21] dgarros opened #169 "Create a module to copy files from and to devices"
we've been discussing that couple of time
It would be great to have a module to copy files from and to junos devices

[2016-10-13 10:10] ydnath opened #170 "Add “aliases” in both Core and Galaxy modules to homogenize the name of the input parameters"
@dgarros Requested that the above enhancement is made.
It’s something natively provided by Ansible, see an example here: https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/openstack.py#L80
Currently
·         Core modules take: username & password
·         Galaxy modules take: user& passwd
It would be better if both could accept: username, user, passwd & password

[2016-10-13 21:53] dgarros commented on #170
Thanks @ydnath,
I did a workshop with @stacywsmith  for some customers on Ansible yesterday and many faced this issue.

I think we should also send a pull request to add the aliases on the core modules.

Thanks
Damien

[2016-10-24 11:03] vnitinv opened #171 "junos_jsnapy: snap_pre errors"
FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"action": "snap_pre", "config_file": "checklist.yml", "dir": "/etc/jsnapy/testfiles", "host": "xx.xx.xx.xx", "logfile": null, "passThreshold": 100, "passwd": "xxxx", "port": 830, "testName": "Jsnapy (snap_pre) PRE CHECKLIST", "test_files": null, "user": "lab"}, "module_name": "junos_jsnapy"}, **"msg": "Uncaught exception

[2016-11-02 03:33] eugeneee opened #173 "Callback plugin jsnapy not working"
Not getting output as described after installing jsnapy callback plugin. Seen jsnapy compiled after execution of ansible-playbook:

root@ubuntu:/home/automation/Project/Ansible/callback_plugins# ls -lah
total 16K
drwxr-xr-x 2 root root 4.0K Nov  2 11:31 .
drwxr-xr-x 5 root root 4.0K Nov  2 11:25 ..
-rw-r--r-- 1 root root 2.3K Nov  2 11:26 jsnapy.py
-rw-r--r-- 1 root root 2.8K Nov  2 11:31 jsnapy.p

[2016-11-02 05:31] eugeneee commented on #173
Got some error:
 [WARNING]: Error when using <bound method CallbackModule.v2_playbook_on_stats of
</home/automation/Project/Ansible/callback_plugins/jsnapy.CallbackModule object at 0x7fd5ac913b90>>: 'module' object has no attribute
'COLOR_ERROR'

root@ubuntu:/home/automation/Project/Ansible# ansible-playbook -i hosts -M './custom_modules/' /home/automation/Project/Ansible/post_activity.yml
PLAY [P

[2016-11-02 08:26] eugeneee commented on #173
My apologies. Just checked again and this is the error seen:
[WARNING]: Error when using <bound method CallbackModule.v2_playbook_on_stats of
</home/automation/Project/Ansible/callback_plugins/jsnapy.CallbackModule object at 0x7fd250091b90>>: 'module' object has no attribute
'COLOR_ERROR'

root@ubuntu:/home/automation/Project/Ansible# ansible-playbook -i hosts -M './custom_modules/' /home/automati

[2016-11-02 08:26] eugeneee commented on #173
My apologies. Just checked again and this is the error seen:
[WARNING]: Error when using <bound method CallbackModule.v2_playbook_on_stats of
</home/automation/Project/Ansible/callback_plugins/jsnapy.CallbackModule object at 0x7fd250091b90>>: 'module' object has no attribute
'COLOR_ERROR'

root@ubuntu:/home/automation/Project/Ansible# ansible-playbook -i hosts -M './custom_modules/' /home/automati

[2016-11-03 07:08] #171 closed

[2016-11-04 09:10] andyjsharp opened #174 "junos_install_os support for different package versions."
Scenario:
MX running with 13.3 32bit release.

junos_install_os won't install a 64bit release of the same version of code as it doesnt identify a difference.

It would be greate to have a couple of additional options available for junos_install_os.
1.  force install option, this would ignore a scenario where the version number is the same, and would just proceed to install the package on the devic

[2016-11-04 13:31] panks21 opened #175 "no-validate parameter in junos_install_os"
Currently the junos_install_os module doesn't have the no-validate as the optional parameter which can be passed to the router while upgrading.
In case the validation fails the ansible-playbook returns the below error and the upgrade does not happen ---->

"An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-

[2016-11-07 15:41] stacywsmith commented on #174
@andyjsharp I understand your issue and agree we need to fix this. I also agree with your suggestions for new options.

In the mean time, I believe you could workaround this issue by passing the `version` argument to the `junos_install_os` module. Simply set a value for `version` that does not match the currently installed version. Something like `version=foo` should work.

[2016-11-07 18:00] andyjsharp commented on #174
Cheers Stacy, I think I can work around this with a few additional plays.  Won't be pretty, but will do the job.

Regards,
Andy

On 7 Nov 2016, at 10:41, Stacy W. Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@andyjsharp<https://github.com/andyjsharp> I understand your issue and agree we need to fix this. I also agree with your suggestions for new options.

In the mean

[2016-11-16 15:35] renetbo commented on #174
Hi,

There is an error raised at the reboot when using it with EX92K 16.1R1.11. The workaround it to enable the no_reboot and then run a new task that runs the request system reboot.

Thanks

B

[2016-11-16 15:39] renetbo opened #178 "junos_install_os fires an error on reboot of EX with 16.1R1.11"
Hi,

There is an error raised at the reboot when using it with EX92K 16.1R1.11. The workaround it to enable the no_reboot and then run a new task that runs the cli request system reboot.

Thanks

B

[2016-11-16 17:03] stacywsmith commented on #178
Are you connecting to the EX92K over a console connection, or using NETCONF over SSH?

Can you provide details on the specific error you are seeing?

[2016-11-17 09:10] renetbo opened #179 "junos_install_config randomly firing "list index out of range" error during console access"
HI all,

When trying to console the devices to push the basic conf, sometimes I’ve got the following error for some boxes:
TASK [fusion_noob_satellites_role : Push temporary satellites config via console] ***
changed: [EX4300-B1] => {"changed": true}
changed: [EX4300-A3] => {"changed": true}
changed: [EX4300-A1] => {"changed": true}
changed: [EX4300-B3] => {"changed": true}
fatal: [EX4300-A2]: FAI

[2016-11-18 09:25] renetbo opened #180 "Improvement: In console junos_install_config stuck if user already in conf mode"
Hi all,

What I've noticed is that if a user is already in config mode (while the config has not been modified) then frees up the console of the equipment, if we launch the junos_install_config via console, there is a "login_warn:shell login was open!" in the debug and the process is stuck there (i.e. config is never pushed) until it times out.
It would be better to have a warning and stop Ansible

[2016-11-23 10:48] renetbo commented on #180
In fact this login_warn is coming from /usr/local/lib/python2.7/dist-packages/netconify/tty.py

Do you think it would be possible to modify tty.py to triggers an error instead of a warning as Ansible could react to it instead of being stuck?

[2016-11-28 13:32] renetbo commented on #178
I am connected via console. Here is what happens (EX9200-T1 is mono RE, T2 is dual RE):
ok: [EX9200-T2] => {"changed": false, "check_mode": false, "invocation": {"module_args": {"host": "EX9200-T2", "logfile": "/var/tmp/build/EX9200-T2/ansible-run.log", "no_copy": false, "package": "/var/tmp/junos/junos-install-ex92xx-x86-64-16.1R1-S2.tgz", "passwd": "Password1", "port": 830, "reboot": true, "rebo

[2016-11-30 03:22] stacywsmith commented on #178
I believe this is a Junos issue where the device begins to reboot before the complete NETCONF XML response has been written to the device console. Therefore, PyEZ/Ansible reports the XML syntax error. Until this issue can be addressed in Junos, I recommend using junos_install_os via the normal NETCONF over SSH channel rather than over a console connection.

Alternatively, you can continue to use t

[2016-11-30 09:43] renetbo commented on #178
Sorry I made an error in my previous message, I am connected via ssh not console when the problem happens.

B

[2016-11-30 16:30] stacywsmith commented on #178
@renetbo In that case, could you please enable NETCONF traceoptions on EX9200-T1 and recreate your failure? Please share the content of the resulting `/var/log/netconf.log` traceoptions file.
[code]

[2016-11-30 17:31] renetbo commented on #178
Here it is
[netconf.txt](https://github.com/Juniper/ansible-junos-stdlib/files/622532/netconf.txt)

[2016-11-30 19:46] stacywsmith commented on #178
@renetbo Thanks for providing the NETCONF traceoptions. The problem is actually in the last few lines of the file in the response to the `<request-reboot>` RPC.
[code]

In this response, the `<request-reboot-status reboot-time>` XML tag has a malformed XML attribute. All XML attributes must be in the form `name="value"`, but in this case the `reboot-time` attribute only has a `name` and no `="valu

[2016-11-30 19:46] #178 closed

[2016-11-30 21:29] renetbo commented on #178
Thanks for the details Stacy so I will stick with the workaround then. Any reasons why the EX9200 with dual RE does not exhibit the problem?

[2016-11-30 21:35] stacywsmith commented on #178
In the log you included, it didn't exhibit the problem because it wasn't actually upgraded, and therefore it wasn't rebooted. Here's the snippet from your log in this thread:
[code]
Notice that the `has` and `should` versions are both `16.1R1-S2`. If the device is already running the correct version, the upgrade is not performed. That appears to be the case for EX9200-T2.

[2016-11-30 21:37] renetbo commented on #178
That explains it indeed :)

[2016-12-03 01:27] tineg opened #189 "Syntax error while loading playbook with Junos role"
Hello,

I'm facing issues whille trying to configure a QFX5100 (v14.1) via ansible (VM Ubuntu 16.04).
The following error appears and I coudn't find an error in the yaml file I use.

Basic connectivity seems OK:
![image](https://cloud.githubusercontent.com/assets/11416706/20855499/f7ce7c6e-b8fd-11e6-92b9-af64b3d6c43f.png)

junos_install_config yaml and configuration file content:
![image](https://

[2016-12-03 01:34] dgarros commented on #189
Hi

Yaml is very strict on indentation and tab.  apparently you're YAML files are not valid.

In the first example, you need to indent host and file like that
[code]

For the second issue, I would recommend to check for TAB, these are forbidden in Yaml.
Also it looks like the line -junos_get_config is not properly indented neither

[2016-12-03 01:52] tineg commented on #189
Thank you Damien,

I checked for TAB or identation problem. The get-config.yml is copy/paste from [http://junos-ansible-modules.readthedocs.io/en/1.3.0/junos_get_config.html](url).

![image](https://cloud.githubusercontent.com/assets/11416706/20855838/34082270-b903-11e6-8bcd-b3f13d5ace85.png)

Thank you in advance for your help.

[2016-12-03 01:59] dgarros commented on #189
The indentation of your file is still incorrect, also you don't need a `-` before `junos_get_config` if you define `name`.  As it, it consider that `name` is a task

Try this one
[code]

_I like the name of your host, I've been living in lyon for many years :)_

[2016-12-03 02:09] tineg commented on #189
Hey, glad to hear that you live in Lyon. It's a nice coincidence ;-)
This host is just for a LAB and it's gonna go back to his home in Amsterdam.
But I think that sooner or later its entire family (it has big brothers ;-) is gonna move to Lyon for real.

Still the same message though with your correrction:

![image](https://cloud.githubusercontent.com/assets/11416706/20855994/83c62fb2-b905-11e6-94

[2016-12-03 04:11] dgarros commented on #189
You still have an indentation issue, check my example and your file, they are different.
`name` and `junos_get_config` needs to be perfecctly aligned

[2016-12-03 11:42] tineg commented on #189
Damien,

You're right.
After this last correction the code seems OK in different Yaml online validators:

![image](https://cloud.githubusercontent.com/assets/11416706/20858991/81df8eda-b952-11e6-865c-0c3585534f17.png)

But guess what, I'm still getting an error by launching it:
![image](https://cloud.githubusercontent.com/assets/11416706/20859009/e1bd6bf6-b952-11e6-9e88-603d92506fc6.png)

Here is

[2016-12-03 14:11] tineg commented on #189
OK,

You're right, and moreover I add the proper identation under junos-get-config/junos-install-config and it's a lot better.
Indeed yaml and ansible are very sensitive with the syntax.

![image](https://cloud.githubusercontent.com/assets/11416706/20859808/0def395e-b96a-11e6-92d0-ada7683f5793.png)

![image](https://cloud.githubusercontent.com/assets/11416706/20859828/8f358f0e-b96a-11e6-92e8-2b71e

[2016-12-03 16:20] dgarros commented on #189
`Yaml` valid doesn't mean it's `Ansible` valid. I know it's a bit confusing. I think there are some tools to check if something is Ansible valid.

Regarding your new error, the variable `inventory_hostname` is fine but it's not able to reach the device at `LYON4`
need to either:
- The value of `inventory_hostname` Match an address that you can reach from your server
- You need to define a new valu

[2016-12-03 17:56] tineg commented on #189
Damien,

Thank you for answering such newbies questions.
Indeed it sounds pretty obvious now.
What is a bit confusing is that for the task "wait-for" is using the "ansible_host" variable using a kind of default authentication related to the key-based settings proposed in most of the "getting started with ansible and Junos" topics.
Is it possible not to store junos credentials in host file?
This wo

[2016-12-07 02:35] blc325 opened #190 "coercing to Unicode: need string or buffer, NoneType found"
Getting this fatal response when trying to execute playbook below on an EX4300 virtual-chassis:
TASK [perform a system snapshot] ***********************************************
fatal: [10.199.244.247]: FAILED! => {"changed": false, "failed": true, "msg": "Uncaught exception - please report: coercing to Unicode: need string or buffer, NoneType found"}

      - name: perform a system snapshot

[2016-12-07 06:53] dgarros commented on #190
Hi
Please can you provide more information to help with the troubleshooting
- Output of `request system snapshot slice alternate all-members | display xml`
- Ansible cli logs with high verbosity `-vvv`

thanks
Damien

[2016-12-07 06:53] dgarros commented on #189
revolved

[2016-12-07 06:53] #189 closed

[2016-12-07 06:54] dgarros commented on #173
Please can you re-check with the latest code on Github, I made some changes last week
thanks
Damien

[2016-12-07 16:02] blc325 commented on #190
I think it could be because there are long pauses between different parts of the message before EOF.

On Dec 6, 2016, at 10:53 PM, Damien <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi
Please can you provide more information to help with the troubleshooting

  *   Output of request system snapshot slice alternate all-members | display xml
  *   Ansible cli logs with high ve

[2016-12-07 16:05] blc325 commented on #190
Here’s an example of the XML response with long pauses between FPCs.

Last login: Mon Nov 28 14:17:36 2016 from 192.168.254.1

brianchow@ubuntu:~$ ssh root@vc

Password:

--- JUNOS 14.1X53-D35.3 built 2016-03-01 02:32:19 UTC

root@4300VC:RE:1% cli

{master:1}

root@4300VC> request system snapshot slice alternate all-members | display xml

<rpc-reply xmlns:junos="http://xml.juniper.net/junos/14.1X5

[2016-12-07 22:31] stacywsmith commented on #190
The issue is because you are not passing the `dest` argument to the `junos_cli` module.

Your task is:
[code]

The `junos_cli` module does not return the output of the cli command. Instead, it saves the output in a file specified by the `dest` argument.

The documentation for the module correctly states the `dest` argument is **[required](https://github.com/Juniper/ansible-junos-stdlib/blob/master

[2016-12-07 22:44] blc325 commented on #190
OK. Thanks Stacy. I did not know it was required. Thought it was more for logging the interaction if I wanted to.

On Dec 7, 2016, at 2:31 PM, Stacy W. Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

The issue is because you are not passing the dest argument to the junos_cli module.

Your task is:

  - name: perform a system snapshot
    junos_cli:
      host: "{{ invento

[2016-12-09 02:38] eugeneee commented on #173
Hi Damien,

Still not getting the results :( I managed to find something though, the play recap shows okay. I wonder if that's the issue. I'll ping Nitin Kumar too.

I'm using the latest junos_jsnapy code from github to test this too and the latest jsnapy callback_plugin.

root@ubuntu:/home/automation/Project/Ansible# ansible-playbook -i hosts -M './custom_modules/' /home/automation/Project/Ansibl

[2016-12-13 01:23] stacywsmith commented on #190
Handled by #193.

[2016-12-13 01:23] #190 closed

[2016-12-15 10:36] andyjsharp opened #194 "junos_rpc fails to handle parameters with a space."
[code]
This fails to produce the desired results as only the first block of the key-data is passed as an argument (E12345678) to the request-license-add rpc.

[2016-12-25 08:54] networkfoo opened #199 "rpc call on junos_zeroize hangs playbook"
whilst 'request system zeroize' is invoked correctly and run on target device, it does not return anything and hangs playbook when invoked via console
<pre>
        use_notifier(None, 'ZEROIZE', 'invoking command')
        <b>dev.cli('request system zeroize')</b>
        results['changed'] = True
</pre>
This is not a problem via netconf ssh.

`ansible-junos-stdlib 1.4.0` `junos-eznc (2.0.1)`

[2017-01-10 12:53] jeffbrl opened #200 "Request to optionally disable filesystem clean-up in junos_install_os"
By default, junos_install_os will clean up the filesystem prior to copying the image to the device.  This is not desired behavior for some network operators as their tools and procedures expect local logs to be maintained in the upgrade/downgrade process.

I'd like to request a flag for the module to prevent the filesystem clean-up.

[2017-01-17 14:40] ymitsos opened #201 "Enhancement: commit configuration despite warnings "statement not found" are raised"
ansible does not provide an efficient way to do selective committing of changes depending on the configuration available in the device. To address this issue and provided Juniper's configuration database architecture one may decide to delete a whole section of configuration and send it again to ensure consistency with the local repository.

For instance,

[code]

Another example tackles the creati

[2017-01-17 14:42] ymitsos commented on #201
and the respective PR https://github.com/Juniper/ansible-junos-stdlib/pull/168

[2017-01-17 15:05] jeffbrl commented on #201
@ymitsos Thanks for writing the PR to address this issue.

I encountered this behavior while writing a playbook to deploy a new loopback firewall filter. Ideally, network operators would be able to generate an entire config and and deploy it using the overwrite parameter. A wholesale move to config management with ansible is too difficult for large networks. An iterative approach is needed. During

[2017-01-17 20:03] jeffbrl opened #202 "Update README.md to include role installation from github"
The script mentioned in the README to add the cloned repo to $ANSIBLE_LIBRARY is useful for a test/dev environment but not production. If users of these modules accept the risk of using code that hasn't been pushed to Galaxy, let's show them how.

install_roles.yml
[code]

Then run `sudo ansible-galaxy install -r install_roles.yml`

Unfortunately, I don't see an option to install from a commit. Th

[2017-01-20 14:13] andyjsharp opened #203 "junos_install_os fails to work with NFX250"
Failure to correctly identify the version of code running on NFX.

NFX **15.1X53-D40.3** is a challenge since the RPC \<get-software-information>\<local/>\</get-software-information> returns limited data, it's not possible to use \<get-software-information/> on NFX as the correct command is "show version local" and not "show version"...
[code]
or maybe \<get-software-information>\<local/>\<detail/

[2017-01-24 14:21] dgjnpr commented on #202
@jeffbrl yes please.

[2017-01-24 21:03] mtucker502 commented on #85
@vnitinv Can you merge this into main? We need this for a customer quickly.

[2017-02-01 10:29] frederic-loui commented on #201
@ymitsos , Thanks for this PR. I second the fact that at some point the operator should have the choice to ignore specific task warning (and sometime not). Even if JUNOS is idempotent we need to make sure that the config subtree is not merged with other existing config. What would be great is to catch a message "Warning DELETE on non-existing configuration object"

[2017-02-04 00:51] stacywsmith commented on #203
@andyjsharp Can you please retry this now using latest PyEZ code with https://github.com/Juniper/py-junos-eznc/pull/659?

[2017-02-07 22:17] gizmoguy commented on #179
I believe this an issue with how netconify parses some junos versions.

They have issue 36 on their github to track this issue: https://github.com/Juniper/py-junos-netconify/issues/36

This is fixed in the as unreleased version 1.0.3 of netconify which you can install via pip/git with:

`sudo pip install --upgrade git+https://github.com/Juniper/py-junos-netconify.git`

[2017-02-15 22:42] henrchen opened #207 "allow junos_install_config to do "load update" besides "load overwrite""
Currently we can use merge, overewrite and replace.

But Junos also has a "update" switch which does almost the same thing as "overwrite", but it does not re-parse any unchanged statements.

This is helpful if we want to periodically audit our devices to make sure no unauthorized (i.e. not approved, not vision controlled) changes is made. An "overwrite" re-parse all the statements even there is no

[2017-02-24 08:52] ksator opened #208 "junos_jsnapy default lookup directory for jsnapy configuration files is not correct"
Hello,

jsnapy default lookup directory for jsnapy configuration files is /etc/jsnapy
/etc/jsnapy/jsnapy.cfg file contains default path for configuration files, snapshots and testfiles. If required, /etc/jsnapy/jsnapy.cfg can be overwrited.

junos_jsnapy default lookup directory for jsnapy configuration files is /etc/jsnapy/testfiles.
https://github.com/Juniper/ansible-junos-stdlib/blob/jsnapy/lib

[2017-02-25 05:01] blc325 opened #209 "[WARNING]: Failure using method (v2_playbook_on_stats) in callback plugin"
I get this when using the actions of ( snap_pre, snap_post, check ) in junos_jsnapy in Ansible. Works fine when using just the standalone jsnapy so I’m thinking it’s ansible related:

 [WARNING]: Failure using method (v2_playbook_on_stats) in callback plugin
(</etc/ansible/roles/Juniper.junos/callback_plugins/jsnapy.CallbackModule object at 0xb68ea42c>): 'final_result'

---
- name: BGP Audit

  ro

[2017-02-27 22:54] stacywsmith commented on #125
I believe this has been resolved. If not, please reopen the issue.

[2017-02-27 22:54] #125 closed

[2017-03-01 17:55] blc325 commented on #209
jsnapy version (1.0.1)
ansible version (2.1.0.0)

[2017-03-01 18:00] stacywsmith commented on #209
@blc325 Can you also provide the version of ansible-junos-stdlib modules and the version of PyEZ? Thanks.

[2017-03-01 19:49] blc325 commented on #209
JUNOS-eznc is 2.0.1

BTW, I had problems with the jsnapy module that came with Ansible(wouldn't even run the play) so I pulled the latest jsnapy from juniper's Ansible github and placed it in the library of the directory I ran it off of.

On Mar 1, 2017, at 10:00 AM, Stacy W. Smith <notifications@github.com> wrote:

@blc325 Can you also provide the version of ansible-junos-stdlib modules and the v

[2017-03-01 22:51] stacywsmith commented on #209
@blc325 Can you please try upgrading to the latest version of jsnapy (1.1) with:
`sudo pip install -U jsnapy`

You may also wish to re-install the Juniper.junos Ansible  role with:
`sudo ansible-galaxy remove Juniper.junos`
`sudo ansible-galaxy install Juniper.junos`

I'm concerned directly copying the junos_jsnapy role file from GitHub may have had a conflict if you didn't also update the jsnapy

[2017-03-02 02:11] blc325 commented on #209
I did but it did not help...

brianchow@ubuntu:~/ansible/my_demo$ sudo ansible-galaxy list

- Juniper.junos, 1.4.0

brianchow@ubuntu:~/ansible/my_demo$ sudo pip list | grep ansible

*ansible* (2.1.2.0)

brianchow@ubuntu:~/ansible/my_demo$ sudo pip list | grep jsnapy

*jsnapy* (1.1.0)

On Wed, Mar 1, 2017 at 2:51 PM, Stacy W. Smith <notifications@github.com>
wrote:

[2017-03-02 16:14] stacywsmith commented on #209
@vnitinv @eeishaan Since your more familiar with JSNAPy, can you please take a look at this?

[2017-03-03 04:46] dmontagner commented on #209
@blc325 I don't have a testbed to try this now, so in case you are able to test, can you please try this:

On file `/etc/ansible/roles/Juniper.junos/callback_plugins/jsnapy.py`, change the following:

[code]

with:

[code]

I suspect this may solve the problem.

[2017-03-03 17:17] blc325 commented on #209
That did not work. Not sure if this helps but final_result is a null value.
From output:

TASK [debug]
*******************************************************************

ok: [192.168.254.254] => {

    "msg": {

        "action": "check",

        "changed": false,

        "final_result": null,

        "passPercentage": 0,

        "router": "192.168.254.254",

        "test_results": {

[2017-03-04 11:16] eeishaan commented on #209
`final_result` is null only when none of the test cases are able to run. This can be caused by
1. jsnapy not being able to resolve your testfiles
2. Test cases not being able to run due some absent nodes in snapshot

I suspect former to be the case here. Do you use JSNAPY_HOME environment variable?

[2017-03-04 15:17] blc325 commented on #209
The test files did run and passed. It's a doing a diff of 2 snapshots and the result is that it did not change. changed==false see below...

msg": {

        "action": "check",

        "changed": false,

        "final_result": null,

        "passPercentage": 0,

        "router": "192.168.254.254",

On Mar 4, 2017, at 3:16 AM, Ishaan Kumar <notifications@github.com> wrote:

final_result is null

[2017-03-06 08:06] eugeneee commented on #173
This works:
root@ubuntu:/home/automation/Project/Ansible# ansible-playbook -i hosts -M './custom_modules/' /home/automation/Project/Ansible/post_activity.yml

PLAY [Post Activity] ***********************************************************

TASK [post_activity : POST CHECKLIST -- Compare PRE and POST snapshot --] ******
ok: [192.168.128.10]

TASK [post_activity : Post Checklist -- debug comparison

[2017-03-06 08:07] #173 closed

[2017-03-08 08:28] eugeneee commented on #209
@blc325 you'll need to replace jsnapy.py with this https://github.com/Juniper/ansible-junos-stdlib/blob/master/callback_plugins/jsnapy.py

Please replace at the following directory:
/etc/ansible/roles/Juniper.junos/callback_plugins

This will help. I've got it running.

[2017-03-08 11:38] vnitinv commented on #209
@blc325  @eugeneee suggestion should get you going. If you still feel the problem, I will look into this issue.

[2017-03-08 23:33] blc325 commented on #209
Hi Nitin,

I tried replacing the file but I still got the error:

TASK [debug]
*******************************************************************

ok: [192.168.254.254] => {

    "msg": {

        "action": "check",

        "changed": false,

        "final_result": null,

        "passPercentage": 0,

        "router": "192.168.254.254",

        "test_results": {

            "show bgp neighbo

[2017-03-15 10:36] vnitinv commented on #207
@henrchen We will get this feature added.

[2017-03-15 18:15] henrchen opened #216 "junos_install_config ran into RPC connection close error"
Once in a while we ran into this problem. Ansible playbook run shows RPC connection close error and switch's syslog has "missing rpc tag" (or something like that).

We can scp the config template to a switch and do a "load override" without any problem. Sometimes removing an extra tab or whitespaces could help. But not always. I can isolate the issue to certain sections in a config template. If I

[2017-03-16 20:06] stacywsmith commented on #207
This feature has been implemented by #218 and Juniper/py-junos-eznc#681.

Please test by installing the latest code for both PyEZ and the Junos Ansible modules from GitHub.

You can install latest PyEZ from GitHub with:
[code]

You can install latest Junos Ansible modules from GitHub with:
[code]

Please let us know if you experience any problems with the feature.

[2017-03-16 20:06] #207 closed

[2017-03-31 13:55] mamoudousy commented on #26
Hey i have a same problem. My error fatal: [QFX_17]: FAILED! => {"changed": false, "failed": true, "msg": "unable to connect to XX.XX.XX.XX: ConnectAuthError(XX.XX.XX.XX)"}

**My inventory**
QFX_17  ansible_connection=local ansible_ssh_host=XX.XX.XX.XX ansible_ssh_port=830    juniper_user=equiptest   juniper_passwd=****

**my playbook**

- name: test
    hosts: QFX_17
    connection: local

  role

[2017-03-31 13:58] mamoudousy opened #220 "how resolv this error PLEASE fatal: [QFX_17]: FAILED! => {"changed": false, "failed": true, "msg": "unable to connect to XX.XX.XX.XX: ConnectAuthError(XX.XX.XX.XX)""
Hey i have a same problem. My error fatal: [QFX_17]: FAILED! => {"changed": false, "failed": true, "msg": "unable to connect to XX.XX.XX.XX: ConnectAuthError(XX.XX.XX.XX)"}

**My inventory**
QFX_17  ansible_connection=local ansible_ssh_host=XX.XX.XX.XX ansible_ssh_port=830    juniper_user=equiptest   juniper_passwd=****

**my playbook**

- name: test
    hosts: QFX_17
    connection: local

  role

[2017-04-03 20:09] stacywsmith commented on #220
You are using the `junos_facts` module which comes from Ansible core rather than the `junos_get_facts` module provided by the `Juniper.junos` role.

You have two options:

1) Change `junos_facts` to `junos_get_facts` in order to use the module from the `Juniper.junos` role.

2) Use the `junos_facts` module from Ansible core correctly by:
   a) Remove `roles: Juniper.junos`
   b) Change `user={{ an

[2017-04-03 20:12] stacywsmith commented on #26
@mamoudousy Your issue is different. I responded in #220.

[2017-04-03 20:12] stacywsmith commented on #220
Incorrectly calling the `junos_facts` Ansible core module.

[2017-04-03 20:12] #220 closed

[2017-04-04 11:19] mamoudousy commented on #220
@stacywsmith Thank you for your help. i resolved my error thanks

[2017-04-05 13:35] ymitsos opened #221 "junos_get_table with response_type=juniper_items ommits information"
response_type flag defines how data are returned upon execution of the junos_get_table module. User may select either 'list_of_dicts', which is the default value, or 'juniper_items'. However, the latter returns the "key" value used in the Table definition, while the former not.

For instance, if we'd like to fetch ISIS statistics, we may define the table as follows:
[code]
setting response_type=li

[2017-04-06 00:14] epydd opened #222 "junos_install_os not supported on new srx300 series"
After trying to upgrade a SRX320, an exception is raised:

[code]

Im using:
junos-eznc (2.1.1)
Juniper.junos, 1.4.0

[2017-04-06 00:22] stacywsmith commented on #222
@epydd Can you please provide the version of Junos currently running on your SRX320, and the full name of the image you are trying to install with `junos_install_os`? In addition, can you provide the full contents of your playbook?

[2017-04-06 21:20] stoffi92 opened #223 "junos_get_facts raises exception when used with savedir option"
It seems that the commit 1c993cd in junos_get_facts introduces a problem. junos_get_facts throws an exception when used with the savedir option. The exception that we see is:

An exception occurred during task execution. The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_gmEUYy/ansible_module_junos_get_facts.py", line 268, in <module>
    main()
  File "/tmp/ansible_gmE

[2017-04-06 22:41] stacywsmith commented on #223
@stoffi92 Thanks for catching this! It's not that the problem was introduced by 1c993cd, rather that the fix in 1c993cd was incomplete. This issue is another side effect of Juniper/py-junos-eznc#638. I'm working on a fix.

[2017-04-06 22:58] #223 closed

[2017-04-07 11:41] epydd commented on #222
Current version on SRX320:
[code]

Full name:
`junos-srxsme-15.1X49-D80.4-domestic.tgz`

Playbook:
[code]

[2017-04-13 00:54] jnpr-bowen opened #226 "junos_rpc fails loading kwargs"
Regular expression on line 229 cannot deal with values in kwargs that contain valid URL characters.
The regular expression on line 229 attempts to load the kwargs string into the 'values' dictionary, but if any of the arguments is a path name, the re fails to load the full length of the string. An example what will fail:
[code]
What will show up in the rpc is <source>my_dir</source><destination>yo

[2017-04-13 05:15] jnpr-bowen commented on #226
The first example is still a problem that needs to be documented, the second example was a user error in that : has to be followed by a space for key / value separation. After that change is made, kwargs has to have a : added and then the task works.

[2017-04-13 10:43] #226 closed

[2017-04-13 10:46] vnitinv commented on #222
@epydd Can you share the output of below cli

```request system software add junos-srxsme-15.1X49-D80.4-domestic.tgz | display xml rpc```

[2017-04-13 11:38] epydd commented on #222
@vnitinv  Heres the output
<rpc-reply xmlns:junos="http://xml.juniper.net/junos/15.1X49/junos">
    <rpc>
        <request-package-add>
                <package-name>junos-srxsme-15.1X49-D80.4-domestic.tgz</package-name>
        </request-package-add>
    </rpc>
    <cli>
        <banner></banner>
    </cli>
</rpc-reply>

[2017-04-14 01:10] stacywsmith commented on #222
I have an update on this issue...

I have recreated this issue on an SRX320 and captured the following NETCONF traceoptions showing the problematic RPC:
[code]

I believe it is the `<re0/>` argument which is causing the RPC to fail. Based on this cli output with `| display xml rpc` it appears the `<no-validate/>` and `<package-name>` elements are valid:
[code]

I will continue to investigate why t

[2017-04-17 12:27] jeffbrl commented on #201
@stacywsmith Can this pull request be merged and marked in the docs as experimental? My customer found another use case for ignoring warnings. The "protect" keyword can be very useful in a lab environment for temporary configuration. Doing a "replace" action on a top level stanza currently causes a warning if that stanza has a protected section.

@ymitsos Can you please synch your fork to master?

[2017-04-18 17:59] jeffbrl commented on #201
Allow me to clarify my previous comments. I would like to see an option to ignore all warnings, not only "statement not found." I recognize the risk in encountering the ""error: too many errors; remaining input ignored" error. I am curious if there is a similar error in junos source code for attempting to replace too many protected stanzas. In the CLI, I successfully performed a 'replace' on the g

[2017-04-18 20:56] #222 closed

[2017-04-18 21:52] epydd opened #227 "junos_install_os fails to execute on a SRX320"
When trying to upgrade a SRX320, an exception is raised:

[code]

Heres the playbook:

[code]

Current version on SRX320:

[code]

Package name:
`junos-srxsme-15.1X49-D75.5-domestic.tgz`

Im using:
junos-eznc (2.1.2.dev1)
Juniper.junos, 1.4.0

A previous error junos_get_facts prevented this opretaion to conclude on SRX320, but unfortunatly it does not seem to be the only problem.

[2017-04-18 23:44] stacywsmith commented on #227
[code]

Is this the package name and location on the SRX320?

[2017-04-19 14:00] ymitsos commented on #201
@jeffbrl I just synced with master. The previous commit included two patches. The one we are addressing in this thread and another one allowing us to choose between "commit check" or "show | compare".

[2017-04-19 14:14] jeffbrl commented on #201
Thanks, @ymitsos. People who want to ignore "statement not found" in the near term can use your fork without losing the fixes to the project since Sept 2016. For those who want an "ignore_warnings" flag to ignore all warnings, we'll have to wait until the core devs determine how they want to proceed.

[2017-04-19 14:15] epydd commented on #227
No, its locally on the server running the playbook.

[2017-04-19 14:19] stacywsmith commented on #227
Then you need to remove the `no_copy: true` argument.

If `no_copy: true` is present, the module does not copy the image from the Ansible server to the target device. Instead it assumes the package file (i.e. just the filename portion of the `package` value which is `junos-srxsme-15.1X49-D75.5-domestic.tgz` in your case) is already present in the `/var/tmp/` directory of the target device. If `/va

[2017-04-19 14:51] epydd commented on #227
after removing the `no_copy` it worked!

[code]

Output from SRX320 after upgrade:

[code]

I think i was confused by this option (not leaving a file on the device, rather then using a local file)
I would suggest to update the description of the module (junos_install_os), the steps on top description, and the option `package` should consider that the file can be local on the device too.

Thanks fo

[2017-04-19 14:53] stacywsmith commented on #227
@epydd Glad your issue is resolved. Yes, I agree the documentation could be improved in this area. I'll leave this issue open to track the documentation enhancement.

[2017-04-25 06:26] vnitinv commented on #201
@jeffbrl @ymitsos We have added ignore_warning feature in PyEZ. That will be extended to to Ansible so that code is generic. Please check this:
https://github.com/Juniper/py-junos-eznc/blob/67a563b63f8872390a6242a966e77a8252120415/lib/jnpr/junos/device.py#L651

[2017-04-25 07:22] ymitsos commented on #201
Great, should we expect the patch to ansible-junos-stdlib from the maintainers or is a PR required to augment this feature?

[2017-04-25 16:35] nzkller opened #233 "Junos_Install_Os Failed to upgrade the JUNOS Host Software"
Running junos_install_os will successfully install the Junos Base OS Software Suite but its does not upgrade the Juniper Host Software in Juniper's QFX Series switches.

Juniper's Advanced JTAC Agent specified that this might create issues in the performance of the switch and it could be responsible for some of the problem we were having.

Example:

Hostname: tesw1
Model: qfx5100-48t-6q
Junos: 14.

[2017-04-25 17:05] stacywsmith commented on #233
Hi @nzkller

Sorry, I'm not familiar enough with the specific nuances of the QFX platform, so I have a couple of questions for you.

When upgrading these devices manually from the CLI, is there any difference in the actual package file that you supply to the `request system software add` command? If not, is the only difference the addition of the `force-host` argument to the command?

[2017-04-25 18:31] nzkller commented on #233
Hi @stacywsmith,

Yes you are absolutely right the only difference is the force-host argument that you add at the end.

Thank you for your reply and best regards,

Nzkller

[2017-04-25 18:35] stacywsmith commented on #233
Thanks @nzkller

It's not currently possible to pass the `force-host` argument via the `junos_install_os` module, but I will work on adding that capability.

Would you mind emailing me your JTAC case number to stacys at juniper dot net?

[2017-04-25 18:51] nzkller commented on #233
Yes, I will  let me get back to the office and I'll forward that to you.

Thanks,

Nzkller

[2017-04-25 19:02] stacywsmith commented on #233
@nzkller Can you can try out this proposed fix.

[code]

[2017-04-26 13:01] nzkller commented on #233
Hi @stacywsmith

I sent you an email with the ATAC cases as you requested.

I will try your proposed fix today. I update to Ansible 2.3 and I'm having some issues running my playbooks including paramiko giving me this error

`localhost:ERROR:login:No existing session`

Even if I run the netconify by itself

[code]
So I will try to solve this and try your fix.

Best regards,

Nzkller

[2017-04-26 13:03] epydd opened #235 "junos_get_facts displaying wrong serialnumber of the secondary node of a SRX cluster"
The get_facts on a secondary node of a SRX Cluster displays the serialnumber of the primary node.

the playbook:
[code]

the output:

[code]

[2017-04-26 13:35] nzkller commented on #233
Ok its fixed with Paramiko version 2.0.5 now im going to try your fix. Ill keep you posted.

Best regards,

Nzkller

[2017-04-26 13:39] nzkller commented on #233
HI @stacywsmith

Im getting this error while installing it

[code]
Any ideas?

Best regards,

Nzkller

[2017-04-26 14:50] stacywsmith commented on #233
@nzkller Sorry. I messed up the syntax for installing from a specific branch. Please try:
[code]

[2017-04-26 16:23] nzkller commented on #233
@stacywsmith

No problem I figured it out so I ran it and it successfully upgraded the Junos Host Software

These are the logs for the install

[code]

And the result is this one

[code]

I really appreciate the help. Works great!

Are you going to implement it into the master branch?

Thank you very much and best regards,

Nzkller

[2017-04-26 16:24] F0otsh0T opened #236 "junos_shutdown for vsrx fails with "command is not valid on the vsrx" on Ansible 2.3/Juniper.JUNOS stdlib 1.4.2"
Error:

[code]

Here's the playbook:

[code]

[2017-04-26 16:30] F0otsh0T commented on #236
[code]

[2017-04-26 18:06] nzkller commented on #233
@stacywsmith

So it did the upgrade but then I tried it in a non virtual-chassis standalone switch i got the following error

[code]

[2017-04-26 18:39] jalphonso opened #237 "junos_config doesn't work with Ansible 2.3"
junos_config worked with Ansible 2.2 and 2.2.1 but not with 2.3. The error message refers you to https://docs.ansible.com/ansible/network_debug_troubleshooting.html#category-unable-to-open-shell

[2017-04-26 19:10] nzkller commented on #233
Ok

Now it's working fine. It was the dependency py-junos-eznc. I was using version 2.1.1 and I install version 2.0.1 and it works fine. I'm using pip to install.

Should I open an issue in https://github.com/Juniper/py-junos-eznc/issues for this?

Best regards,

Nzkller

[2017-04-26 19:30] nzkller commented on #237
Hi @jalphonso

What version of the ansible-junos-stdlib are you using?

For ansible 2.3 see this https://github.com/ansible/ansible/issues/23725

Best regards,

Nzkller

[2017-04-26 20:04] F0otsh0T commented on #236
[code]

[2017-04-26 20:04] F0otsh0T commented on #236
The same error comes back for both JUNOS D70 and D30 vSRX.

[2017-04-26 20:05] jalphonso commented on #237
I believe it is the latest. I actually deployed it using our latest docker container juniper/pyez-ansible https://hub.docker.com/r/juniper/pyez-ansible/ Since junos_config is part of Ansible Core and not Ansible Galaxy how do we fix it? See https://docs.ansible.com/ansible/junos_config_module.html

[2017-04-26 21:05] ntwrkguru commented on #237
@nzkiller, it's Ansible 2.3, but as @jalphonso mentions, `junos_config` is a core module.

cc: @vnitinv @stacywsmith

[2017-04-26 21:50] stacywsmith commented on #233
@nzkller Thanks for confirming this issue is resolved by my change.

Yes. Please do file an issue against py-junos-eznc for the other problem you are seeing.

[2017-04-26 21:59] stacywsmith commented on #237
@jalphonso

Ansible enabled host key checking by default for all core networking modules in Ansible 2.3. Host key checking was previously not enabled for the core Junos modules in Ansible 2.1 and 2.2. This might be the cause of the issue you are seeing. Either ensure you have a host key for your target device(s) in ~/.ssh/known_hosts or see this http://docs.ansible.com/ansible/intro_getting_starte

[2017-04-26 21:59] #237 closed

[2017-04-26 22:02] stacywsmith commented on #236
Please configure NETCONF traceoptions on the vSRX with:
[code]

Then please provide the content of the resulting /var/log/netconf.log when this playbook is executed.

[2017-04-26 22:19] stacywsmith commented on #235
@epydd Please provide the output of `show chassis hardware | display xml ` from both the primary and secondary nodes of the SRX cluster.

[2017-04-26 22:42] F0otsh0T commented on #236
[code]

[2017-04-26 22:56] stacywsmith commented on #236
@F0otsh0T Thanks for the output.

Can you please check your installed version of PyEZ with:
[code]

I suspect you are using 2.1.1 (the current released version of PyEZ)

py-junos-eznc#700 was recently committed and should address your issue. Please upgrade to the latest development version of PyEZ from GitHub using:
[code]

Please let me know if this resolves your problem.

[2017-04-27 12:40] epydd commented on #235
[code]

[2017-04-27 16:00] F0otsh0T commented on #236
So yes, I was running junos-eznc (2.1.1).  Will try the development version.

[2017-04-27 16:31] stacywsmith commented on #233
@nzkller

I was thinking about your issue with PyEZ 2.1.1 a little more.

I think it MAY be addressed by Juniper/py-junos-eznc#700 which was recently committed. Can you please upgrade to the latest development version of PyEZ from GitHub using:
[code]

Please let me know if that resolves your problem. If not, you can open an issue against PyEZ.

[2017-04-27 17:32] F0otsh0T commented on #236
With junos-eznc (2.1.2.dev1), junos_shutdown module successfully rebooted the vSRX.  Thanks @stacywsmith !

[2017-04-28 08:54] vnitinv commented on #201
@ymitsos We will do the required changes in few days.

[2017-04-28 08:58] vnitinv commented on #236
Closing this issue. Reopen if required.

[2017-04-28 08:58] #236 closed

[2017-04-28 11:42] ymitsos commented on #79
This behavior and the error message is similar to a case we have identified some times in the past but not in a deterministic way, therefore we ignored it. Now we managed to reproduce it. See https://github.com/ncclient/ncclient/issues/189

[2017-04-28 18:09] epydd commented on #235
Is it possible to find out from the get_facts, wich of the nodes is the primary? the only way that i find out is to check the 'current-re' list and check if theres a node0 or node1 value...

Also, noted that you asked the output from both nodes... here they are:

Output node0:
[code]

ouput node1:
[code]

[2017-04-28 18:30] stacywsmith commented on #235
@epydd Thanks for including the output from node1 as well.

I need to think about the `serialnumber` fact a little more. Prior to PyEZ 2.1, the exact meaning of each fact (especially in the context of a multi-RE and/or multi-chassis system) had not been formally defined. I tried to define the meanings here:
http://junos-pyez.readthedocs.io/en/2.1.1/jnpr.junos.facts.html

I tend to agree with you t

[2017-04-28 19:03] epydd commented on #235
@stacywsmith Thanks for the response!
the `serialnumber_info` looks like a reasonable approach.

I managed to identify the primary (and secondary) node with the following:
[code]

SSH to `{{ inventory_hostname }}` on a reth interface will land on the primary node, and then
the output of get_fact would tell me if Im on node0 or node1. But this is a bad approach...

Regarding the `primary` element i

[2017-04-28 19:11] epydd commented on #235
Im not familiar with git/github, but ill learn more to be able to create a pull request...

[2017-04-28 19:25] stacywsmith commented on #235
For any facts which were previously implemented in PyEZ <= 2.0.1 I tried to ensure that PyEZ >= 2.1.0 would return the same value. I simply tried to document what the fact really is telling you, because sometimes it wasn't obvious. That's the case with the existing `master` fact.

Here's the definition of the existing `master` fact:

So, it's a list for each chassis/node and each element in the li

[2017-04-28 20:31] epydd commented on #235
Heres the output:
[code]

[code]

[2017-05-03 20:49] andyjsharp commented on #203
Testing this with 2.1.2 PyEz and 1.4.2 of the module, produces the following results with Ansible 2.2.2.0

[code]

Regards.

[2017-05-03 21:29] stacywsmith commented on #203
@andyjsharp From the CLI of the NFX250, please provide the output of:
[code]
and
[code]

[2017-05-03 21:43] andyjsharp commented on #203
root@csrj-rbo1-2001-jdm> file checksum md5 /var/tmp/jinstall-nfx-2-flex-15.1X53-D40.3.secure-domestic-signed.tgz | display xml rpc
<rpc-reply xmlns:junos="http://xml.juniper.net/junos/15.1I0/junos">
    <rpc>
        <get-checksum-information>
                <path>/var/tmp/jinstall-nfx-2-flex-15.1X53-D40.3.secure-domestic-signed.tgz</path>
        </get-checksum-information>
    </rpc>
    <cli>

[2017-05-04 19:05] JerryS3 opened #240 "can't connect, have tried many methods"
Hi,
I have been chasing this for a while. I can't seem to connect to any of my qfx10k switches. I can use python-eznc and get box facts. I can ssh to the box either as root or admin, and I have done a ssh-add to make it password free. I have upgraded eznc to github current thinking that may be the problem. I'm out of ideas...

Here is the current playbook task:
    - name: install the config onto

[2017-05-05 00:35] stacywsmith commented on #240
Can you please provide your complete playbook?

These modules don't follow the typical Ansible connection model where Ansible establishes and SSH connection to the target device, pushes the module code over that connection, and executes the module on the target device. Instead, they run locally on the Ansible host and use the PyEZ library to make a NETCONF over SSH connection to the Junos device.

[2017-05-05 00:48] JerryS3 commented on #240
If you look at the command that ansible is generating (from -vvv) is is trying to run the shell on the remote machine. The ansible machine is 10.201.0.63 and the juniper in this case was 10.201.0.41. When I looked at the requirements for the ansible role, it mentioned eznc but not PyEZ. I have the latest eznc and have done a trivial test to make sure it works. Why is my system trying to connect to

[2017-05-05 00:56] stacywsmith commented on #240
Sorry, PyEZ is the same as the `junos-eznc` package.

Ansible is trying to run it on the remote machine because you haven't specified `connection: local` for your play.

Also, assuming you installed from from Galaxy, the name of the Ansible role where the Juniper modules is installed is `Juniper.junos`. So, you want your play to contain:

[code]
rather than:
[code]

[2017-05-05 17:34] JerryS3 commented on #240
connection: local was what I missed. I got it working now.
Many thanks for the assistance.
jerry

[2017-05-05 17:35] stacywsmith commented on #240
@JerryS3 Glad it's working for you now.

[2017-05-05 17:35] #240 closed

[2017-05-08 18:09] nitzan-tz commented on #216
I have the same issue with one switch once every few times it return an error when commuting the configuration.
On the switch I get
`UI_NETCONF_ERROR: NETCONF error: syntax error, expecting <rpc>`

And on the server I get
`fatal: [switch1]: FAILED! => {"changed": false, "failed": true, "module_stderr": "/tmp/ansible_a6g_5u/ansible_module_junos_install_config.py:198: SyntaxWarning: import * only al

[2017-05-08 18:52] stacywsmith commented on #216
@henrchen @nitzan-tz

Can you each try and reproduce this problem with NETCONF traceoptions configured?
[code]

Once reproduced, please provide the full netconf.log of the entire session where it was reproduced. You can either post the NETCONF traceoptions log back to this thread or email directly to me at stacys at juniper dot net.

You can also send me details on your platform and Junos software

[2017-05-09 06:26] nitzan-tz commented on #216
The switch is QFX5100 running 14.1X53-D40.8
The wired thing is that its hard to reproduce the issue with the same
configuration it happen once every few times and only when pushing
configuration to the whole data center
I wasn't able to reproduce it when I push configuration only to that switch
with --limit

I will try to catch it with traceoptions

Nitzan

On Mon, May 8, 2017 at 9:52 PM, Stacy W.

[2017-05-09 14:46] stacywsmith commented on #216
@nitzan-tz
It doesn't surprise me that this is hard to reproduce. The issue I am suspecting only occurs when the full size of the NETCONF RPC being sent to the device falls within a 5 byte window. Changes to the size of the payload (the config file) OR to the actual RPC will effect whether or not the total RPC size falls within this window.

The 14.1X53-D40.8 version of Junos is susceptible to the

[2017-05-19 05:37] vnitinv opened #241 "junos_install_config template support"
Please add support for template option as per PyEZ load function

http://junos-pyez.readthedocs.io/en/2.1.0/jnpr.junos.utils.html#jnpr.junos.utils.config.Config.load

currently, sometimes it becomes quite tough to generate desired config using Ansible's template option.

[2017-05-23 02:53] pshemk opened #242 "get_table - rpc timeout"
I'm trying to pull the routing table using get_table:
[code]
[code]

But that times out:
[code]

The log doesn't show anything suspicious:

[code]

I suspect it might have something to do with the size of the table, so is there a way to somehow limit the scope of the request (either to given routing instance or even a single prefix)?

[2017-05-23 22:04] pshemk commented on #242
Answering my own question :-)

The way to limit the scope is to create a different table definition based on the original one, but with an argument:

route32.yml
[code]

and invoke it this way (assuming the yml file is in the same directory as the playbook):
[code]

It still would be good to have an option to increase the timeout though. Debugging ncclient clearly shows that's still receiving data

[2017-05-24 10:04] infectedgti opened #243 "junos_shutdown - XMLSyntaxError' object has no attribute 'rsp"
Hi,
I received an error when I run this script on QFX10002 :
[code]
[code]

No problem with EX4600.

Thank you for you help

[2017-05-24 13:42] stacywsmith commented on #243
@infectedgti Can you please share the version of Junos that you are using on both the QFX10002 where you are seeing this problem and on the EX4600 where you are not seeing this problem?

[2017-05-24 14:01] infectedgti commented on #243
Hi, please find the version below:
[code]
[code]

[2017-05-25 18:41] henrchen commented on #233
Stacy,

I am in need for this feature too. Is this officially released?

[2017-05-25 21:10] stacywsmith commented on #233
@henrchen This is pull request #234. It has not been merged yet. I'm just waiting on code review.

In the mean time, if you really need the fix you can install the development code with:
[code]

[2017-05-25 22:37] henrchen opened #244 "junos_install_os with NSSU get exceptions"
When I use NSSU to install OS on QFX virtual chassis device, my ansible-playbook gets exceptions.

Upgrade from JUNOS 14.1X53.D35 to D40, I get:
TASK [upgrade-os : Install Junos OS package on leaf] **************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: jnpr.j

[2017-05-26 16:58] henrchen commented on #233
Stacy,

This does not work with NSSU. It only upgrades JUNOS and host OS on the standby engine.

[2017-05-27 14:07] stacywsmith commented on #233
@henrchen Can you please provide the output from the Ansible run, and also the NETCONF traceoptions from the device? Is this due to the same Junos issue we discussed via email?

[2017-06-01 18:16] jeffbrl commented on #201
@vnitinv when do you expect to commit the changes?

[2017-06-01 21:48] japaho opened #245 "ImportError: No module name jnpr.junos OSX"
Getting this error, PyEz installed, and reinstalled. Ansible reinstalled. Any ideas?

Error from ansible-playbook:
[code]

[code]

[code]

[code]

[code]

[2017-06-01 21:52] ntwrkguru commented on #245
How are you calling the role in the playbook?

It should be:

[code]

From the error, it appears you are calling it as `jnpr.junos`.

[2017-06-01 21:55] japaho commented on #245
Already in there, apologies:

[code]

[2017-06-01 22:03] ntwrkguru commented on #245
Where is your python?

[2017-06-01 22:08] japaho commented on #245
$ type -a python
python is /Library/Frameworks/Python.framework/Versions/2.7/bin/python
python is /usr/local/bin/python
python is /usr/bin/python

$ ls -l /usr/local/bin/python
lrwxr-xr-x  1 root  wheel  68 26 May 10:32 /usr/local/bin/python -> ../../../Library/Frameworks/Python.framework/Versions/2.7/bin/python

[2017-06-01 22:11] ntwrkguru commented on #245
You'll need to set `ansible_python_interpreter` in your playbook or inventory.

[code]

[2017-06-01 22:15] japaho commented on #245
OK - That appears to have solved it! I am waiting for the upgrade to compelte. Thanks so much for your time! I will report back and close this when the playbook has completed

[2017-06-01 22:35] japaho commented on #245
All done - thanks again. Added to my notes for future referece

[2017-06-01 22:36] #245 closed

[2017-06-01 22:45] ntwrkguru commented on #245
Glad it worked! Trust me, I've been around and around with the Ansible devs and they view this as a feature, not a bug... :-( Ansible completely ignores the shebang in the role and always looks for python in `/usr/bin/python` unless that env var is set.

[2017-06-07 19:46] cvicente commented on #216
I am hitting this same problem. Here's the Ansible output:
[code]

The last lines of netconf traceoptions show the following when using Ansible and hitting the error:

[code]

As others have mentioned, a slight change in the contents of the config file avoids the error.

Also, I ran a quick py-ez script, using the same config file (XML), and I get no errors:

[code]

This particular example is on:

[2017-06-07 20:18] stacywsmith commented on #216
@cvicente Your NETCONF traceoptions and the Junos versions where you've encountered this problem do confirm that it is the same Junos issue that others have encountered. The solution is to upgrade to a Junos version which has been fixed.

A short-term workaround is to add 5 spaces to any configuration file where you encounter this problem, and then repeat the config load.

[2017-06-07 21:04] stacywsmith commented on #216
It appears that all of the cases which have been reported under this issue are the same Junos bug. Therefore, I'm closing this issue. If anyone else sees this issue, please re-open and post the output of your NETCONF traceoptions when encountering this issue.

[2017-06-07 21:04] #216 closed

[2017-06-09 00:18] Milan-Benes commented on #201
@jeffbrl
Hello, can you please elaborate on:
"For every delete line, I added a dummy set command to ensure the delete does not generate a warning." ?
I'm trying to run delete switch-options voip interface ge-0/0/0.0 (which is nonexistent in the config) and I end up with the statement not found warning.

Thank you

[2017-06-09 00:35] jeffbrl commented on #201
@Milan-Benes Sure.

Let's say that a router may or may not have a firewall filter defined. To avoid the "statement not found" error, define the filter in the most minimalist way before deleting it.

[code]

This is useful when working on networks that are not built from templates. These networks tend to be full of cruft and other forms of configuration drift. Getting such networks to a point that

[2017-06-09 05:15] Milan-Benes commented on #201
@jeffbrl
I was just staring at my screen for too long to be able to come up with something like this. It's working as expected. You have my thanks

@stacywsmith
Assembling the entire switch configuration and overwriting it at once is not nearly good enough. We sorely need support for small iterative changes.

[2017-06-10 14:02] infectedgti commented on #243
Hello, do you have somes news/solutions ?
Thank you

[2017-06-12 04:03] vnitinv commented on #243
@infectedgti This issue need to be fixed from underlying PyEZ. Will keep you posted once we have code changes with respect to this.

[2017-06-16 15:06] panks21 opened #246 "'junos_install_os' fails without 'logfile' parameter"
Tried to upgrade Junos using `junos_install_os` with Ansible 2.3.1.
If I don't provide the `logfile` parameter, it fails with following error.

'ansible-playbook junos_upgrade.yaml -vvv
Using /etc/ansible/ansible.cfg as config file

PLAYBOOK: junos_upgrade.yaml **************************************************************************************
1 plays in junos_upgrade.yaml

PLAY [Junos_Upgrade]

[2017-06-19 18:31] stacywsmith commented on #244
I suspect there are two issues here.

1) The NSSU upgrade from D35 to D40 fails due to a Junos bug. The NETCONF traceoptions log shows that the `<rpc-reply>` for the `<rpc ><request-package-nonstop-upgrade><package-name>/var/tmp/jinstall-qfx-5-flex-14.1X53-D40.8-domestic-signed.tgz</package-name></request-package-nonstop-upgrade><rpc>` RPC  includes an `<rpc-error>` element:
[code]

2) In the case

[2017-06-23 11:43] #246 closed

[2017-07-20 16:35] jnpr-bowen opened #250 "Enhancement to callback_plugins/jsnapy.py"
Using jsnapy 1.2 to get fields from the updated test_results structure.
For my project I have made a change to jsnapy.py that tries to provide an 'operator friendly' output to running of jsnapy tests in Ansible and added a keyword to the junos_jsnapy module that controls whether you get error, or error+info messages from JSNAPy. Below is sample output generated by running a test playbook. Is there

[2017-07-21 20:56] zgould opened #251 "junos_install_os Failure"
Errors that I'm receiving::

TASK [Install JunOS Software] ******************************************************************************************************
task path: /home/zgould/junos_upgrade.yml:19
Using module_utils file /usr/local/lib/python2.7/dist-packages/ansible/module_utils/basic.py
Using module_utils file /usr/local/lib/python2.7/dist-packages/ansible/module_utils/_text.py
Using m

[2017-07-21 22:39] stacywsmith commented on #251
@zgould Can you please include the content of your YAML file as a code snippet? That will avoid the formatting that seems to have occurred and allow us to see the exact content of your YAML file.

[2017-07-22 00:11] stacywsmith commented on #251
@zgould In addition, please provide the output of `ansible-playbook --version`.

[2017-07-22 04:36] stacywsmith commented on #251
@zgould No need to provide your YAML file as a code snippet. I have been able to reproduce your issue. I believe your issue is specific to the Ansible version. Can you please confirm the version of Ansible you are using?

[2017-07-23 15:50] zgould commented on #251
Stacywsmith,

I'm using:

`Ansible - 2.4.0`
`Python - 2.7.12`

Thanks.

[2017-07-24 17:46] stacywsmith commented on #251
@zgould Thanks for the version information. This issue appears to be specific to Ansible 2.4. I understand the issue, and I'm working on a fix.

[2017-07-25 19:51] zgould commented on #251
@stacywsmith

Sounds good. I rolled back to Ansible 2.3.x, and it's working like a charm now.

Thanks,

[2017-07-26 17:46] jnpr-bowen commented on #250
The code change is now in pull request #252

[2017-07-26 20:41] jnpr-bowen commented on #250
There is a condition that my pull request deals with but the message may not be "the best", looking for comments/suggestions about changing the output message.
The situation is if a test executes an RPC for which the the device is not configured, like something IS-IS related and the device is not running IS-IS. The result is that the JSNAPy result structure says one test failed, but there is no 'm

[2017-08-01 12:28] jeffbrl commented on #201
@ymitsos @Milan-Benes check out @vnitinv's ignore-warnings-support branch. This fixed the issues I encountered.

@vnitinv - When might this branch would be merged?

[2017-08-01 14:47] stacywsmith commented on #201
@jeffbrl This change were merged on 15 July via #248.

[2017-08-01 14:47] stacywsmith commented on #201
Fixed via #248.

[2017-08-01 14:47] #201 closed

[2017-08-11 21:12] zgould opened #253 "Junos_Config - ValueError: I/O operation on closed file"
`ansible 2.4.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/zgould/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
`

#############
Is

[2017-08-17 15:32] infectedgti opened #254 "Update SRX5400 Cluster ISSU"
Hi,

I'm trying to update SRX5400 in cluster using ISSU.
I've got this error :

`TASK [Update JunOS for SRX5400] **************************************************************************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: jnpr.junos.exceptio

[2017-08-17 16:01] stacywsmith commented on #254
ISSU on SRX clusters is not officially supported by by the `junos_install_os Ansible` module, or the underlying PyEZ library which does the underlying work.

That said, you MAY be able to get this to work

The issue is that this particular platform/configuration requires the `reboot` keyword to be specified. You can see this in the error message which was returned:
[code]
This message is being ret

[2017-08-18 15:36] jnpr-bowen opened #255 "Need file_name, pre_file, and post_file jsnapy parameters exposed to the junos_jsnapy module interface"
Not having access to the file parameters on the jsnapy snap and check functions precludes having a test comparison against a "golden" test result, or creating a baseline test result. Adding the parameters as optional with defaults that match the current hard coded values should add functionality and maintain backward compatibility.

[2017-08-23 15:39] #202 closed

[2017-09-01 08:02] erikruiter2 opened #259 "not possible to use delete statement for non-existing config sections"
I encountered an issue where it is not possible to use a delete statement in a set/delete based config file using the junos_install_config module.
This issue occurs when the the delete statement in the file does not exist in the active configuration of the switch.
I am using an QFX5100-48S-6Q switch.

For instance, as an example, I have a simple playbook which installs a file of set/delete stateme

[2017-09-01 19:44] stacywsmith commented on #259
@erikruiter2 ,

This is now possible with the `ignore_warning` parameter introduced in #248. Please reference the second example in that pull request.

#248 is not yet in a released version of the Juniper.junos Ansible role. Therefore, you'll need to install them from GitHub rather than Ansible Galaxy.

You can install with:
[code]

Let us know if you have any problems or additional questions.

[2017-09-01 19:44] #259 closed

[2017-09-06 12:35] ymitsos opened #260 "Passing arguments to table/views"
Hi,

Is somehow supported passing arguments to a table/view call? For instance, one might want to fetch a route of a specific prefix instead of the whole routing table, is there any way to achieve this?

[2017-09-06 13:23] vnitinv commented on #260
@ymitsos For now this is not doable with existing tables. I will try to do the required changes. But you can write/edit your custom table/view where itself such parameters (using args) can be passed. For example:

[code]
Do let me know if you face problem with this

[2017-09-06 13:34] #260 closed

[2017-09-15 08:49] stuartianbrown opened #261 "junos_install_os fails on SRX550"
When trying to upgrade an SRX550 with junos_install_os the playbook fails with the error: "message: command is not valid on the srx550"

[code]

Using versions:

junos-eznc (2.1.7.dev0)
ansible 2.3.2.0
Juniper.junos VERSION = "2.0.0+dev0"

The Playbook is as follows:

[code]

And the current version of the SRX is:

[code]

I have upgraded to the latest version of junos-eznc after reading [https://

[2017-09-15 08:52] vnitinv commented on #261
Hi @stuartianbrown Can you share netconf trace from the device

to enable netconf trace on device
http://www.juniper.net/documentation/en_US/junos12.3/topics/topic-map/netconf-traceoptions.html

[2017-09-15 09:35] stuartianbrown commented on #261
Hi,

Please find the output of the netconf trace below:

[code]

[2017-09-15 10:01] vnitinv commented on #261
@stuartianbrown Share the output of below cli command

```request system software add junos-srxsme-12.3X48-D50.6-domestic.tgz validate | display xml rpc ```

[2017-09-15 11:58] stuartianbrown commented on #261
Output below as requested:

[code]

[2017-09-18 10:41] stuartianbrown commented on #261
Further troubleshooting has indicated that this issue only occurs when the SRX550 is part of a cluster. When the cluster is broken the SRX550 upgrades without an issue using the junos_install_os module.

Is this an issue with the module or is it incompatible with clusters?

[2017-09-18 12:54] stacywsmith commented on #261
@stuartianbrown The module has had limited testing against an SRX cluster, but should work.

When the device is in a cluster, can you please try a manual upgrade of the software? Does the `request system software add` command require any additional command line parameters necessary to perform the upgrade?

[2017-09-18 12:57] stuartianbrown commented on #261
When part of a cluster the manual upgrade works without an issue with the command `request system software add /var/tmp/junos-srxsme-12.3X48-D50.6-domestic.tgz`

[2017-09-18 13:02] stacywsmith commented on #261
@stuartianbrown Does `request system software add /var/tmp/junos-srxme-12.3X48-D50.6-domestic.tgz no-validate` also work? That's the equivalent command to the RPC which is being used. I'm suspecting the SRX might not accept the `no-validate` argument when in a cluster.

[2017-09-18 13:36] stuartianbrown commented on #261
Upgrading manually with the no-validate argument while clustered works without an issue:

[code]

The issue seems closely related to this resolved issue [https://github.com/Juniper/ansible-junos-stdlib/issues/222](url) but on the SRX550 instead of SRX320.

[2017-09-18 13:54] stacywsmith commented on #261
Sorry. I think I now see the problem.

From the NETCONF log you provided:
[code]

The argument `re0` is being incorrectly added to the RPC. I'll check into this in more detail, but the fix will likely need to be in PyEZ.

[2017-09-18 13:59] stacywsmith commented on #261
This is slightly different than #222. In that case, it was a single SRX and this issue is specific to an SRX cluster.

[2017-09-18 16:46] vnitinv commented on #261
@stuartianbrown Can you also share device facts (using PyEZ script) or ansible module junos_facts

[2017-09-19 08:46] stuartianbrown commented on #261
Please find the junos_facts output below:

[code]

Serial numbers removed but everything else included.

[2017-09-19 10:56] vnitinv commented on #261
@stuartianbrown All looks good from facts.
We are looking for any similar setup in our internal lab. So that we can reproduce the issue. Will keep you posted.

[2017-09-25 14:41] stacywsmith commented on #261
@stuartianbrown
This issue should now be resolved by Juniper/py-junos-eznc#782 .

Please update PyEZ from GitHub with:
[code]
Once updated, PyEZ should report the version as: `2.1.7dev1`

Please note that, unlike some other platforms, the `junos_install_os` module can not connect to a single node of the SRX cluster and use that connection to upgrade both nodes of the SRX cluster.

Therefore, you m

[2017-09-25 14:41] #261 closed

[2017-09-26 06:05] vnitinv commented on #254
@infectedgti Closing this issue. You can re-open if Stacy's suggestion doesnt work for you. Thanks

[2017-09-26 06:05] #254 closed

[2017-09-26 09:40] stuartianbrown commented on #261
Hi @stacywsmith,

Thanks for the update but unfortunately it has caused the playbooks to throw an exception:

[code]

[2017-09-26 10:07] vnitinv commented on #261
@stuartianbrown Issue is coming from paramiko
https://github.com/paramiko/paramiko/blob/master/paramiko/ssh_gss.py#L53-L54

I don't think you need underlying module gssapi, so please uninstall this module using below command
`pip uninstall gssapi`

This should resolve the error you are getting. Once you confirm will raise the issue with paramiko.

[2017-09-26 10:32] stuartianbrown commented on #261
@vnitinv That's great! I't now working as expected.

Thanks.

[2017-09-26 20:13] stacywsmith commented on #251
@zgould I had previously been able to replicate your issue using the Ansible devel branch prior to the 2.4 releases. Now, I am no longer able to replicate the problem using the released version of Ansible 2.4.0. I'm going to close this issue. If you see the problem on a released version of Ansible, please re-open the issue.

[2017-09-26 20:13] #251 closed

[2017-09-26 20:15] stacywsmith commented on #253
@zgould You are using the `junos_config` module which is part of Ansible core, not the `junos_install_config` module which is part of the `Juniper.junos` role.

Please let us know if you still see this problem with the released version of Ansible 2.4.0. If so, we'll need to open an issue with the Ansible core team to resolve.

[2017-10-02 21:39] tentengr opened #269 "junos_cli, add 'json' to the allowed choices"
Add the 'json' value in the listed of the allowed choices for junos_cli
The addition needs just two minor changes.

[2017-10-09 12:17] mamathac opened #270 "Junos_install_os tries to install OS on RE1 when the host has single RE"
Host = VM = mam1r (IP 10.221.133.177)
while running junos_install_os for this router which has single RE, installation fails with the below error.
Module tries to install image on the other RE where as the router has only one RE.

PLAY [Junos Core Modules] ***********************************************************************************************************************************************

[2017-10-09 15:05] stacywsmith commented on #270
Hi @mamathac

Any time your opening an issue against the modules in this project, it's helpful to include the output of NETCONF traceoptions from the target Junos device. Please configure:
[code]
Then include the output from the resulting `/var/log/netconf.log` in the issue. This allows us to see the exact RPCs sent to the device, and the exact RPC responses produced by the device.

It's also help

[2017-10-10 06:44] mamathac commented on #270
Hi Stacey,

I have attached netconf log along. Pleas find in :

[ans_netconf.log](https://github.com/Juniper/ansible-junos-stdlib/files/1370792/ans_netconf.log)

2.1.7

The Juniper.junos Ansible role. Updated from galaxy:
- Juniper.junos (1.4.2) was installed successfully

Set gather_facts to 'no' and corrected image version:
   OS_version: 17.4-20170817_dev_common
   OS_package: junos-install-x86

[2017-10-11 09:21] p0xd1 opened #272 "Check installed version against desired version with force_host=yes"
I am trying to upgrade a QFX : both Junos OS and the hypervisor (Host OS).
For that i use "force_host=yes" in my playbook.
In my setup the QFX runs the following version:
Junos: 16.1R5.7
JUNOS Host Software [14.1X53-D40.8]

The OS I want to install is 16.1R5.7

But when I run the playbook the module simply decides the upgrade is not required.

The explanation is the following:

At the moment junos

[2017-10-11 12:02] mamathac opened #273 "Junos_Install_OS : Installation skips version check on the backup RE"
Scanario:
Incase backup RE OS version is not same as the one on Master, Junos_install_os skips version check on back up RE , if version matches on Master RE, installation is skipped.
This may happen if image upgrade fails on backup RE.

regress@vr3r> show version invoke-on all-routing-engines | match Junos:
Junos: 17.4-20170913_dev_common.1
Junos: 17.4-20170817_dev_common.1

Since there is no knob

[2017-10-11 13:37] stacywsmith commented on #272
@pantunez Thanks for the bug report. Please continue to use your workaround until we can apply a proper fix for this issue.

[2017-10-11 13:49] stacywsmith commented on #273
@mamathac Thanks for the bug report. Until a proper fix is applied, you can work around this issue by running the playbook directly against the IP address of RE1 rather than only having the IP address of RE0 in your inventory file.

[2017-10-11 14:35] stacywsmith commented on #270
@mamathac Can you please retest this with the latest development version of the Juniper.junos modules?

[2017-10-12 08:54] mamathac commented on #270
@stacywsmith I have uninstalled and reinstalled latest Juniper.junos module on Ansible 2.4.0.0. I still see the same issue:

root@server:/home/regress/mamathac/ANSIBLE/pb# ansible-playbook all.pb --tags ans_install_os_module

PLAY [Junos Core Modules] ****************************************************************************************************************************************************

[2017-10-12 09:25] mamathac opened #274 "Junos_shutdown : Graceful exit for Playbook needed when the device reboots."
Scenario:
1. After a successful Junos_shutdown module execution, (Reboot=Yes), playbook exits abruptly with RPC Error "\nerror: System shutdown time has arrived"
Incase the tasks are multiple, the latter ones do not run since the playbook has already exited.
2. After an image upgrade using junos_install_os, reboot set to 'yes', although installation is successful, playbook exits with same RPC Erro

[2017-10-12 14:53] zgould opened #275 "junos_install_os -- RPC Timeout on Reboot"
[code]

How do I change the RPC timeout to greater than 30 seconds? Aside from this error, the device still reboots & upgrades appropriately.

But when we get the timeout error, it stops all further tasks in the playbook from executing.

[2017-10-12 15:07] stacywsmith commented on #275
@zgould Unfortunately, I think you are hitting a Junos bug. In some releases of Junos the reply to the `<request-reboot>` RPC is incomplete. The router begins rebooting before it emits the closing `</rpc-reply>` tag. This is interpreted as an incomplete RPC reply, and we continue to wait until the rest of the RPC reply is received or the RPC timeout value.

In this case, the router is already rebo

[2017-10-12 15:18] stacywsmith commented on #274
@mamathac This is a Junos bug with an unreleased version of Junos. Closing this issue.

[2017-10-12 15:18] #274 closed

[2017-10-13 16:57] XioNoX opened #276 "ignore_warning not working for "statement has no contents""
My workflow includes to load empty blocks of configuration as explained on https://github.com/Juniper/ansible-junos-stdlib/pull/168#issuecomment-275953915
This works fine while loading and committing the configuration manually (only outputs a warning) but fails while using ansible-junos-stdlib, even with the statement: `ignore_warning: true` in 1.4.3.
My previous workaround is detailed on https://

[2017-10-13 17:12] stacywsmith commented on #276
@XioNoX The device is not producing a warning, it's producing an error
[code]

Can you provide exact details on your configuration snippet and playbook that are producing this error from the device? If you can also provide the output of "loading and committing the configuration manually (only outputs a warning) " that would also help.

There's really nothing that can be done in PyEZ/Ansible module

[2017-10-13 17:51] XioNoX commented on #276
I got confused by the error message, there was two "issues" in one.

for the record, loading for example the following on an MX:
[code]
Will throw the error as "zones" is not an acceptable statement on a MX. And will then throw a warning as well for empty "security" statement.

[2017-10-13 17:51] #276 closed

[2017-10-17 12:13] mamathac opened #277 "Junos_rollback : Confirm flag is not functional. Shows commit was not confirmed"
Case:
Here I am running a playbook with rollback to previous config with commit set to 1.
Diff shows that there is change in config, but it doesnt confirm.
On router I see "# commit confirmed will be rolled back in less than 1 minute" and soon the commit gets removed.

Playbook:
**#With a Valid rollback number.**
   - name: "junos_rollback - confirm"
     junos_rollback:
       host: "{{ inventory

[2017-10-17 13:47] stacywsmith commented on #277
@mamathac This is working as designed. I do agree the documentation could be improved.

The `confirm: "1"` is telling the module to perform the equivalent of the `commit confirmed 1` configuration-mode CLI command. In other words, you're playbook is specifically requesting that your configuration (the rollback) be rolled back if it isn't confirmed within 1 minute.

You would normally use the `conf

[2017-10-23 09:40] ric79 opened #284 "Rollback rescue"
Hello,
is it possible to use this lib to run "rollback rescue"? I tried with junos_config and junos_cli without luck

Thanks!
RR

[2017-10-23 14:20] stacywsmith commented on #284
@ric79 I don't believe it's currently possible, but we will look into adding it.

[2017-10-30 05:45] mamathac opened #288 "Module junos_rpc throwing "Unsupported parameters for (junos_rpc) module" error"
Host info:

ansible --version :  ansible 2.4.0.0
Juniper Junos role version:
VERSION = "2.0.0.dev4"
DATE = "2017-Oct-21"

**Device information**
Version: 2.1.7, Date: 2017-Sep-30
Connecting to bm-b...
Facts for bm-b:
{'2RE': True,
 'HOME': '/var/home/regress',
 'RE0': {'last_reboot_reason': '0x4000:VJUNOS reboot',
         'mastership_state': 'master',
         'model': 'RE-S-2X00x6',
         'st

[2017-10-30 05:58] stacywsmith commented on #288
This is a conflict with the core module which is also named junos_rpc. On Ansible 2.3 and 2.4, there's no way to invoke the Galaxy module because of this naming conflict.

That's part of why we're renaming the modules to avoid this conflict. Please test using the new name for this module: `juniper_junos_rpc`.

[2017-10-30 05:58] #288 closed

[2017-10-30 09:21] ric79 opened #289 "Update config"
Hello,
I'm opening this issue not for a bug but because I need help about using the commands:
I wrote two playbooks which create the main config of a QFX node.

The first one "reset" the node to a basic config:
[code]

The second one looks like:
[code]
and the config file looks like this snippet:
[code]

How can I merge these two playbooks and in one transaction reset-and-update the QFX node?

Tha

[2017-10-30 13:30] stacywsmith commented on #289
It's unclear from your message if you intend to have any of the node's existing configuration still present after these two tasks run.

If the node should contain only the configuration you've specified in your two tasks, then you can simply replace the entire configuration with the new configuration using the `update: override` option and creating a complete configuration in `src: "{{ network_cre

[2017-10-30 20:08] ric79 commented on #289
Thanks a lot! :1st_place_medal:
Override solved my problem. I'm going to generate a single file with the final config and using override I'm deleting the previous and replacing with the new one.

RR

[2017-10-30 20:08] #289 closed

[2017-11-02 06:20] mamathac opened #292 "Juniper Junos OS : Allow Routing engine selection for install OS"
Current Junos CLI allows user to select RE on which image install has to take place.
To be on the same page, allow Ansible user to specify RE, if not specified current routing engine to be taken as default.

Present behaviour:

1. request system software add <PATH/PKG> re0 . ..> installs on RE0
2. request system software add <PATH/PKG> re1 .. >> Installs on RE1
3. request system software add <PATH

[2017-11-02 09:35] mamathac opened #293 "Shutdown Module : VMs Shutdown and do not come up despite having "reboot : yes""
Tried on Several VMs and found the same issue.
Probably VMs do not reboot and remain Shut down.  Even serial connection fails.
Happens with only VM. Did not see this on Physical device.

Playbook returned "changed =1 " and device reboot message was seen.

root@vr2r>

root@vr2r>
*** FINAL System shutdown message from regress@vr2r ***

System going down IMMEDIATELY

Stopping cron.
.
Nov  2 14:55:23

[2017-11-02 13:26] stacywsmith commented on #293
@mamathac Good catch! I'm working on a fix.

[2017-11-02 14:15] #293 closed

[2017-11-05 23:45] stacywsmith opened #297 ""show configuration | display set" no longer works with junos_cli"
The following playbook previously worked to retrieve the committed configuration in set format:
[code]

In general, pipe modifiers such as `| match`, or `| count` did not work with the `junos_cli` module because the underlying `<command>` RPC which the module uses doesn't support most pipe modifiers. In the past, these modifiers caused the module to produce a rather confusing error.

When the modu

[2017-11-06 01:53] #297 closed

[2017-11-06 21:11] stacywsmith commented on #3
This is now possible via the new `juniper_junos_config` module implemented via #290.

The file on the Junos device is specified via the `url` option which allows [any URL format accepted by the device](https://www.juniper.net/documentation/en_US/junos/topics/reference/tag-summary/junos-xml-protocol-load-configuration.html), including a simple file path local to the device.

Given the following con

[2017-11-06 21:11] #3 closed

[2017-11-06 21:55] stacywsmith commented on #85
With the implementation of a common connection and authentication infrastructure in #278, this is now supported for all modules.

Given the following playbook:
[code]
and this configuration on the target Junos device:
[code]

The corresponding private key for `key_user` was stored in `~/.ssh/my_key_w_passphrase` on the Ansible control machine and had a passphrase of `user'"123` (contains both a si

[2017-11-06 21:55] #85 closed

[2017-11-06 22:19] stacywsmith commented on #91
This is now supported in the new `juniper_junos_config` module via #290.

The new `lines` option can be used to specify configuration lines as in this example playbook:
[code]

Before the playbook is run, NETCONF over SSH is enabled, but traceoptions are not enabled:
[code]

The playbook is run:
[code]

and new resulting configuration:
[code]

The `lines` option takes a list of strings. However, t

[2017-11-06 22:19] #91 closed

[2017-11-06 22:26] stacywsmith commented on #107
Closing this issue.

Ansible actually only uses the shebang line to determine that the module is written in Python. If the line contains `python`, it is assumed to be a module written in Python.

Ansible best practice is that the line actually be:
[code]

Regardless of the Python path in the shebang line, Ansible executes the module with the Python interpreter specified by the `ansible_python_inte

[2017-11-06 22:26] #107 closed

[2017-11-06 22:30] stacywsmith commented on #137
The new `juniper_junos_command` module replaces `junos_cli`. It was implemented via #285.

The new module includes better error handling and reporting of this situation and others.

[2017-11-06 22:30] #137 closed

[2017-11-06 22:35] stacywsmith commented on #147
This is an issue with the `junos_config` module shipped with Ansible core in Ansible >= 2.1. I believe this issue has been resolved in Ansible core. If not, please open an issue against the core module in [Ansible's repository](https://github.com/ansible/ansible/issues).

FYI, the new `juniper_junos_config` module implemented in this repository via #290 also supports configuration in `set` format

[2017-11-06 22:35] #147 closed

[2017-11-06 22:43] stacywsmith commented on #170
Aliases have been added to the modules in this repository via #278. All modules now support the same connection and authentication-related options as the core modules. This includes the ability to specify all connection and authentication-related options at the top level or inside a `provider` dictionary.

The full list of aliases includes:
[code]

[2017-11-06 22:43] #170 closed

[2017-11-06 22:47] stacywsmith commented on #175
The `validate` option has now been added to the new `juniper_junos_software` module via #296.

The `validate` option defaults to `False` which is equivalent to specifying the `no-validate` keyword via the CLI. That means `no-validate` is now the default.

Validation may be enabled by specifying the `validate: true` option to `juniper_junos_software`

[2017-11-06 22:47] #175 closed

[2017-11-06 22:49] stacywsmith commented on #174
We still need to look into adding this capability. However, this will require enhancements to the PyEZ fact gathering system to report whether 32-bit or 64-bit kernel is currently installed.

[2017-11-06 22:57] stacywsmith commented on #149
The new `juniper_junos_software` module implemented in #296 allows the ability to specify the `all_re: false` option. This causes the software to only be installed on the current Routing Engine. This isn't exactly what's requested in this issue, but it does allow that functionality to be implemented if a playbook is written to first connect to and upgrade the backup Routing Engine and then connect

[2017-11-06 22:57] #149 closed

[2017-11-06 23:03] stacywsmith commented on #179
@renetbo This may have been due to extraneous output being emitted one the device console (WARNING and ERROR-level syslog, ZTP progress, etc.) If that's the case, there's really nothing that can be done by the Ansible module, except to re-execute and try to avoid the extraneous messages.

The `junos_install_config` module has now been re-implemented as `juniper_junos_config` via #290. This continu

[2017-11-06 23:03] #179 closed

[2017-11-06 23:38] stacywsmith commented on #180
@renetbo Netconify is no longer used by the Ansible modules for console connectivity. Instead, the equivalent functionality is now provided by PyEZ.

Please retest this with the latest module code from GitHub. If the issue is still seen, it will need to be fixed via a PyEZ issue.

[2017-11-06 23:38] #180 closed

[2017-11-06 23:47] stacywsmith commented on #199
Please retest this using the new `juniper_junos_system` module introduced in #283.

The syntax should be:
[code]

I believe the issue should now be fixed, but would appreciate your confirmation. Please reopen this issue if it's not fixed.

[2017-11-06 23:47] #199 closed

[2017-11-06 23:54] stacywsmith commented on #200
This is now implemented via the new `juniper_junos_software` module introduced in #296.

The new `cleanfs` option supports this functionality. `cleanfs` defaults to to `true` unless the `no_copy` option is `true`. If you set `cleanfs: false`, then the `request system storage cleanup` will not be executed.

[2017-11-06 23:54] #200 closed

[2017-11-06 23:57] stacywsmith commented on #241
This is now implemented in the new `juniper_junos_config` module introduced via #290.

The `template` and `vars` options can be used to generate and load a configuration from a Jinja2 template.

Example:
[code]

[2017-11-06 23:57] #241 closed

[2017-11-07 00:01] stacywsmith commented on #269
This is implemented via the new `juniper_junos_command` module introduced via #285.

The `formats` option now accepts a value of `json`. The target Junos device must support JSON output.

[2017-11-07 00:01] #269 closed

[2017-11-07 00:04] stacywsmith commented on #275
The new `juniper_junos_software` module (#296) and the new `juniper_junos_system` module (#283) attempt to workaround this Junos bug. If you still see this issue, please reopen the issue here and also work with JTAC to address the underlying Junos issue.

[2017-11-07 00:04] #275 closed

[2017-11-07 00:06] stacywsmith commented on #284
This is now implemented via the new `juniper_junos_config` module introduced via #290.

Example playbook:
[code]

[2017-11-07 00:06] #284 closed

[2017-11-07 00:07] stacywsmith commented on #277
The documentation has been improved to clarify this functionality.

[2017-11-07 00:07] #277 closed

[2017-11-07 00:09] stacywsmith commented on #242
The new `juniper_junos_table` module introduced via #295 supports a `timeout` option which can be used to increase the RPC timeout used when retrieving table data.

[2017-11-07 00:09] #242 closed

[2017-11-07 00:18] stacywsmith commented on #253
If this issue is still present, a new issue needs to be opened in the [Ansible repository](https://github.com/ansible/ansible/issues).

[2017-11-07 00:18] #253 closed

[2017-11-07 00:21] stacywsmith commented on #227
Documentation has been updated as part of the new `juniper_junos_software` module introduced via #296.

[2017-11-07 00:21] #227 closed

[2017-11-07 22:49] ric79 commented on #284
Thanks!

[2017-11-10 03:17] stacywsmith opened #301 "After #300, now requires JSNAPy to be installed to use an module in the role."
#300 update the `junos_jsnapy` module to be `juniper_junos_jsnapy` and to use shared infrastructure code. As part of this change, the shared infrastructure code now checks and requires JSNAPy to be installed when using any module in the role, not just `juniper_junos_jsnapy`.

This is the output from a playbook which only used the `juniper_junos_facts` module:
[code]

Only the `juniper_junos_jsnapy

[2017-11-11 00:58] #301 closed

[2017-11-14 13:05] dgjnpr opened #304 "README references /playbooks as the container path but really it's /project"
The README examples say to volume map $PWD to /playbooks. However the WORKDIR is /projects. This is confusing to new users and means you have to specify the full path to the playbook if you follow the example.

Recommends fixing the README to reference the correct path

[2017-11-14 14:58] #304 closed

[2017-11-14 15:01] stacywsmith commented on #304
Thanks @dgjnpr and @ntwrkguru

[2017-11-14 17:08] stacywsmith commented on #270
@mamathac Can you reproduce this issue and provide the setup?

[2017-11-14 17:38] mamathac commented on #270
Seems like resolved in latest Juniper Junos role with Legacy Module name.(junos_install_os)

ansible-playbook Juniper_Legacy_Modules.pb.yaml -t ans_install_os_module
[WARNING]: log file at /root/.ansible/log/ansible.log is not writeable and we cannot create it, aborting

 [WARNING]: While constructing a mapping from /etc/ansible/ANS_virtualenv/pb/Juniper_Legacy_Modules.pb.yaml, line 2, column
3, f

[2017-11-14 17:39] stacywsmith commented on #270
Not reproducible with latest module code.

[2017-11-14 17:39] #270 closed

[2017-11-14 19:28] stacywsmith commented on #273
@mamathac This should not be fixed using the new `juniper_junos_software` module. Please verify.

[2017-11-14 21:09] stacywsmith commented on #292
@mamathac This is a new feature request. It will require an enhancement to PyEZ first.

[2017-11-14 22:18] stacywsmith commented on #81
In general async mode has not been thoroughly tested. It may or may not work...

With that said, this particular issue is now resolved using the new `juniper_junos_config` module.

This playbook is equivalent to the problematic playbook described in this issue:
[code]

Before the playbook is executed, there are no files in the `configs` directory:
[code]

The playbook is executed:
[code]

Files ar

[2017-11-14 22:18] #81 closed

[2017-11-14 22:33] stacywsmith commented on #59
@cvicente I'm closing this old issue. It appears to be a Junos issue rather than a bug with this module. If you are still having the problem, do reach out to me directly and I will help you work with JTAC to resolve the issue.

[2017-11-14 22:33] #59 closed

[2017-11-14 23:38] stacywsmith commented on #244
@henrchen

Please retest this with the latest `juniper_junos_software` module.

You can install the latest modules with:
[code]

Your new playbook might look something like:
[code]

(That's only a guestimate at the new playbook since we never received the content of your original playbook where this problem was seen.)

If this problem is seen on the new module, please do open a new issue.

[2017-11-14 23:38] #244 closed

[2017-11-14 23:42] stacywsmith commented on #203
@andyjsharp

Please retest this with the latest `juniper_junos_software` module.

You can install the latest modules with:
[code]

Your new playbook might look something like:
[code]

If this problem is seen on the new module, please do open a new issue.

[2017-11-14 23:42] #203 closed

[2017-11-14 23:49] stacywsmith commented on #174
Will track under Juniper/py-junos-eznc#797

[2017-11-14 23:49] #174 closed

[2017-11-14 23:52] stacywsmith commented on #233
The `force_host` option is now supported in the new `juniper_junos_software` module.

I believe the issues reported here have now been resolved. If you are still seeing a problem with the new module, please open a new issue.

[2017-11-14 23:52] #233 closed

[2017-11-15 00:25] stacywsmith commented on #194
This has now been address in the new `juniper_junos_rpc` module. `kwargs` value may contain a space if specified as a yaml dictionary.

A working example:
[code]

[2017-11-15 00:25] #194 closed

[2017-11-15 00:40] stacywsmith commented on #243
I have attempted to workaround this issue in the new `juniper_junos_system` module.

An example playbook for performing a reboot is:
[code]

This may not work around all instances of this Junos problem. If you are still seeing this issue, after trying the above playbook, please work with JTAC to address the Junos issue.

[2017-11-15 00:40] #243 closed

[2017-11-17 03:52] stacywsmith commented on #221
Please set my response to #225.

[2017-11-17 03:52] #221 closed

[2017-11-17 03:55] stacywsmith commented on #145
This is now possible with the new `juniper_junos_config` module and a `filter_xml` option specified in XML. Please see my comments on #148 for an example.

[2017-11-17 03:55] #145 closed

[2017-11-27 16:13] ric79 opened #306 "Netconf to set"
Hello,
my automation is producing the QFX configuration in netconf format. Is there an easy way to translate in set commands (without pushing the conf to node)?

[2017-11-27 16:22] stacywsmith commented on #306
Can you clarify what you mean by "netconf format"? Junos only supports configuration in text (curly brace), set, xml, and json formats.

[2017-11-27 16:55] ric79 commented on #306
In ansible I'm using a jinja template. I have a string with the junos config. There are +1000rows and the format is with curly brace. Now people is asking me to show the config packet with 'set' commands. I do not want to change my jinja template... So I'm asking you if there is a way to translate from 'curly brace' to 'set' (without pushing the config  into the node)
Rr

[2017-11-27 16:57] mamathac commented on #273
regress@homer> show version invoke-on all-routing-engines | match Junos:
Junos: 17.4-20171123.0
Junos: 17.4-20171120.0

On Backup, its an older version.

Playbook checks for:
   pkg_dir: .
   OS_version: 17.4-20171123.0
   OS_package: junos-install-mx-x86-64-17.4-20171123.0.tgz

PLAY [Testing Juniper Junos Core Modules] ******************************************************************************

[2017-11-27 17:17] mamathac commented on #273
Works fine with new Juniper_junos_software module.

[2017-11-27 17:56] stacywsmith commented on #306
The Ansible modules provided in this role do not provide this ability. I'm also not currently aware of any other tool that would provide this capability.

My suggestion would be to try and demonstrate the benefits of configuration hierarchy to the people requesting the configuration in 'set' format.

The alternative is to retrieve the candidate configuration in 'set' format, load the 'text' format

[2017-11-27 18:24] #273 closed

[2017-11-27 18:28] ric79 commented on #306
thanks

[2017-11-27 18:28] #306 closed

[2017-11-27 22:55] jhosee opened #307 "Sample Playbook for Junos Lengthy Operational Commands (ie. RSI)"
Hello,

I would like to know if there exists a sample playbook or a workaround to be able to execute lengthy operational commands such as "request support information" that contains a combination of other operational commands.

The problem I am having is that the playbook executes and runs the command, but terminates before all the "sub-commands" can finish running.  I have tried this with junos_c

[2017-11-28 19:08] crosson opened #308 "Set commands now failing on junos_install_config"
In previous versions of junos_install_config this style of playbook would succeed. This playbook running against an vsrx in eve-ng.

[code]

This now fails under an updated version with the following.
The full traceback is:
[code]

Reading the juniper_junos_config.py file shows updates in what arguments are expected. I have tried interpreting this and changed the playbook as:
[code]

Yet the same

[2017-11-29 03:02] stacywsmith commented on #308
@crosson Thanks for reporting this issue.

There have been some changes to the arguments and values that this module accepts, and the module has been renamed from `junos_install_config` to `juniper_junos_config`.

However, the old module name is still an alias, and all old arguments and values should still be accepted. The goal is 100% backwards compatibility with the 1.4.3 release of these module

[2017-11-29 19:46] stacywsmith commented on #308
@crosson

I'm sorry I didn't notice this earlier. This appears to be an installation issue with the new modules. The new modules use a library of shared code which doesn't appear to be installed on your machine.

Unfortunately, I believe this is likely an issue with the `ansible-galaxy` command. It doesn't handle upgrades cleanly. Please uninstall the modules, and then install cleanly with:
[code]

[2017-11-29 20:25] crosson commented on #308
Let me give your changes a try. I actually didn't use galaxy but just cloned this repository locally then made sure the library was in my ANSIBLE_LIBRARY or just used the --module-path argument. I find the ansible ecosystem very confusing and scattered so I haven't even begun to use galaxy yet(Maybe I Should be).

Thanks so much for the help! I'll let you know shortly if your playbook example solv

[2017-11-29 21:43] stacywsmith commented on #308
With the addition of new features and shared code, setting `ANSIBLE_LIBRARY` or specifying `--module-path` is no longer sufficient to use these modules.

You may, however, still use the modules from a clone of the repository if you follow these steps:
1) Create a `Juniper.junos` link in your `roles_path` which points to the `ansible-junos-stdlib` directory of your cloned repository. i.e.
[code]
No

[2017-12-04 17:40] stacywsmith commented on #307
Neither the core `junos_command` module nor the released version of the `junos_cli` module from this role have the ability to set the command/RPC timeout value.

However, the newly updated modules in this role (which are not yet released) do support setting a command/RPC timeout value with the `timeout` option. (The modules in this role have also been renamed, so the `junos_cli` module is now `jun

[2017-12-04 17:41] stacywsmith commented on #307
Please reopen this issue if you have further questions or problems.

[2017-12-04 17:41] #307 closed

[2017-12-04 19:56] jhosee commented on #307
Thank you, Stacy!  I will definitely try out the new modules.  Appreciate the info once again and I love reading your books btw!

[2017-12-07 01:31] bswilden opened #309 "juniper_junos_software indicates successful install when installation fails"
If the `juniper_junos_software` module only includes the `local_package` argument with `no_copy: true`, and the software package does not exist in the default location on the target device, the installation fails as expected, but the device is still rebooted, and the playbook output still indicates that the install was successful.

For example, if the module includes only the following arguments (

[2017-12-21 19:26] bswilden opened #310 "juniper_junos_system module in_min and at arguments generate errors"
When the `juniper_junos_system` module includes the `in_min` or `at` argument, the module generates an error.  The RPC includes the option value as an attribute instead of element text.

For the `in_min` argument:
[code]
[code]
The logged RPC is:
[code]
In the CLI, the RPC is:
[code]

Similarly for the `at` argument:
[code]

the generated RPC is:
[code]
In the CLI, the RPC is:
[code]

[2018-01-03 19:26] jnpr-bowen commented on #146
I would say this issue does not need a fix in junos_install_config. If there is a concern that a device might not be reachable then use the wait_for task before calling the junos_install_config task The wait_for task checks that a TCP session can be established to the device on a given port and has a timeout option to control how long to give a device to respond.

[2018-01-05 21:55] crosson opened #311 "New version of netconify does not appear to be used"
I've been trying to get a NOOB functionality with Ansible-junos using junos_install_config. Ideally we open a console connection over SSH then establish a netconf session with, 'xml-mode netconf need-trailer' followed by the config sent over netconf. The key here is we are communicating over ssh to a server connected to the qfx switches serial console port.

When using 'mode: telnet' this actually

[2018-01-05 22:11] crosson commented on #311
I should point out that the --telnet arguments on the "console: " fields do not work either.

[code]

Using mode telnet works but not with authentication turned on. Nor does it work for netconify which tells me both the module and netconify do not know how to handle authentication prompts.

Basically the only way I can get NOOB to work is by turning off the console servers authentication and runni

[2018-01-10 16:17] spidercensus opened #314 "Add shell commands"
Enhancement request:

Please provide a way to run BSD shell commands from Ansible playbooks.
Using PyEZ we can do this from the StartShell module:
[code]

[2018-01-10 16:40] stacywsmith commented on #314
This can be done today using the `<request-shell-execute>` RPC:

[code]

Running the playbook produces:
[code]

[2018-01-10 18:18] spidercensus commented on #314
True, but request-shell-execute is not supported on all devices and Junos versions.

[2018-01-10 19:52] stacywsmith commented on #309
What version of Junos is present on the router before this playbook is run?

[2018-01-10 20:09] eregimbald opened #316 "juniper_junos_config - Unicode error: Character 15997-15998"
Python: 2.7.12
Ansible: 2.4.2.0
junos-eznc: 2.1.7
junos-netconify: 1.0.2
juniper_junos_config: The one from Jan 10 2018

I'm attempting to pull a configuration from a device and I'm receiving this error:

The error was: UnicodeEncodeError: 'ascii' codec can't encode characters in position 15997-15998: ordinal not in range(128).

Playbook:

    ---
    - name: Search-config
      gather_facts: no

[2018-01-10 20:18] stacywsmith commented on #316
What version of Python is being used?

Can you please run the playbook with `-vvv` and provide the full output?

[2018-01-10 20:44] stacywsmith commented on #309
It appears this is a Junos issue specific to the MX80 platform. If I attempt to install a package which doesn't exist, then this platform produces:
[code]

Notice that the error message produced is NOT an RPC error, but just a text string in an `<output>` element which happens to contain the string `ERROR`. There's also no `<package-result>` element.

On a VMX running the same version of Junos, I

[2018-01-10 20:44] #309 closed

[2018-01-10 21:38] stacywsmith commented on #311
The Ansible modules in this repository no longer use Netconify for console connectivity. Instead, they use the console connectivity natively supported within PyEZ versions >= 2.0.

The PyEZ console capabilities do not currently support connecting to a console server via SSH transport.

Neither Netconify nor PyEZ support the ability to pass one set of credentials (username+password) for the console

[2018-01-10 21:52] stacywsmith commented on #316
On the device, the configuration uses UTF-8 encoding. It appears your configuration may contain a non-ASCII character. That's perfectly valid in your configuration, but there appears to be some code somewhere within Ansible and/or the juniper_junos_config module which is incorrectly assuming the configuration is ASCII encoded.

The full `-vvv` output of the playbook execution should help determine

[2018-01-10 22:08] stacywsmith commented on #272
The version of the host software is not a fact currently provided by PyEZ. Fixing this issue will first require having PyEZ fetch this information and store it as a fact.

[2018-01-10 23:18] crosson commented on #311
OK. I think the [documentation](http://junos-ansible-modules.readthedocs.io/en/1.4.3/junos_install_config.html) still mentions netconify.

So can you confirm that the only current way to connect over console is via an unencrypted and unauthenticated telnet channel?

How do I make this feature request? Would opening a jtac case offer any assistance?

[2018-01-10 23:46] stacywsmith commented on #311
That's the documentation for the most current (1.4.3) release. That release _does_ still use netconify for it's console connectivity. However, the current code in the repository is for the upcoming 2.0 release. The documentation for the current code in the repository can be found [here](http://junos-ansible-modules.readthedocs.io/en/latest/).

That is correct.

You already have. This issue is mark

[2018-01-10 23:48] crosson commented on #311
Thank you.

[2018-01-11 15:47] eregimbald commented on #316
@stacywsmith

I think you're right, I did a regex for [\x80-\xFF] in the device's configuration and it caught some of the whitespace between words in object descriptions.

Here is the -vvv

https://hastebin.com/ruhuxajuba.md

[2018-01-11 16:29] #310 closed

[2018-01-12 00:04] #316 closed

[2018-01-12 00:05] stacywsmith commented on #316
Thanks for the info. That was exactly what I needed to reproduce and fix the issue.

[2018-01-12 17:14] jalphonso opened #321 "2.0 release doesn't work in Ansible AWX/Tower"
[DEPRECATION WARNING]: junos_install_config is kept for backwards compatibility
 but usage is discouraged. The module documentation details page may explain
more about this rationale.. This feature will be removed in a future release.
Deprecation warnings can be disabled by setting deprecation_warnings=False in
ansible.cfg.
TASK [snmp : Deploy Junos config to device] ******************************

[2018-01-12 18:20] stacywsmith commented on #146
@AndyMan1 I think your request is valid. As you point out, this capability needs to first be added to PyEZ. Can you please open a corresponding issue against PyEZ?

I feel the workaround @jnpr-bowen suggests by first checking reachability to the device using the `wait_for` module is reasonable and best practice for Ansible. However, that doesn't address the native PyEZ need for a connection timeou

[2018-01-12 18:22] stacywsmith commented on #321
Based on email conversation, I believe your issue has been addressed. If not, please re-open this issue.

[2018-01-12 18:22] #321 closed

[2018-01-12 18:25] stacywsmith commented on #235
This requires an enhancement to PyEZ to add a new `serialnumber_info` fact. Once this is done in PyEZ, the information will automatically be available in the facts provided by `juniper_junos_facts`.

[2018-01-12 18:43] hl1234 opened #322 "No module named plugins.action.normal using 2.0.0"
I have found myself in a confusing situation since I just started trying to use Juniiper.junos this week with most of my progress yesterday.  I was also going through rebuilding my python environment with pyenv.  So I got back to a working set of playbooks and decided to try the 2.0.0 version.  That is when I encountered the error "No module named plugins.action.normal". The only change I made bet

[2018-01-12 19:17] jalphonso commented on #321
Thank you Stacy. Here are the steps I performed to remedy the particular issue as well as install other required dependencies for this role in my env. Also per 7.1 https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html I activated the Ansible venv before installing the Python dependencies
docker exec -it awx_task /bin/bash 
. /var/lib/awx/venv/ansible/bin/activa

[2018-01-12 20:54] stacywsmith commented on #321
@jalphonso Thanks for documenting your fix.

[2018-01-13 02:14] stacywsmith commented on #322
I'm pretty sure this problem is because you have Ansible installed in a virtualenv, but then when the module runs on the localhost it's not running inside the virtualenv.

There were some changes between version 1.4.3 and 2.0.0 that would explain why this works in 1.4.3, but not in 2.0.0.

I won't go into the details on why this is needed, but I believe you can get 2.0.0 working by setting the `an

[2018-01-15 19:53] eregimbald opened #323 "juniper_junos_config - Diff option - TypeError: write() argument 1 must be unicode, not str"
I'm getting this error with some devices when trying to retrieve a diff.

    The full traceback is:
    Traceback (most recent call last):
      File "/tmp/ansible_sutk43/ansible_module_juniper_junos_config.py", line 1147, in <module>
        main()
      File "/tmp/ansible_sutk43/ansible_module_juniper_junos_config.py", line 1089, in main
        junos_module.save_text_output('diff', 'diff', dif

[2018-01-15 19:54] stacywsmith commented on #323
@eregimbald I'm looking into this now. It seems my fix for your previous problem was complete. We now handle configs with non-ASCII unicode characters correctly, but in the process I broke support for the much more common ASCII-only configs.

[2018-01-15 20:32] eregimbald commented on #323
I was afraid you'd say that. Let if know if I can help.

On Mon, Jan 15, 2018 at 2:54 PM, Stacy W. Smith <notifications@github.com>
wrote:

--
Emmanuel Régimbald - Data Center Engineer
613-699-7761 | eregimbald@fuze.com
436 Hazeldean Road, Suite 202 | Kanata, ON, K2L 1T9

--
*Confidentiality Notice: The information contained in this e-mail and any
attachments may be confidential. If you are not an

[2018-01-15 21:26] #323 closed

[2018-01-15 21:42] stacywsmith commented on #323
I believe I have now fixed this. I have created a 2.0.1 release which includes this fix. Please let me know if you have any additional issues.

[2018-01-16 18:38] eregimbald commented on #323
It's fixed! Thanks

On Mon, Jan 15, 2018 at 4:42 PM, Stacy W. Smith <notifications@github.com>
wrote:

--
Emmanuel Régimbald - Data Center Engineer
613-699-7761 | eregimbald@fuze.com
436 Hazeldean Road, Suite 202 | Kanata, ON, K2L 1T9

--
*Confidentiality Notice: The information contained in this e-mail and any
attachments may be confidential. If you are not an intended recipient, you
are hereby n

[2018-01-16 21:46] eregimbald opened #326 "juniper_junos_config - Unexpected XML tag returned on grabbing a config in set commands"
Ansible: 2.4.2.0
Python: 2.7.12
Junos-eznc: 2.1.7
Junos-netconify: 1.0.2
jxmlease: 1.0.1

I have a playbook that grabs the configuration from a list of devices and then parses them for a specific keyword. On certain devices I get the error "Unexpected XML tag returned".

Here's a partial -vvv output. The full version also includes the device's config in XML but I'd prefer to share this through ema

[2018-01-16 22:26] stacywsmith commented on #326
@eregimbald It would be helpful to see the full unedited version of the output. Could you please share that with me via private email to stacys at juniper dot net?

[2018-01-16 23:14] stacywsmith commented on #326
Private email confirmed that the device return the configuration in "xml" format even though "set" format was requested. In addition, the device was confirmed to be running Junos 12.3.

According to [this URL](https://www.juniper.net/documentation/en_US/junos/topics/task/operational/junos-xml-protocol-requesting-configuration-information-output-format.html), downloading the configuration in "set"

[2018-01-16 23:14] #326 closed

[2018-01-17 18:13] eregimbald commented on #326
Thanks, sorry I missed that.

On Tue, Jan 16, 2018 at 6:14 PM, Stacy W. Smith <notifications@github.com>
wrote:

--
Emmanuel Régimbald - Data Center Engineer
613-699-7761 | eregimbald@fuze.com
436 Hazeldean Road, Suite 202 | Kanata, ON, K2L 1T9

--
*Confidentiality Notice: The information contained in this e-mail and any
attachments may be confidential. If you are not an intended recipient, you
ar

[2018-01-17 18:26] stacywsmith commented on #326
@eregimbald Here's a potential workaround.

The `juniper_junos_command` module lets you execute `show configuration | display set` which does work on pre 15.1 Junos versions.

If you need to save the config to a file, use the `dest` or `dest_dir` options. If you need to use the config in later tasks, use the `stdout` string or `stdout_lines` list in the response as shown here:
[code]

and running

[2018-01-17 18:52] eregimbald commented on #326
@stacywsmith

This is interesting because the documentation for juniper_junos_command specifically states that "pipe modifiers" are not supported. I tried using this earlier this week and was hit with this type of error.

      eregimbald@eregimbald-ubuntu:/media/sf_ansibleshare/network-ansible$ ansible-playbook send-cli.yml
      Enter host or inventory group: sw-edge-bos-d
      Enter your comma

[2018-01-17 18:54] eregimbald commented on #326
The playbook in question:

    ---
    - name: Send CLI command
      connection: local
      gather_facts: no
      roles:
        - Juniper.junos

      vars_prompt:
        - name: "target"
          prompt: "Enter host or inventory group"
          private: no
        - name: command
          prompt: Enter your command (string or list)
          private: no
          default: "request snmp sp

[2018-01-17 19:08] stacywsmith commented on #326
This is generally true, and it's not a limitation of the Ansible module, but a limitation of Junos. As explained in the documentation, this module doesn't actually execute a command at the CLI. Instead, it uses the `<command>` RPC over a NETCONF session. The `<command>` RPC itself doesn't support most pipe modifiers. The only exception is `| display <format>`. However, most of the time you don't e

[2018-01-17 19:29] eregimbald commented on #326
Makes sense, thanks.

It seems like the older dest option has more functionality than dest-dir, why not allow dest-dir to include a specific filename?

[2018-01-17 19:34] eregimbald commented on #326
Should I create an issue for the pipe in the filename?

On Wed, Jan 17, 2018 at 2:08 PM, Stacy W. Smith <notifications@github.com>
wrote:

--
Emmanuel Régimbald - Data Center Engineer
613-699-7761 | eregimbald@fuze.com
436 Hazeldean Road, Suite 202 | Kanata, ON, K2L 1T9

--
*Confidentiality Notice: The information contained in this e-mail and any
attachments may be confidential. If you are not an

[2018-01-17 19:40] stacywsmith commented on #322
Please reopen this issue if my suggestion doesn't fix your problem.

[2018-01-17 19:40] #322 closed

[2018-01-17 19:41] stacywsmith commented on #326
A new issue for | in filename is not necessary. I have #328 in progress to address it.

[2018-01-17 21:16] stacywsmith commented on #326
In what way do you feel `dest` has more functionality?  I think they currently compliment each other, but I do welcome feedback.

The `dest` argument requires the user to specify a specific filename. It's the users responsibility to ensure that the filename is unique within their playbook.

The `dest_dir` argument requires the user to specify a directory and assumes a filename of `{{ inventory_hos

[2018-01-17 21:28] eregimbald commented on #326
I had not considered the outcome of using multiple commands. I'm reluctant
to use the "dest" option because the documentation states that it's
deprecated, so I can't help but wonder if one day it will be completely
removed and I'll have to retroactively update my playbooks. I try to make
everything work with the new way of doing things. If you plan on keeping
the old "dest" option indefinitely per

[2018-01-17 21:50] stacywsmith commented on #326
deprecated, so I can't help but wonder if one day it will be completely
removed and I'll have to retroactively update my playbooks. I try to make
everything work with the new way of doing things. If you plan on keeping
the old "dest" option indefinitely perhaps clarifying the documentation to
illustrate the pros and cons of both options could be a good idea.

I'm sorry about the documentation in t

[2018-01-17 22:03] stacywsmith opened #329 "Improve docs around dest and dest_dir arguments"
Explain the differences between `dest` and `dest_dir` arguments. Especially when multiple commands/RPCs are specified. List pros and cons of both.

The documentation currently states that `dest` is deprecated. It should not be deprecated. There are valid use cases for both `dest` and `dest_dir`.

[2018-01-24 14:06] stuartianbrown opened #331 "Juniper_junos_software ISSU error for SRX"
When attempting an ISSU using the module juniper_junos_software on an SRX550 an error is thrown for the number of routing engines:

[code]

However, running the command on the device itself works:

```request system software in-service-upgrade junos-srxsme-12.3X48-D50.6-domestic.tgz no-sync```

The playbook I'm using is:

[code]

[2018-01-25 02:04] ataneja1 opened #332 "Juniper.junos roles skipping junos galaxy modules to execute"

[2018-01-25 18:08] ataneja1 commented on #332
Today I removed the galaxy Juniper.junos and uninstall pip ansible.
Installed brew ansible and ran again, getting this error now -

File "/Users/ankurtaneja/.ansible/roles/Juniper.junos/module_utils/juniper_junos_common.py", line 39, in <module>
    from ansible.plugins.action.normal import ActionModule as ActionNormal
ImportError: No module named plugins.action.normal

=======

ansible --version

[2018-01-29 15:02] maxdevyatov opened #333 "juniper_junos_software ncclient.operations.errors.TimeoutExpiredError on dev.close"
After issuing reboot command dev.close() can timeout with nccclient exception.
Currently, there is no proper exception handling for a timeout.
`def close(self, raise_exceptions=False):
  <...>
            except (pyez_exception.ConnectError,
                    pyez_exception.RpcError) as ex:
`

Handling ncclient timeout exception must be added to PyEz Juniper/py-junos-eznc#787 and
handling EzErro

[2018-01-30 01:30] #332 closed

[2018-02-01 00:43] stacywsmith commented on #333
handling EzErrors.RpcTimeoutError must be added to juniper_junos_common module.

Only Juniper/py-junos-eznc#787 is needed to address this issue.

Per the comment [here](https://github.com/Juniper/ansible-junos-stdlib/blob/master/module_utils/juniper_junos_common.py#L1290-L1294) `RpcTimeoutError` is a sub-class of `RpcError`. Once Juniper/py-junos-eznc#787  is implemented, this condition will cause

[2018-02-01 14:10] cvicente commented on #216
@stacywsmith do you by chance have the PR number for this bug? We are exploring upgrades and want to make sure that we pick exact versions where this bug is fixed. Thanks.

[2018-02-01 14:59] stacywsmith commented on #216
@vnitinv Can you work with @cvicente to identify the PR and fixed versions?

@cvicente I am no longer a Juniper employee so I don't have access to the PR database.

[2018-02-07 21:08] RedLine89 opened #334 "Ansible Junos_rpc module multiple RPCS kwarg=None"
Hello,

I am trying to pack multiple RPCs into on one "query" to save some cycles.

As per "juniper_junos_rpc" documentation there should be a one-to-one correspondence between the elements in the kwargs list and the RPCs in the rpcs list, which is fair, but it is problematic if some RPCs require not a single argument.

Example:
[code]
I am looking to get "show interfaces" (get-interface-informati

[2018-02-14 15:54] imkwx opened #335 "Configuration not complete when using juniper_junos_facts"
Hi!

I am currently trying to get the configuration using juniper_junos_facts (because I don't want/need to save it locally), but when I try to get the config of a EX2200-C, I only get the first line of the configuration :
[code]

Here's the playbook I'm using:
[code]

I can't reproduce this on switches like EX3300 or EX4300.

Any ideas where this is coming from?

Thanks for the modules they're so

[2018-02-14 16:17] stacywsmith commented on #335
What version of Junos is the EX2200-C running?
What happens if you use `config_format: text`?

It looks like you've specified `config_format: xml`, but the EX2200-C is incorrectly returning the config in text format.

[2018-02-14 16:28] imkwx commented on #335
Thanks for the fast answer !

Current version is JUNOS 12.3R12.4,
I already tried using ```config_format: text``` got the same result :

[code]

[2018-02-19 15:28] vnitinv commented on #335
@imkwx Can you please enable netconf trace on Junos and share the logs.

[2018-02-23 14:21] dfex commented on #322
FWIW I see this issue too without a virtualenv - hard-coding the ansible_python_interpreter var fixes this as you suggest, but I'm just setting it to the path that I'm extracting from ansible --version and/or ansible localhost -m setup:

Python 3.6.3
ansible 2.4.2.0
  config file = None
  configured module search path = ['/Users/bendale/.ansible/plugins/modules', '/usr/share/ansible/plugins/module

[2018-02-23 16:35] stacywsmith commented on #322
Yes, it's still required in this case. Any time the Python you are using is not in `/usr/bin/python`, you *must* explicitly set it with the `ansible_python_interpreter` setting. This has to do with Ansible's behavior.

The modules execute in a separate process on the control machine. Regardless of which Python interpreter kicked off the `ansible` or `ansible-playbook` command, the process executin

[2018-02-24 20:14] dfex commented on #322
That would explain it - thank you very much @stacywsmith

[2018-03-13 19:46] RedLine89 commented on #334
Hello,

Any chance this functionality will be added soon?

Thanks,

Alex

[2018-03-14 20:27] achhabr1 opened #339 "Juniper.Junos role "juniper_junos_facts" Module Failure"
Hi

At first environment set up explanation

1. Setting up in virtual environment
2. I downloaded all the dependencies required.
3. Ansible-galaxy didn't help with this install.
4. Manually copied src-code
5. Created all the necessary directories and extracted modules.
5. Run Source env-setup to add module path.
7. As per logs right module and right ansible are being used. But still getting follow

[2018-03-14 20:31] stacywsmith commented on #339
Please read ALL of the thread under #322. I suspect this is your issue.

[2018-03-14 20:54] achhabr1 commented on #308
I am facing the same issue. I have opened up a new bug on this.

[2018-03-14 21:42] itsgc opened #340 "juniper_junos_config returns "check_mode not supported" when attempting to run ansible-playbook --check"
Good Morning,

We have a mostly juniper fleet, with 100% ansible coverage on access switches and various degree of coverage on the Layer 3 gear. We are running version 1.4.2 of ansible-junos-stdlib.

Currently, we tipically run ansible in check_mode first, validate the diff that gets produced and if deemed acceptable, the neteng re-runs ansible without check_mode to deploy the change and commit it

[2018-03-14 22:24] stacywsmith commented on #340
I would consider this a bug. Check mode should work.
However, I'm unsure if it's a bug in the module, or a bug in Ansible.

[2018-03-14 22:27] itsgc commented on #340
the same ansible version (2.3.1.0) works as intended with the older library version. Our whole setup is in git so im happy to branch out and do tests. Is there a version of ansible you would like me to try instead of 2.3.1.0? Thanks for looking into this!